<template>
    <div>
        <PageBanner title="Contact Us" :image_url="banner_image_url" />

        <div class="container pt-40 pb-40 n-pt-60 n-pb-60">
            <div class="row">
                <div class="col-12 n-col-6 mb-40 n-mb-0">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.605860983804!2d106.8234127724446!3d-6.183472461558811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f42ee8c4840f%3A0xa5d82bd38a203fbf!2sMenara%20Ravindo!5e0!3m2!1sen!2sid!4v1626191826565!5m2!1sen!2sid"
                            width="100%"
                            height="100%"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                        ></iframe>
                    </div>
                </div>
                <div class="col-12 n-col-6">
                    <div class="n-pl-40">
                        <h2 class="h3">Reqruit Asia</h2>
                        <div class="row">
                            <div class="flex items-center col-1">
                                <img src="~/assets/images/icons/i-loc.png" />
                            </div>
                            <div class="col-11">
                                <p>
                                    PT. Quantum Select Indonesia <br />
                                    Menara Ravindo 16th Floor, Jl. Kebon Sirih
                                    Kav. 75, Jakarta 10340
                                </p>
                            </div>
                            <div class="flex items-center col-1">
                                <img src="~/assets/images/icons/i-email.png" />
                            </div>
                            <div class="col-11">
                                <p>info@qsirecruit.com</p>
                            </div>
                            <div class="flex items-center col-1">
                                <img src="~/assets/images/icons/i-phone.png" />
                            </div>
                            <div class="col-11">
                                <p>
                                    Phone : +62 21-2123-1489 <br />
                                    Fax : +62 21-2123-1489
                                </p>
                            </div>
                        </div>
                        <div class="flex mt-30">
                            <button
                                type="button"
                                class="btn btn--primary mr-10"
                                @click="scrollToForm"
                            >
                                <span class="icon mr-5"
                                    ><IconEmail path_fill_color="#ffffff"
                                /></span>
                                <span class="text">Send a form</span>
                            </button>
                            <a
                                href="https://wa.link/dcqp68"
                                class="btn btn--primary"
                                target="_blank"
                            >
                                <span class="icon mr-5"
                                    ><IconWhatsapp path_fill_color="#ffffff"
                                /></span>
                                <span class="text">Chat 1 : 1</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white relative pt-40 pb-40 n-pb-60">
            <div class="container">
                <div class="contact-form-wrapper row">
                    <div class="col-12 n-col-5">
                        <div
                            v-if="sent"
                            class="p-10 rounded bg-primary-light color-white b-1 b-primary"
                        >
                            {{ success_message }}
                        </div>
                        <form
                            v-else
                            @submit.prevent="send"
                            id="contact-form"
                            class="form n-pr-40"
                        >
                            <h2 class="h3 mb-20">Send Us Your Inquiries</h2>
                            <div class="form__group">
                                <label for="contact-name" class="form__label">
                                    Name*
                                </label>
                                <input
                                    id="contact-name"
                                    type="text"
                                    placeholder="Fullname"
                                    class="form__control"
                                    v-model="form.name"
                                    @blur="$v.form.name.$touch()"
                                />
                                <span
                                    v-if="errors.name || $v.form.name.$dirty"
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.name">{{
                                        errors.name[0]
                                    }}</span>
                                    <span v-if="$v.form.name.$invalid"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                            <div class="form__group">
                                <label for="contact-email" class="form__label">
                                    Email*
                                </label>
                                <input
                                    id="contact-email"
                                    type="email"
                                    placeholder="Email Address"
                                    class="form__control"
                                    v-model="form.email"
                                    @blur="$v.form.email.$touch()"
                                />
                                <span
                                    v-if="errors.email || $v.form.email.$dirty"
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.email">{{
                                        errors.email[0]
                                    }}</span>
                                    <span v-if="$v.form.email.$invalid"
                                        >Required field and must valid
                                        email!</span
                                    >
                                </span>
                            </div>
                            <div class="form__group">
                                <label for="contact-phone" class="form__label">
                                    Phone*
                                </label>
                                <input
                                    id="contact-phone"
                                    type="text"
                                    placeholder="Phone Number"
                                    class="form__control"
                                    v-model="form.phone"
                                    @blur="$v.form.phone.$touch()"
                                />
                                <span
                                    v-if="errors.phone || $v.form.phone.$dirty"
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.phone">{{
                                        errors.phone[0]
                                    }}</span>
                                    <span v-if="$v.form.phone.$invalid"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                            <div class="form__group">
                                <label
                                    for="contact-message"
                                    class="form__label"
                                >
                                    How We Can Help?
                                </label>
                                <textarea
                                    id="contact-message"
                                    placeholder="Message"
                                    class="form__control"
                                    rows="5"
                                    v-model="form.message"
                                    @blur="$v.form.message.$touch()"
                                >
                                </textarea>
                                <span
                                    v-if="
                                        errors.message || $v.form.message.$dirty
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.message">{{
                                        errors.message[0]
                                    }}</span>
                                    <span v-if="$v.form.message.$invalid"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                            <button
                                type="submit"
                                class="btn btn--primary"
                                :disabled="sending || $v.$invalid"
                            >
                                <span v-if="sending">Sending...</span>
                                <span v-else>Submit</span>
                            </button>
                        </form>
                    </div>
                    <div class="col-12 n-col-7 mb-40 n-mb-0">
                        <div class="rectangle"></div>
                        <div class="img-form n-mt-100">
                            <img
                                src="~/assets/images/having-a-productive-pause.png"
                                class="img-fluid"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PageBanner from "~/components/Share/PageBanner";
import IconEmail from "~/components/Icon/IconEmail";
import IconWhatsapp from "~/components/Icon/IconWhatsapp";
import { required, email } from "vuelidate/lib/validators";

export default {
    components: {
        PageBanner,
        IconEmail,
    },
    head() {
        return {
            title: this.meta_title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: "Reqruit contact page",
                },
                {
                    hid: `og:title`,
                    property: "og:title",
                    content: "Contact Us",
                },
            ],
        };
    },
    data() {
        return {
            banner_image_url: `${require("@/assets/images/header-contact.png")}`,
            sending: false,
            sent: false,
            success_message: "Lorem ipsum",
            form: {
                name: "",
                email: "",
                phone: "",
                message: "",
            },
        };
    },
    validations: {
        form: {
            name: { required },
            email: { required, email },
            phone: { required },
            message: { required },
        },
    },
    methods: {
        scrollToForm() {
            var element = document.getElementById("contact-form");
            var headerOffset = 100;
            var elementPosition = element.getBoundingClientRect().top;
            var offsetPosition =
                elementPosition + window.pageYOffset - headerOffset;

            window.scrollTo({
                top: offsetPosition,
                behavior: "smooth",
            });
        },
        send() {
            this.sending = true;

            this.$axios
                .post("contact", this.form)
                .then((res) => {
                    this.sent = true;
                    this.success_message = res.data.message;
                })
                .catch((err) => {
                    console.log(err.response);
                    this.axiosError(err);
                })
                .finally(() => {
                    this.sending = false;
                });
        },
    },
};
</script>

<style lang="scss" scoped>
.map {
    height: 300px;
}
</style>
