<template>
    <div class="company-reviews max-750 pt-50 pb-50">
        <div
            class="flex items-start flex-column m-flex-row justify-between m-items-center mb-25"
        >
            <h2 class="h4 bold-700 mb-15 m-mb-0">Review Company</h2>
            <div class="hide">
                <ModalTrigger
                    type="button"
                    target="new-review-modal"
                    class_names="btn btn--icon btn-outline--primary"
                >
                    <template slot="content">
                        <span class="svg-icon mr-10"><IconPencil /></span>
                        <span class="text">Write e review</span>
                    </template>
                </ModalTrigger>
            </div>
        </div>

        <div
            v-for="(review, i) in rvws.data"
            :key="i"
            class="review"
            :class="{ 'mb-50': i < rvws.data.length - 1 }"
        >
            <div class="flex items-center mb-10 t-mb-5">
                <div class="p4 mr-10">{{ review.rating }}.0</div>
                <div class="flex">
                    <div v-for="i in review.rating" :key="i" class="star mr-5">
                        <IconStarSolid />
                    </div>
                </div>
            </div>
            <div
                class="flex flex-column items-start t-flex-row t-items-center mb-10 t-mb-0"
            >
                <h4 class="h5">{{ review.user.name }}</h4>
                <span class="strip ml-10 mr-10 hide show-t">&nbsp;</span>
                <span class="color-grey">{{ review.job_title }}</span>
            </div>
            <div class="color-grey mb-10">
                {{ review.job_status.description }}
            </div>
            <div class="pt-15 bt-1 b-border">{{ review.review }}</div>
        </div>

        <div
            v-if="rvws.last_page > 1"
            class="pagination mt-50 flex items-center justify-center"
        >
            <button
                type="button"
                class="pagination__btn prev mr-10 pt-5 pb-5 pl-10 pr-10"
                @click="prev"
                :disabled="active_page === 1"
            >
                <div class="icon-svg">
                    <IconCaretLeft path_fill_color="#969696" />
                </div>
            </button>
            <button
                type="button"
                v-for="(num, i) in rvws.last_page"
                :key="i"
                class="pagination__btn num ml-10 mr-10 pt-5 pb-5 pl-10 pr-10"
                :class="{ active: num === active_page }"
                @click="goTo(num)"
            >
                {{ num }}
            </button>
            <button
                type="button"
                class="pagination__btn next ml-10 pt-5 pb-5 pl-10 pr-10"
                @click="next"
                :disabled="active_page === rvws.last_page"
            >
                <div class="icon-svg">
                    <IconCaretRight path_fill_color="#969696" />
                </div>
            </button>
        </div>

        <Modal
            title="Share your experience"
            name="new-review-modal"
            :small="true"
        >
            <template slot="body">
                <form
                    @submit.prevent="submitReview"
                    id="new-review-form"
                    class="form"
                >
                    <div class="form__group">
                        <label class="form__label">Job Status</label>
                        <div class="radio-as-button">
                            <label
                                v-for="(js, i) in review_form.job_status"
                                :key="i"
                                class="rb-container"
                            >
                                <input
                                    type="radio"
                                    :value="js.value"
                                    name="r-form-job-status"
                                    v-model="form.job_status"
                                />
                                <span class="checkmark"></span>
                                <span class="text">{{ js.text }}</span>
                            </label>
                        </div>
                        <span
                            v-if="
                                errors.job_status || $v.form.job_status.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.job_status">{{
                                errors.job_status[0]
                            }}</span>
                            <span v-if="$v.form.job_status.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label
                            for="r-form-employment-status"
                            class="form__label"
                            >Employment Status</label
                        >
                        <client-only>
                            <v-select
                                id="r-form-employment-status"
                                label="text"
                                :options="review_form.employment_status"
                                @input="employmentStatusChange"
                                placeholder="Select your option"
                            ></v-select>
                        </client-only>
                        <span
                            v-if="
                                errors.employment_status ||
                                $v.form.employment_status.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.employment_status">{{
                                errors.employment_status[0]
                            }}</span>
                            <span v-if="$v.form.employment_status.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label for="r-form-job-title" class="form__label"
                            >Job title</label
                        >
                        <input
                            type="text"
                            id="r-form-job-title"
                            class="form__control"
                            v-model="form.job_title"
                            placeholder="Fill your job title"
                            @blur="$v.form.job_title.$touch()"
                        />
                        <span
                            v-if="
                                errors.job_title || $v.form.job_title.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.job_title">{{
                                errors.job_title[0]
                            }}</span>
                            <span v-if="$v.form.job_title.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label for="r-form-review" class="form__label"
                            >Review</label
                        >
                        <textarea
                            type="text"
                            id="r-form-review"
                            class="form__control"
                            rows="3"
                            v-model="form.review"
                            placeholder="Tell your story with us..."
                            @blur="$v.form.review.$touch()"
                        ></textarea>
                        <span
                            v-if="errors.review || $v.form.review.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.review">{{
                                errors.review[0]
                            }}</span>
                            <span v-if="$v.form.review.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label">Overall Rating</label>
                        <div class="flex items-center">
                            <button
                                v-for="(num, i) in 5"
                                :key="i"
                                type="button"
                                class="btn-star mr-5"
                                :class="{ active: num <= form.rating }"
                                @click="form.rating = num"
                                :title="num"
                            >
                                <div class="icon-svg">
                                    <IconStarBlank />
                                </div>
                            </button>
                        </div>
                        <span
                            v-if="errors.rating || $v.form.rating.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.rating">{{
                                errors.rating[0]
                            }}</span>
                            <span v-if="$v.form.rating.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <button
                        type="submit"
                        class="btn btn--block btn--primary mt-30"
                        :disabled="$v.$invalid || processing"
                    >
                        <span v-if="processing">Processing...</span>
                        <span v-else>Submit</span>
                    </button>
                </form>
            </template>
        </Modal>
    </div>
</template>

<script>
import IconStarSolid from "~/components/Icon/IconStarSolid";
import IconStarBlank from "~/components/Icon/IconStarBlank";
import IconPencil from "~/components/Icon/IconPencil";
import IconCaretLeft from "~/components/Icon/IconCaretLeft";
import IconCaretRight from "~/components/Icon/IconCaretRight";
import Modal from "~/components/Share/Modal/Modal";
import ModalTrigger from "~/components/Share/Modal/ModalTrigger";
import { required } from "vuelidate/lib/validators";

export default {
    props: {
        company: {
            type: Object,
            required: true,
        },
        reviews: {
            type: Object,
            required: true,
        },
        review_form: {
            type: Object,
            required: true,
        },
    },
    components: {
        IconStarBlank,
        IconStarSolid,
        IconPencil,
        IconCaretLeft,
        IconCaretRight,
        Modal,
        ModalTrigger,
    },
    data() {
        return {
            active_page: 1,
            rvws: this.reviews,
            processing: false,
            form: {
                job_status: "",
                employment_status: "",
                job_title: "",
                review: "",
                rating: 0,
            },
        };
    },
    validations: {
        form: {
            job_status: { required },
            employment_status: { required },
            job_title: { required },
            review: { required },
            rating: { required },
        },
    },
    methods: {
        prev() {
            this.goTo(this.active_page - 1);
        },
        next() {
            this.goTo(this.active_page + 1);
        },
        goTo(num) {
            this.active_page = num;

            this.$axios
                .$get(`company/${this.company.slug}/reviews?page=${num}`)
                .then((res) => {
                    this.rvws = res.data;
                })
                .catch((err) => {
                    console.log(err.response);
                });
        },
        employmentStatusChange(value) {
            if (value == null) {
                return;
            }
            this.form.employment_status = value.value;
        },
        submitReview() {
            this.processing = true;
            this.$axios
                .post(`/company/${this.company.slug}/review`, this.form)
                .then((res) => {
                    this.$nuxt.$emit("close-modal", "new-review-modal");
                    this.swalSuccess(res.data.message);
                })
                .catch((err) => {
                    console.log(err.response);
                    this.axiosError(err);
                })
                .finally(() => {
                    this.processing = false;
                });
        },
    },
};
</script>

<style lang="scss" scoped>
.strip {
    width: 17px;
    height: 1px;
    background-color: #000000;
    opacity: 0.5;
}
</style>
