<template>
    <div class="article-card">
        <div
            v-if="article.featured_image != ''"
            class="article-card__image rounded mb-20"
        >
            <img
                :src="article.featured_image_url"
                :alt="article.title"
                class="img-fluid"
            />
        </div>
        <div class="p3 color-grey mb-15">
            {{ article.created_at | format_date_only("ID") }}
        </div>
        <h3 class="h5 bold-700 mb-10">
            <nuxt-link
                :to="`/blog/${article.slug}`"
                :title="article.title"
                class="color-black"
                >{{ article.title }}</nuxt-link
            >
        </h3>
        <!-- <p v-if="excerpt" class="article-card__excerpt mb-0">
            {{ article.excerpt }}
        </p> -->
        <nuxt-link
            :to="`/blog/${article.slug}`"
            :title="article.title"
            class="link-1 bold-700"
            >Read more</nuxt-link
        >
    </div>
</template>

<script>
export default {
    props: {
        article: {
            type: Object,
            required: true,
        },
        excerpt: {
            type: Boolean,
            default: true,
        },
    },
};
</script>
