<template>
    <div>
        <div class="clearfix">
                  <div class="hero-image-article">
                      <div class="hero-text">
                            <h1 class="color-white"> Our Insight </h1>
                            <hr class="hr-hero xs-hide">
                    </div>
            </div>
        </div>
        
    </div>
</template>