<template>
    <div class="article-slide relative">
        <div id="article-slide" class="swiper pb-60 m-pb-30 n-pb-60 mb-15">
            <div class="swiper-wrapper">
                <div
                    v-for="(article, i) in articles"
                    :key="i"
                    class="swiper-slide"
                >
                    <ArticleCard :article="article" />
                </div>
            </div>
            <div class="hide-m">
                <div
                    id="article-slide-pagination"
                    class="swiper-pagination"
                ></div>
            </div>
        </div>
        <div class="hide show-m right mt-20">
            <button
                type="button"
                id="article-slide-button-prev"
                class="article-slide__arrow article-slide__arrow--left"
            >
                <div class="icon-svg"><IconSlidePrev /></div>
            </button>
            <button
                type="button"
                id="article-slide-button-next"
                class="article-slide__arrow article-slide__arrow--right"
            >
                <div class="icon-svg"><IconSlideNext /></div>
            </button>
        </div>
    </div>
</template>

<script>
import ArticleCard from "~/components/Article/ArticleCard";
import IconSlidePrev from "~/components/Icon/IconSlidePrev";
import IconSlideNext from "~/components/Icon/IconSlideNext";
import Swiper, { Pagination, Navigation, Autoplay } from "swiper";

export default {
    props: {
        articles: {
            type: Array,
            required: true,
        },
    },
    components: {
        ArticleCard,
        IconSlidePrev,
        IconSlideNext,
    },
    created() {
        if (process.client) {
            setTimeout(() => {
                Swiper.use([Pagination, Navigation, Autoplay]);
                new Swiper("#article-slide", {
                    loop: true,
                    spaceBetween: 20,
                    allowTouchMove: true,
                    autoplay: {
                        delay: 3000,
                    },
                    pagination: {
                        el: "#article-slide-pagination",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: "#article-slide-button-next",
                        prevEl: "#article-slide-button-prev",
                    },
                    breakpoints: {
                        992: {
                            slidesPerView: 3,
                        },
                        576: {
                            slidesPerView: 2,
                        },
                    },
                });
            }, 500);
        }
    },
};
</script>
