<template>
    <div class="article-card2 relative">
        <div class="article-card2__image relative height-100p">
            <img
                :src="article.featured_image_url"
                :alt="article.title"
                class="img-full-cover"
            />
            <div class="banner-overlay banner-overlay--white">&nbsp;</div>
        </div>
        <div class="article-card2__detail p-15 t-pt-10 t-pb-10 t-pl-20 t-pr-20">
            <div class="created-at color-white p2">
                {{ article.created_at | format_date_only }}
            </div>
            <nuxt-link
                :to="`/blog/${article.slug}`"
                :title="article.title"
                class="bold"
                ><h3 class="h24px color-white mb-0">
                    {{ article.title }}
                </h3></nuxt-link
            >
        </div>
    </div>
</template>

<script>
export default {
    props: {
        article: {
            type: Object,
            required: true,
        },
    },
};
</script>
