<template>
    <div
        class="team-card cursor-pointer relative"
        :class="{ flip }"
        @mouseover="mouseover"
        @mouseleave="mouseleave"
        @click="flip = !flip"
    >
        <div class="team-card__front relative">
            <div class="team-card__image">
                <img :src="photo" :alt="name" class="img-fluid" />
            </div>
            <div
                class="team-card__main-info p-15 d-p-25 color-white text-center"
            >
                <h4 class="h5 bold-700">{{ name }}</h4>
                <p class="mt-0 mb-10 d-mb-0">{{ department }}</p>
                <div class="hide-n">
                    <button type="button" class="btn btn--link white mx-auto">
                        More Info
                    </button>
                </div>
            </div>
        </div>
        <div class="team-card__back p-30 color-white">
            <h4 class="h5 bold-700">{{ name }}</h4>
            <div class="mb-10">{{ department }}</div>
            <a
                v-if="linkedin_url != ''"
                :href="linkedin_url"
                title="Linkedin"
                class="mb-30 b-1 b-white rounded p-5 flex items-center width-max-con"
                target="_blank"
                ><IconLinkedin
            /></a>
            <p class="d-mb-0">{{ description }}</p>
            <div class="right hide-n">
                <button type="button" class="btn btn--link white">
                    Back →
                </button>
            </div>
            <div class="clearfix hide-d">&nbsp;</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: true,
        },
        photo: {
            type: String,
            required: true,
        },
        linkedin_url: {
            type: String,
        },
        department: {
            type: String,
            required: true,
        },
        description: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            flip: false,
        };
    },
    methods: {
        mouseover() {
            if (window.innerWidth >= 1024) {
                this.flip = true;
            }
        },
        mouseleave() {
            if (window.innerWidth >= 1024) {
                this.flip = false;
            }
        },
    },
};
</script>
