<template>
    <div class="job-card" :class="{ grow: grow }">
        <div v-if="!grow">
            <div class="job-card__main pt-20 pl-20 pr-20">
                <div v-if="!job.hide_company" class="job-card__logo">
                    <div>&nbsp;</div>
                    <img
                        :src="job.company.logo_url"
                        :alt="job.company.name"
                        class="img-fluid"
                    />
                </div>
                <div class="job-card__info">
                    <h3 class="job-card__title h4 mb-5 pr-20">
                        <a
                            event=""
                            @click.prevent="showDetail"
                            :href="`/job/${job.slug}/${job.identifier}`"
                            :title="job.title"
                        >
                            {{ job.title }}
                        </a>
                    </h3>
                    <div v-if="!job.hide_company" class="job-card__company">
                        <nuxt-link
                            :to="`/company/${job.company.slug}`"
                            :title="job.company.name"
                            class="p4"
                        >
                            {{ job.company.name }}
                        </nuxt-link>
                    </div>
                </div>
            </div>
            <div class="job-card__middle pb-20 pl-20 pr-20">
                <div
                    v-if="job.salary_min > 0 && job.salary_max > 0"
                    class="job-card__salary mb-5"
                >
                    <span class="icon mr-5">
                        <IconMoneyCurrency />
                    </span>
                    <span class="text p4"
                        >{{ job.salary_currency }}
                        {{ job.salary_min | format_number("id-ID") }}
                        -
                        {{ job.salary_max | format_number("id-ID") }}</span
                    >
                </div>
                <div class="job-card__location mb-10">
                    <span class="icon mr-5"
                        ><IconLocation path_stroke="#C63B32"
                    /></span>
                    <span class="text p4">{{ job.city.name }}</span>
                </div>
                <div class="flex justify-between">
                    <a
                        event=""
                        @click.prevent="showDetail"
                        :href="`/job/${job.slug}/${job.identifier}`"
                        :title="job.title"
                        class="btn btn--more-rounded btn--primary"
                    >
                        Apply this job
                    </a>
                </div>
            </div>
            <div
                class="bt-1 b-border flex items-center justify-between pt-15 pb-20 pl-20 pr-20"
            >
                <div class="width-140">
                    <nuxt-link
                        :to="`/company/${job.company.slug}`"
                        :title="job.company.name"
                        class="link-icon"
                    >
                        <span class="icon mr-5"
                            ><IconBuilding stroke_color="#065489"
                        /></span>
                        <span class="text p2">Visit Company</span>
                    </nuxt-link>
                </div>
                <div class="flex items-center line-height-1">
                    <span class="icon mr-5">
                        <IconDocTick />
                    </span>
                    <span class="text p2 color-primary">Actively Hiring</span>
                </div>
            </div>
            <div class="job-card__bookmark icon-svg" @click="bookmark">
                <IconBookmarkSolid v-if="marked" />
                <IconBookmark v-else />
            </div>
        </div>
        <div
            v-if="grow && job_application !== null"
            class="job-card__detail no-scroll"
        >
            <JobDetailTop :job="job" :back_action="back" />
            <JobDetail :job="job" :job_application="job_application" />
        </div>
    </div>
</template>

<script>
import JobDetailTop from "~/components/Job/JobDetailTop";
import JobDetail from "~/components/Job/JobDetail";
import BookmarkMixin from "~/plugins/mixins/bookmark";
import IconMoneyCurrency from "~/components/Icon/IconMoneyCurrency";
import IconLocation from "~/components/Icon/IconLocation";
import IconBuilding from "~/components/Icon/IconBuilding";
import IconUser from "~/components/Icon/IconUser";
import IconDocTick from "~/components/Icon/IconDocTick";
import IconCaretLeft from "~/components/Icon/IconCaretLeft";
import IconBookmark from "~/components/Icon/IconBookmark";
import IconBookmarkSolid from "~/components/Icon/IconBookmarkSolid";

export default {
    mixins: ["BookmarkMixin"],
    props: {
        job: {
            type: Object,
            required: true,
        },
        growable: {
            type: Boolean,
            default: true,
        },
    },
    components: {
        JobDetailTop,
        JobDetail,
        IconMoneyCurrency,
        IconLocation,
        IconBuilding,
        IconUser,
        IconDocTick,
        IconCaretLeft,
        IconBookmark,
        IconBookmarkSolid,
    },
    data() {
        return {
            grow: false,
            job_application: null,
        };
    },
    created() {
        if (this.authenticated) {
            const bookmark = this.user.bookmarks.filter(
                (bm) => bm.job_id === this.job.id
            );
            if (bookmark.length > 0) {
                this.marked = true;
                this.bookmark_id = bookmark[0].id;
            }
        }

        this.$nuxt.$on("bookmark_added", (data) => {
            if (data.job_id == this.job.id) {
                this.marked = true;
                this.bookmark_id = data.bookmark_id;
            }
        });

        this.$nuxt.$on("bookmark_deleted", (data) => {
            if (data.job_id == this.job.id) {
                this.marked = false;
                this.bookmark_id = null;
            }
        });
    },
    methods: {
        showDetail() {
            const job_page_url = `/job/${this.job.slug}/${this.job.identifier}`;

            if (!this.growable) {
                this.$router.push(job_page_url);
                return;
            }

            this.$axios
                .$get(`${job_page_url}/applied-status`)
                .then((res) => {
                    this.job_application = res.data;
                    this.grow = true;
                    history.pushState({}, null, job_page_url);
                    document.body.classList.add("no-scroll");
                    this.$store.dispatch(
                        "route-history/setRouteHistories",
                        job_page_url
                    );
                })
                .catch((err) => {
                    this.axiosError(err);
                });
        },
        back() {
            this.grow = false;
            this.job_application = null;
            history.pushState({}, null, this.$route.path);
            document.body.classList.remove("no-scroll");
        },
    },
};
</script>
