<template>
    <div class="job-card2" :class="{ grow: grow }">
        <div v-if="!grow">
            <div class="job-card2__main">
                <div v-if="!job.hide_company" class="job-card2__logo">
                    <img
                        :src="job.company.logo_url"
                        :alt="job.company.name"
                        class="img-fluid"
                    />
                </div>
                <div class="job-card2__info">
                    <div v-if="!job.hide_company" class="job-card2__company">
                        <nuxt-link
                            :to="`/company/${job.company.slug}`"
                            :title="job.company.name"
                        >
                            {{ job.company.name }}
                        </nuxt-link>
                    </div>
                    <div class="job-card2__created-time">
                        {{ job.created_at_diff_for_human }}
                    </div>
                </div>
            </div>
            <div class="job-card2__bottom">
                <div class="job-card2__title mb-15">
                    <a
                        @click.prevent="showDetail"
                        :href="`/job/${job.slug}/${job.identifier}`"
                        :title="job.title"
                    >
                        {{ job.title }}
                    </a>
                </div>
                <div class="flex">
                    <div class="job-card2__small-detail flex mr-10">
                        <div class="icon mr-5"><IconClock /></div>
                        <div class="text">{{ job.type.description }}</div>
                    </div>
                    <div class="job-card2__small-detail flex">
                        <div class="icon mr-5"><IconLocation /></div>
                        <div class="text">{{ job.city.name }}</div>
                    </div>
                </div>
                <div class="flex items-center justify-between mt-15">
                    <div class="job-card2__skills flex flex-wrap mr-10">
                        <div
                            v-for="(skill, index) in job.must_skills"
                            :key="index"
                            class="item mt-2 mb-10"
                        >
                            {{ skill.name }}
                        </div>
                    </div>
                    <div class="job-card2__apply">
                        <a
                            href="#"
                            rel="nofollow"
                            title="Apply"
                            class="link-1"
                            @click.prevent="showDetail"
                            >Apply</a
                        >
                    </div>
                </div>
            </div>
            <div
                class="job-card2__bookmark"
                :class="{ 'job-card2__bookmark--marked': marked }"
                @click="bookmark"
            >
                <i class="icon-bookmark"></i>
            </div>
        </div>
        <div v-if="grow && job_application !== null" class="job-card2__detail">
            <div class="job-card2__back">
                <a href="#" title="Kembali" @click.prevent="back"
                    ><i class="icon-arrow-left"></i>
                    <span class="text">Kembali</span></a
                >
            </div>
            <JobDetail :job="job" :job_application="job_application" />
        </div>
    </div>
</template>

<script>
import JobDetail from "~/components/Job/JobDetail";
import BookmarkMixin from "~/plugins/mixins/bookmark";
import IconClock from "~/components/Icon/IconClock";
import IconLocation from "~/components/Icon/IconLocation";

export default {
    mixins: ["BookmarkMixin"],
    props: {
        job: {
            type: Object,
            required: true,
        },
        growable: {
            type: Boolean,
            default: true,
        },
    },
    components: {
        JobDetail,
        IconClock,
        IconLocation,
    },
    data() {
        return {
            grow: false,
            job_application: null,
        };
    },
    created() {
        if (this.authenticated) {
            const bookmark = this.user.bookmarks.filter(
                (bm) => bm.job_id === this.job.id
            );
            if (bookmark.length > 0) {
                this.marked = true;
                this.bookmark_id = bookmark[0].id;
            }
        }

        this.$nuxt.$on("bookmark_added", (data) => {
            if (data.job_id == this.job.id) {
                this.marked = true;
                this.bookmark_id = data.bookmark_id;
            }
        });

        this.$nuxt.$on("bookmark_deleted", (data) => {
            if (data.job_id == this.job.id) {
                this.marked = false;
                this.bookmark_id = null;
            }
        });
    },
    methods: {
        showDetail() {
            const job_page_url = `/job/${this.job.slug}/${this.job.identifier}`;

            if (!this.growable) {
                this.$router.push(job_page_url);
                return;
            }

            this.$axios
                .$get(`${job_page_url}/applied-status`)
                .then((res) => {
                    this.job_application = res.data;
                    this.grow = true;
                    history.pushState({}, null, job_page_url);
                })
                .catch((err) => {
                    this.axiosError(err);
                });
        },
        back() {
            this.grow = false;
            this.job_application = null;
            history.pushState({}, null, this.$route.path);
        },
    },
};
</script>
