* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: $font-family-base;
    color: $color-text;
    background-color: $body-bg;

    &.content-no-padding-top {
        .content {
            padding-top: 0;
        }
    }

    &.content-no-padding-bottom {
        .content {
            padding-bottom: 0;
        }
    }
}

hr {
    height: 1px;
    background-color: $color-border;
    border: none;
}

.content-wrapper {
    padding-top: 0px;
    position: relative;
    z-index: 9;
}

.content {
    padding-top: 70px;
}

.loading-image {
    width: 100%;
    @include flexCenter;

    img {
        width: 100px;
    }
}

.banner-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.3;

    &--white {
        background-color: #ffffff;
    }
}

.global-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;

    &.show {
        display: block;
    }
}
