.container {
    width: 100%;
    padding-left: $container-padding;
    padding-right: $container-padding;

    @include on(desktop) {
        width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container-full {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter;
    margin-left: -$gutter;

    & > * {
        max-width: 100%;
        padding-right: $gutter;
        padding-left: $gutter;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: percentage($i / 12);
    }
}

@for $i from 1 through 12 {
    .m-col-#{$i} {
        @include on(mobile) {
            width: percentage($i / 12);
        }
    }
}

@for $i from 1 through 12 {
    .t-col-#{$i} {
        @include on(tablet) {
            width: percentage($i / 12);
        }
    }
}

@for $i from 1 through 12 {
    .n-col-#{$i} {
        @include on(notebook) {
            width: percentage($i / 12);
        }
    }
}

@for $i from 1 through 12 {
    .d-col-#{$i} {
        @include on(desktop) {
            width: percentage($i / 12);
        }
    }
}

@for $i from 1 through 12 {
    .col-push-#{$i} {
        margin-left: percentage($i / 12);
    }
}

@for $i from 1 through 12 {
    .m-col-push-#{$i} {
        @include on(mobile) {
            margin-left: percentage($i / 12);
        }
    }
}

@for $i from 1 through 12 {
    .t-col-push-#{$i} {
        @include on(tablet) {
            margin-left: percentage($i / 12);
        }
    }
}

@for $i from 1 through 12 {
    .n-col-push-#{$i} {
        @include on(notebook) {
            margin-left: percentage($i / 12);
        }
    }
}

@for $i from 1 through 12 {
    .d-col-push-#{$i} {
        @include on(desktop) {
            margin-left: percentage($i / 12);
        }
    }
}
