body {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.h1,
.h2,
.h3,
.h24px,
.h4,
.h5,
.h6 {
    font-family: $font-family-heading;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3;
}

.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 36px;
}

.h3 {
    font-size: 30px;
}

.h24px {
    font-size: 24px;
}

.h4 {
    font-size: 20px;
}

.h5 {
    font-size: 18px;
}

.line-height-1 {
    line-height: 1;
}

a {
    color: $color-link;
    text-decoration: none;
    transition: all 0.1s ease-in;
}

.block-title {
    font-family: $font-family-base;
    font-weight: 600;
    color: $color-heading;
}

dl {
    dt {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    dd {
        color: $grey-1;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
}

.pre-line {
    white-space: pre-line;
}

// TEXT ALIGN
.text-center {
    text-align: center;
}

.m-text-center {
    @include on(mobile) {
        text-align: center;
    }
}

.t-text-center {
    @include on(tablet) {
        text-align: center;
    }
}

.n-text-center {
    @include on(notebook) {
        text-align: center;
    }
}

.d-text-center {
    @include on(desktop) {
        text-align: center;
    }
}

.text-left {
    text-align: left;
}

.m-text-left {
    @include on(mobile) {
        text-align: left;
    }
}

.t-text-left {
    @include on(tablet) {
        text-align: left;
    }
}

.n-text-left {
    @include on(notebook) {
        text-align: left;
    }
}

.d-text-left {
    @include on(desktop) {
        text-align: left;
    }
}

.text-right {
    text-align: right;
}

.m-text-right {
    @include on(mobile) {
        text-align: right;
    }
}

.t-text-right {
    @include on(tablet) {
        text-align: right;
    }
}

.n-text-right {
    @include on(notebook) {
        text-align: right;
    }
}

.d-text-right {
    @include on(desktop) {
        text-align: right;
    }
}

.text-decoration-none {
    text-decoration: none;
}

.bold-500 {
    font-weight: 500;
}

.bold-700 {
    font-weight: 700;
}

.regular {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.justify {
    text-align: justify;
}

.nowrap {
    white-space: nowrap;
}

.break-word {
    word-wrap: break-word;
}

.list-style-none {
    list-style: none;
}

.underline {
    text-decoration: underline;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-reset {
    list-style: none;
    padding-left: 0;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.left {
    float: left;

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.right {
    float: right;

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.fit {
    max-width: 100%;
}

.align-baseline {
    vertical-align: baseline;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.p1 {
    font-size: 10px;
}

.p2 {
    font-size: 12px;
}

.p3 {
    font-size: 14px;
}

.p4 {
    font-size: 16px;
}

.p5 {
    font-size: 18px;
}

.p6 {
    font-size: 20px;
}

.link-black {
    color: $color-text;
}
