.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-grey {
    color: #9a9ab0;
}

.color-black {
    color: rgba(24, 25, 31, 1);
}

.color-white {
    color: white;
}

.color-white2 {
    color: $white2;
}
.color-blue2{
    color: #065489;
}
.bg-white {
    background-color: #ffffff;
}
.bg-grey2{
    background-color:  #E5E5E5;
}

.bg-lightgrey {
    background-color: $body-bg;
}

.bg-linkedin {
    background-color: $color-linkedin;
}

.bg-facebook {
    background-color: $color-facebook;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-primary-light {
    background-color: lighten($color-primary, 12);
}

.img-fluid,
.video-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

.sr-only {
    position: absolute;
    left: -9999px;
}

.text--success {
    color: $color-success;
}

.text--danger {
    color: $color-danger;
}

.block-edit {
    position: absolute;
    top: 15px;
    right: 15px;
}

.hide {
    display: none;
}

.el-short-long {
    height: 110px;
    overflow: hidden;

    &.full {
        height: auto;
    }
}

.el-short-long-toggle-full {
    float: right;
    background: #ffffff;
    position: relative;
    padding: 1px 10px;
}

.el-short-long-toggle-less {
    float: right;
}

.inline-block {
    display: inline-block;
}

.checkmark {
    border-color: black;
    height: 25px;
    width: 25px;
    padding: 0;
    background-color: transparent;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

// Border
.b-none {
    border: none;
}

.bt-none {
    border-top: none;
}

.bl-none {
    border-left: none;
}

.br-none {
    border-right: none;
}

@include on(mobile) {
    .m-b-none {
        border: none;
    }

    .m-bt-none {
        border-top: none;
    }

    .m-bl-none {
        border-left: none;
    }

    .m-br-none {
        border-right: none;
    }
}

@include on(tablet) {
    .t-b-none {
        border: none;
    }

    .t-bt-none {
        border-top: none;
    }

    .t-bl-none {
        border-left: none;
    }

    .t-br-none {
        border-right: none;
    }
}

@include on(desktop) {
    .d-b-none {
        border: none;
    }

    .d-bt-none {
        border-top: none;
    }

    .d-bl-none {
        border-left: none;
    }

    .d-br-none {
        border-right: none;
    }
}

@for $i from 1 through 4 {
    .b-#{$i} {
        border-width: #{$i}px;
        border-style: solid;
    }

    .bt-#{$i} {
        border-width: #{$i}px 0 0 0;
        border-style: solid;
    }

    .bb-#{$i} {
        border-width: 0 0 #{$i}px 0;
        border-style: solid;
    }

    .br-#{$i} {
        border-right-width: 0 #{$i}px 0 0;
        border-style: solid;
    }

    .bl-#{$i} {
        border-left-width: 0 0 0 #{$i}px solid;
        border-style: solid;
    }
}

@include on(notebook) {
    @for $i from 1 through 4 {
        .n-b-#{$i} {
            border-width: #{$i}px;
            border-style: solid;
        }

        .n-bt-#{$i} {
            border-width: #{$i}px 0 0 0;
            border-style: solid;
        }

        .n-bb-#{$i} {
            border-width: 0 0 #{$i}px 0;
            border-style: solid;
        }

        .n-br-#{$i} {
            border-right-width: 0 #{$i}px 0 0;
            border-style: solid;
        }

        .n-bl-#{$i} {
            border-left-width: 0 0 0 #{$i}px solid;
            border-style: solid;
        }
    }
}

@include on(desktop) {
    @for $i from 1 through 4 {
        .d-b-#{$i} {
            border-width: #{$i}px;
            border-style: solid;
        }

        .d-bt-#{$i} {
            border-width: #{$i}px 0 0 0;
            border-style: solid;
        }

        .d-bb-#{$i} {
            border-width: 0 0 #{$i}px 0;
            border-style: solid;
        }

        .d-br-#{$i} {
            border-right-width: 0 #{$i}px 0 0;
            border-style: solid;
        }

        .d-bl-#{$i} {
            border-left-width: 0 0 0 #{$i}px solid;
            border-style: solid;
        }
    }
}

.b-border {
    border-color: $color-border;
}

.b-white {
    border-color: #ffffff;
}

.b-primary {
    border-color: $color-primary;
}

.rounded {
    border-radius: $border-radius;
    overflow: hidden;
}

.circle {
    border-radius: 50%;
}
// End border

@for $i from 0 through 40 {
    // Base margin
    .m-#{5*$i} {
        margin: #{5 * $i}px;
    }

    .mt-#{5*$i} {
        margin-top: #{5 * $i}px;
    }

    .mb-#{5*$i} {
        margin-bottom: #{5 * $i}px;
    }

    .ml-#{5*$i} {
        margin-left: #{5 * $i}px;
    }

    .mr-#{5*$i} {
        margin-right: #{5 * $i}px;
    }
    // End base margin
}
@include on(mobile) {
    @for $i from 0 through 40 {
        // Mobile margin
        .m-m-#{5*$i} {
            margin: #{5 * $i}px;
        }

        .m-mt-#{5*$i} {
            margin-top: #{5 * $i}px;
        }

        .m-mb-#{5*$i} {
            margin-bottom: #{5 * $i}px;
        }

        .m-ml-#{5*$i} {
            margin-left: #{5 * $i}px;
        }

        .m-mr-#{5*$i} {
            margin-right: #{5 * $i}px;
        }
        // End Mobile margin
    }
}

@include on(tablet) {
    @for $i from 0 through 40 {
        // Tablet margin
        .t-m-#{5*$i} {
            margin: #{5 * $i}px;
        }

        .t-mt-#{5*$i} {
            margin-top: #{5 * $i}px;
        }

        .t-mb-#{5*$i} {
            margin-bottom: #{5 * $i}px;
        }

        .t-ml-#{5*$i} {
            margin-left: #{5 * $i}px;
        }

        .t-mr-#{5*$i} {
            margin-right: #{5 * $i}px;
        }
        // End tablet margin
    }
}

@include on(notebook) {
    @for $i from 0 through 40 {
        // Notebook margin
        .n-m-#{5*$i} {
            margin: #{5 * $i}px;
        }

        .n-mt-#{5*$i} {
            margin-top: #{5 * $i}px;
        }

        .n-mb-#{5*$i} {
            margin-bottom: #{5 * $i}px;
        }

        .n-ml-#{5*$i} {
            margin-left: #{5 * $i}px;
        }

        .n-mr-#{5*$i} {
            margin-right: #{5 * $i}px;
        }
        // End notebook margin
    }
}

@include on(desktop) {
    @for $i from 0 through 40 {
        // Desktop margin
        .d-m-#{5*$i} {
            margin: #{5 * $i}px;
        }

        .d-mt-#{5*$i} {
            margin-top: #{5 * $i}px;
        }

        .d-mb-#{5*$i} {
            margin-bottom: #{5 * $i}px;
        }

        .d-ml-#{5*$i} {
            margin-left: #{5 * $i}px;
        }

        .d-mr-#{5*$i} {
            margin-right: #{5 * $i}px;
        }
        // End desktop margin
    }
}

@for $i from 0 through 40 {
    // Base padding
    .p-#{5*$i} {
        padding: #{5 * $i}px;
    }

    .pt-#{5*$i} {
        padding-top: #{5 * $i}px;
    }

    .pb-#{5*$i} {
        padding-bottom: #{5 * $i}px;
    }

    .pl-#{5*$i} {
        padding-left: #{5 * $i}px;
    }

    .pr-#{5*$i} {
        padding-right: #{5 * $i}px;
    }
    // End base padding
}

@for $i from 0 through 40 {
    // Mobile padding
    .m-p-#{5*$i} {
        @include on(mobile) {
            padding: #{5 * $i}px;
        }
    }

    .m-pt-#{5*$i} {
        @include on(mobile) {
            padding-top: #{5 * $i}px;
        }
    }

    .m-pb-#{5*$i} {
        @include on(mobile) {
            padding-bottom: #{5 * $i}px;
        }
    }

    .m-pl-#{5*$i} {
        @include on(mobile) {
            padding-left: #{5 * $i}px;
        }
    }

    .m-pr-#{5*$i} {
        @include on(mobile) {
            padding-right: #{5 * $i}px;
        }
    }
    // End mobile padding
}

@for $i from 0 through 40 {
    // Tablet padding
    .t-p-#{5*$i} {
        @include on(tablet) {
            padding: #{5 * $i}px;
        }
    }

    .t-pt-#{5*$i} {
        @include on(tablet) {
            padding-top: #{5 * $i}px;
        }
    }

    .t-pb-#{5*$i} {
        @include on(tablet) {
            padding-bottom: #{5 * $i}px;
        }
    }

    .t-pl-#{5*$i} {
        @include on(tablet) {
            padding-left: #{5 * $i}px;
        }
    }

    .t-pr-#{5*$i} {
        @include on(tablet) {
            padding-right: #{5 * $i}px;
        }
    }
    // End tablet padding
}

@for $i from 0 through 40 {
    // Notebook padding
    .n-p-#{5*$i} {
        @include on(notebook) {
            padding: #{5 * $i}px;
        }
    }

    .n-pt-#{5*$i} {
        @include on(notebook) {
            padding-top: #{5 * $i}px;
        }
    }

    .n-pb-#{5*$i} {
        @include on(notebook) {
            padding-bottom: #{5 * $i}px;
        }
    }

    .n-pl-#{5*$i} {
        @include on(notebook) {
            padding-left: #{5 * $i}px;
        }
    }

    .n-pr-#{5*$i} {
        @include on(notebook) {
            padding-right: #{5 * $i}px;
        }
    }
    // End notebook padding
}

@for $i from 0 through 40 {
    // Desktop padding
    .d-p-#{5*$i} {
        @include on(desktop) {
            padding: #{5 * $i}px;
        }
    }

    .d-pt-#{5*$i} {
        @include on(desktop) {
            padding-top: #{5 * $i}px;
        }
    }

    .d-pb-#{5*$i} {
        @include on(desktop) {
            padding-bottom: #{5 * $i}px;
        }
    }

    .d-pl-#{5*$i} {
        @include on(desktop) {
            padding-left: #{5 * $i}px;
        }
    }

    .d-pr-#{5*$i} {
        @include on(desktop) {
            padding-right: #{5 * $i}px;
        }
    }
    // End desktop padding
}

// Max width
@for $i from 1 through 200 {
    .max-#{5*$i} {
        max-width: #{5 * $i}px;
    }
}

@include on(mobile) {
    @for $i from 1 through 200 {
        .m-max-#{5*$i} {
            max-width: #{5 * $i}px;
        }
    }
}

@include on(tablet) {
    @for $i from 1 through 200 {
        .t-max-#{5*$i} {
            max-width: #{5 * $i}px;
        }
    }
}

@include on(notebook) {
    @for $i from 1 through 200 {
        .n-max-#{5*$i} {
            max-width: #{5 * $i}px;
        }
    }
}

@include on(desktop) {
    @for $i from 1 through 200 {
        .d-max-#{5*$i} {
            max-width: #{5 * $i}px;
        }
    }
}

// Width
@for $i from 1 through 200 {
    .width-#{5*$i} {
        width: #{5 * $i}px;
    }
}

@include on(mobile) {
    @for $i from 1 through 200 {
        .m-width-#{5*$i} {
            width: #{5 * $i}px;
        }
    }
}

@include on(tablet) {
    @for $i from 1 through 200 {
        .t-width-#{5*$i} {
            width: #{5 * $i}px;
        }
    }
}

@include on(notebook) {
    @for $i from 1 through 200 {
        .n-width-#{5*$i} {
            width: #{5 * $i}px;
        }
    }
}

@include on(desktop) {
    @for $i from 1 through 200 {
        .d-width-#{5*$i} {
            width: #{5 * $i}px;
        }
    }
}

.width-max-con {
    width: max-content;
}

.height-100p {
    height: 100%;
}

.width-100p {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.img-full-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Display none
.hide {
    display: none;
}

.hide-m {
    @include on(mobile) {
        display: none;
    }
}

.hide-t {
    @include on(tablet) {
        display: none;
    }
}

.hide-n {
    @include on(notebook) {
        display: none !important;
    }
}

.hide-d {
    @include on(desktop) {
        display: none;
    }
}

// Display block
.show {
    display: block;
}

.show-m {
    @include on(mobile) {
        display: block;
    }
}

.show-t {
    @include on(tablet) {
        display: block;
    }
}

.show-n {
    @include on(notebook) {
        display: block;
    }
}

.show-d {
    @include on(desktop) {
        display: block;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

// FLEX
.flex {
    display: flex;
}

.m-flex {
    @include on(mobile) {
        display: flex;
    }
}

.t-flex {
    @include on(tablet) {
        display: flex;
    }
}

.n-flex {
    @include on(notebook) {
        display: flex;
    }
}

.d-flex {
    @include on(desktop) {
        display: flex;
    }
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-baseline {
    align-self: baseline;
}

.self-stretch {
    align-self: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-center {
    align-content: center;
}

.content-between {
    align-content: space-between;
}

.content-around {
    align-content: space-around;
}

.content-stretch {
    align-content: stretch;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.flex-none {
    flex: none;
}

@include on(mobile) {
    .m-justify-start {
        justify-content: flex-start;
    }

    .m-justify-end {
        justify-content: flex-end !important;
    }

    .m-justify-between {
        justify-content: space-between;
    }

    .m-flex-row {
        flex-direction: row;
    }

    .m-items-center {
        align-items: center;
    }

    .m-items-start {
        align-items: flex-start;
    }
}

@include on(tablet) {
    .t-justify-start {
        justify-content: flex-start;
    }

    .t-justify-end {
        justify-content: flex-end !important;
    }

    .t-justify-between {
        justify-content: space-between;
    }

    .t-flex-row {
        flex-direction: row;
    }

    .t-items-center {
        align-items: center;
    }

    .t-items-start {
        align-items: flex-start;
    }
}

@include on(notebook) {
    .n-justify-start {
        justify-content: flex-start;
    }

    .n-justify-end {
        justify-content: flex-end !important;
    }

    .n-justify-between {
        justify-content: space-between;
    }

    .n-flex-row {
        flex-direction: row;
    }

    .n-items-center {
        align-items: center;
    }

    .n-items-start {
        align-items: flex-start;
    }
}

@include on(desktop) {
    .d-justify-start {
        justify-content: flex-start;
    }

    .d-justify-end {
        justify-content: flex-end !important;
    }

    .d-justify-between {
        justify-content: space-between;
    }

    .d-flex-row {
        flex-direction: row;
    }

    .d-items-center {
        align-items: center;
    }

    .d-items-start {
        align-items: flex-start;
    }
}

// End Flex

.icon-svg {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 100%;
        height: 100%;
    }
}

.bg-backdrop {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
}

.no-scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.cursor-pointer {
    cursor: pointer;
}

// Link
.link-1 {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
}

.link-icon {
    display: flex;
    align-items: center;

    .icon {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
