<template>
    <div class="container pt-20 pb-20 n-pt-40 n-pb-40">
        <h1 class="h3 bold-700 pb-10 mb-20 bb-1 b-border width-max-con">
            Bookmarks
        </h1>

        <div v-if="bookmarks.length" class="row">
            <div
                v-for="(bm, i) in bookmarks"
                :key="i"
                class="col-12 m-col-6 n-col-4 mb-20"
            >
                <JobCard :job="bm.job" />
            </div>
        </div>
        <div v-else class="text-center mt-40 mb-40 p5">Nothing found.</div>

        <div v-if="next_page_url != null" class="flex justify-center mt-40">
            <button class="btn btn--primary" :disabled="loading" @click="next">
                <span v-if="loading">Loading...</span>
                <span v-else>Load more</span>
            </button>
        </div>
    </div>
</template>

<script>
import JobCard from "~/components/Share/Job/JobCard";

export default {
    middleware: ["auth"],
    components: {
        JobCard,
    },
    head() {
        return {
            title: this.meta_title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.meta_description,
                },
            ],
        };
    },
    async asyncData({ $axios }) {
        const { data } = await $axios.$get("account/bookmarks");

        return {
            meta_title: data.meta_title,
            meta_description: data.meta_description,
            bookmarks: data.bookmarks,
            per_page: data.per_page,
            current_page: data.current_page,
            next_page_url: data.next_page_url,
            loading: false,
        };
    },
    created() {
        this.$nuxt.$on("bookmark_deleted", (data) => {
            const index = this.bookmarks.findIndex(
                (bm) => bm.id === data.bookmark_id
            );

            if (index > -1) {
                this.bookmarks.splice(index, 1);
            }
        });
    },
    methods: {
        next() {
            this.loading = true;
            this.$axios
                .$get(this.next_page_url)
                .then((res) => {
                    const data = res.data;
                    this.bookmarks.push(...data.bookmarks);
                    this.current_page = data.current_page;
                    this.next_page_url = data.next_page_url;
                })
                .catch((err) => {
                    this.axiosError(err);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
    },
};
</script>
