<template>
    <div class="container myo pt-50 pb-50">
        <div class="row">
            <div class="col-12 n-col-4 mb-30 n-mb-0">
                <div class="n-pr-40">
                    <client-only>
                        <VueStickySidebar
                            class="myo__side"
                            containerSelector=".container"
                            innerWrapperSelector=".myo__side--inner"
                            :topSpacing="110"
                            :minWidth="992"
                        >
                            <AccountEditSide
                                :user_data="user_data"
                                @navigate="navigate"
                                :active_menu="active_menu"
                            />
                        </VueStickySidebar>
                    </client-only>
                </div>
            </div>
            <div class="col-12 n-col-8">
                <main class="myo__main">
                    <ManagePassword
                        @updated="userUpdated"
                        :active_menu="active_menu"
                    />
                </main>
            </div>
        </div>
    </div>
</template>

<script>
import AccountEditSide from "~/components/Account/Edit/AccountEditSide";
import ManagePassword from "~/components/Account/Edit/ManagePassword";

export default {
    middleware: ["auth"],
    components: {
        AccountEditSide,
        ManagePassword,
    },
    async asyncData({ $axios }) {
        const { data } = await $axios.$get("user-data");
        return {
            user_data: data,
            active_menu: "manage-password",
        };
    },
    methods: {
        navigate(to) {
            this.active_menu = to;
        },
        userUpdated(user) {
            this.user_data = user;
        },
    },
};
</script>
