<template>
    <div>
        <div class="clearfix bg-header">
            <div class="about-hero">
                <div class="sm-col sm-col-1 acc-1">
                    <img class="xs-hide" src="~/assets/images/About-Stars.png" style="max-width:40px; object-fit:scale-down; width:100%; height:auto;">
                </div>
                <div class="sm-col sm-col-7">
                    <div class="box-header-emp">
                            <div class="col-11 pt2">
                                <h1 class="col-12"> Say hello to talent </h1>
                                <p class="col-9 m0">search from a pool of talent or let us help you tailor your search from a pool of talent or let us help you tailor your search.</p>
                            </div>
                    </div>
                </div>
                <div class="sm-col sm-col-4 xs-hide">
                    <div style="width:100%;height:500px;">
                            <img src="~/assets/images/business-people-in-the-office-working.png" alt="sub-foot" style="float:left;width:100%;height:100%;object-fit:cover;">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
                <div class="how-hire-emp pb3">
                    <h1> How do you hire? </h1>
                    <hr class="hr-emp" align="left">
                    <div class="card-container">
                        <div class="sm-col sm-col-6 card-emp">
                            <div class="card-box mx-auto">
                            <h1 class="pb2">Reqruit Access</h1>
                            <p> Artificial Intelegence</p>
                            <p> Applicant Tracking System </p>
                            <p> Online Psychotest </p>
                            <p> Online English Test </p>
                            <p> Video Recording, etc </p>
                            <div class="my3 bold"><nuxt-link to="/explore-jobs"><button id="btn-emp"> Start Now </button></nuxt-link></div>
                            </div>
                        </div>
                        <div class="sm-col sm-col-6 card-emp">
                            <div class="card-box mx-auto">
                            <h1 class="pb2">Reqruit Consult</h1>
                            <p> Success Based Agreement </p>
                            <p> Replacement Guarantee </p>
                            <p> Speak to Experienced Consultant </p>
                            <br>
                            <br>
                            <div class="my3 bold"><nuxt-link to="/headhunter"><button id="btn-emp"> Start Now </button></nuxt-link></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="clearfix">
            <div class="box-str">
                <h1 class="center pt2"> Why Us? </h1>
            </div>
            <div class="pb3 card-row">
                <div class="card-column">
                    <div class="cardbox">
                        <div class="flex justify-center symbol">
                            <img src="~/assets/images/icons/slider/fast.svg" max-width="100%" height="40px" alt="real-time">
                        </div>
                    <h3>Fast & Painless</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <br>
                    <a href="#" class="learn-more"> Learn More <hr></a>
                    </div>
                </div>
                <div class="card-column">
                    <div class="cardbox">
                        <div class="flex justify-center symbol">
                            <img src="~/assets/images/icons/slider/shere.svg" max-width="100%" height="40px" alt="real-time">
                        </div>
                    <h3>Share Anywhere</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <br>
                    <a href="#" class="learn-more"> Learn More <hr></a>
                    </div>
                </div>

                <div class="card-column">
                    <div class="cardbox">
                        <div class="flex justify-center symbol">
                            <img src="~/assets/images/icons/slider/real-time.svg" max-width="100%" height="40px" alt="real-time">
                        </div>
                    <h3>Real-time Data</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <br>
                    <a href="#" class="learn-more"> Learn More <hr></a>
                    </div>
                </div>

                <div class="card-column">
                    <div class="cardbox">
                         <div class="flex justify-center symbol">
                            <img src="~/assets/images/icons/slider/ulimited.svg" max-width="100%" height="40px" alt="real-time">
                        </div>
                    <h3>Unlimited Applied</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <br>
                    <a href="#" class="learn-more"> Learn More <hr></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="how-hire-emp">
                <h1> Industry Served </h1>
                <hr class="hr-emp" align="left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                <div class="industry-served">
                <div class="flex flex-wrap content-stretch mx-auto">
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1807.png" alt="">
                        <p> Banking and Financial Institutions</p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1759.png" alt="">
                        <p> Consumer Goods</p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1760.png" alt="">
                        <p> Telecommunication & IT </p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1761.png" alt="">
                        <p> Pharmaceutical </p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1764.png" alt="">
                        <p> Retail</p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1765.png" alt="">
                        <p> Oil & Gas </p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1767.png" alt="">
                        <p> Logistics </p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1769.png" alt="">
                        <p> Mining </p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1773.png" alt="">
                        <p> Manufacturing </p>
                        </div>
                        <div class="flex-column mx-auto">
                        <img src="~assets/images/icons/Group_1772.png" alt="">
                        <p> Others </p>
                        </div>
                </div>

                </div>
                <div class="sm-col sm-col-12">

                </div>
            </div>
        </div>
        <div class="aboutinfo-2">
            <div class="sm-flex clearfix">
                <div class="sm-col sm-col-5 order-1">
                    <div style="width:100%;height:300px;">
                        <img src="~/assets/images/engineer-holding-tablet.png" alt="sub-foot" style="float:left;width:100%;height:100%;object-fit:cover;">
                    </div>
                </div>
                <div class="sm-col sm-col-7 order-0">
                    <div class="pt3 pl2">
                        <div class="col-10 mx-auto pt2">
                            <h1 class="color-white"> Create an Account</h1>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                            <div class="col-12 my3">
                                <a :href="`${employer_site_url}/auth/register`">
                                    <button class="join-us-button bold"> Get Started </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            employer_site_url: process.env.EMPLOYER_BASE_URL,
        }
    }
};
</script>
