<template>
    <nav class="jap__side simple-side-nav">
        <ul>
            <li
                :class="{
                    active: active_menu == 'all',
                }"
            >
                <a href="#" title="All" @click.prevent="navigate('all')">
                    All
                </a>
            </li>
            <li
                :class="{
                    active: active_menu == 'pending',
                }"
            >
                <a
                    href="#"
                    title="Pending"
                    @click.prevent="navigate('pending')"
                >
                    Pending
                </a>
            </li>
            <li
                :class="{
                    active: active_menu == 'shortlisted',
                }"
            >
                <a
                    href="#"
                    title="Short List"
                    @click.prevent="navigate('shortlisted')"
                >
                    Short List
                </a>
            </li>
            <li
                :class="{
                    active: active_menu == 'interview',
                }"
            >
                <a
                    href="#"
                    title="Interview"
                    @click.prevent="navigate('interview')"
                >
                    Interview
                </a>
            </li>
            <li
                :class="{
                    active: active_menu == 'offered',
                }"
            >
                <a
                    href="#"
                    title="Offered"
                    @click.prevent="navigate('offered')"
                >
                    Offered
                </a>
            </li>
            <li
                :class="{
                    active: active_menu == 'hired',
                }"
            >
                <a href="#" title="Hired" @click.prevent="navigate('hired')">
                    Hired
                </a>
            </li>
            <li
                :class="{
                    active: active_menu == 'unsuitable',
                }"
            >
                <a
                    href="#"
                    title="Unsuitable"
                    @click.prevent="navigate('unsuitable')"
                >
                    Unsuitable
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    props: {
        active_menu: {
            type: String,
            required: true,
        },
    },
    methods: {
        navigate(to) {
            this.$emit("navigate", to);
        },
    },
};
</script>
