<template>
    <div class="bg-white">
        <div class="ej-top relative">
            <div class="container height-100p">
                <div class="row height-100p">
                    <div
                        class="ej-top__left flex items-center height-100p col-12 n-col-8"
                    >
                        <div class="bg-image hide show-n">
                            <img src="~/assets/images/About-Stars.png" />
                        </div>
                        <div class="main-form">
                            <div class="text text-center n-text-left">
                                <h1 class="title h1 mb-25">
                                    Find a job that matches your passion
                                </h1>
                                <p class="mb-40">
                                    We'll help you with the tools we've created
                                    to find the job you've been looking for.
                                </p>
                            </div>
                            <div class="main-form-wrapper max-500">
                                <form
                                    class="main-search-form form"
                                    @submit.prevent="search($event, true)"
                                >
                                    <div class="row">
                                        <div class="col-12 mb-20">
                                            <div
                                                class="input-group input-group--no-append"
                                            >
                                                <div
                                                    class="input-group__prepend input-group__prepend--icon"
                                                >
                                                    <IconSearch />
                                                </div>
                                                <div class="input-group__main">
                                                    <input
                                                        type="text"
                                                        v-model="form.keyword"
                                                        class="form__control"
                                                        placeholder="Search jobs"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 n-col-6 mb-20">
                                            <client-only>
                                                <div
                                                    class="input-group input-group--no-append"
                                                >
                                                    <div
                                                        class="input-group__prepend input-group__prepend--icon"
                                                    >
                                                        <IconLocation
                                                            path_stroke="#16568B"
                                                        />
                                                    </div>
                                                    <div
                                                        class="input-group__main"
                                                    >
                                                        <v-select
                                                            label="name"
                                                            :options="
                                                                data.city_select
                                                            "
                                                            v-model="
                                                                selected_location
                                                            "
                                                            @input="
                                                                locationChange
                                                            "
                                                            placeholder="Location"
                                                        ></v-select>
                                                    </div>
                                                </div>
                                            </client-only>
                                        </div>
                                        <div class="col-12 n-col-6 mb-20">
                                            <client-only>
                                                <div
                                                    class="input-group input-group--no-append"
                                                >
                                                    <div
                                                        class="input-group__prepend input-group__prepend--icon"
                                                    >
                                                        <IconWebpage />
                                                    </div>
                                                    <div
                                                        class="input-group__main"
                                                    >
                                                        <v-select
                                                            label="text"
                                                            :options="
                                                                data.job_function_select
                                                            "
                                                            v-model="
                                                                selected_job_function
                                                            "
                                                            @input="
                                                                selectJobFunction
                                                            "
                                                            placeholder="Field of Work"
                                                        ></v-select>
                                                    </div>
                                                </div>
                                            </client-only>
                                        </div>
                                    </div>
                                    <button
                                        type="submit"
                                        class="btn btn--block btn--primary"
                                    >
                                        Search
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ej-top__right col col-12 n-col-4 height-100p">
                        <div class="bg-image height-100p">
                            <img
                                src="~/assets/images/header-explore.png"
                                alt="Explore jobs"
                                class="img-full-cover"
                            />
                            <div class="banner-overlay hide-n">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ej-toolbar container mt-50">
            <div class="row">
                <div class="col-12 n-col-4 mb-20 n-mb-0">
                    <div
                        class="input-group input-group--no-append input-group--lg"
                    >
                        <div
                            class="input-group__prepend input-group__prepend--icon"
                        >
                            <IconSearch />
                        </div>
                        <div class="input-group__main">
                            <input
                                @keyup.enter="search($event, true)"
                                type="text"
                                v-model="form.keyword"
                                class="form__control"
                                placeholder="Search jobs"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-12 n-col-8">
                    <div class="row">
                        <div class="col-12 n-col-5 mb-20 n-mb-0">
                            <client-only>
                                <div
                                    class="input-group input-group--no-append input-group--lg"
                                >
                                    <div
                                        class="input-group__prepend input-group__prepend--icon"
                                    >
                                        <IconMap />
                                    </div>
                                    <div class="input-group__main">
                                        <v-select
                                            label="name"
                                            :options="data.provinces"
                                            v-model="selected_province"
                                            @input="provinceChange"
                                            placeholder="Province"
                                        ></v-select>
                                    </div>
                                </div>
                            </client-only>
                        </div>
                        <div class="col-12 n-col-5 flex mb-20 n-mb-0">
                            <div class="hide-n mr-10">
                                <button
                                    type="button"
                                    class="btn btn--white btn--lg"
                                    @click="show_filter = !show_filter"
                                >
                                    <IconSettings />
                                </button>
                            </div>
                            <client-only>
                                <div
                                    class="input-group input-group--no-append input-group--lg"
                                >
                                    <div
                                        class="input-group__prepend input-group__prepend--icon"
                                    >
                                        <IconWebpage />
                                    </div>
                                    <div class="input-group__main">
                                        <v-select
                                            label="text"
                                            :options="data.job_function_select"
                                            v-model="selected_job_function"
                                            @input="selectJobFunction"
                                            placeholder="Field of Work"
                                        ></v-select>
                                    </div>
                                </div>
                            </client-only>
                        </div>
                        <div class="col-12 n-col-2">
                            <button
                                type="button"
                                class="btn btn--primary btn--block btn--lg"
                                @click="search"
                            >
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ej-main container pt-30 pb-50">
            <div class="row">
                <div
                    class="ej-filter-wrapper col-12 n-col-4 hide show-n"
                    :class="{ 'show-filter': show_filter }"
                >
                    <div class="ej-filter b-1 b-primary rounded">
                        <div
                            class="ej-filter__title pt-15 pb-15 pr-20 pl-20 bb-1 b-border"
                        >
                            <h3 class="h4">Filter Your Search</h3>
                            <button
                                type="button"
                                class="icon hide-n"
                                @click="show_filter = false"
                            >
                                <IconClose />
                            </button>
                        </div>
                        <div class="ej-filter__list pr-20 pl-20">
                            <Accordion title="Last Updated" :show_panel="true">
                                <template v-slot:panel>
                                    <ul class="list-no-style">
                                        <li
                                            v-for="lu in data.last_update_select"
                                            :key="lu.value"
                                        >
                                            <label class="ir-container"
                                                >{{ lu.text }}
                                                <input
                                                    type="radio"
                                                    :value="lu.value"
                                                    name="last-update"
                                                    @change="
                                                        lastUpdateChange(
                                                            $event,
                                                            lu
                                                        )
                                                    "
                                                />
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </template>
                            </Accordion>
                            <Accordion
                                title="Available Remote"
                                :show_panel="true"
                            >
                                <template v-slot:panel>
                                    <div class="flex items-center">
                                        <label class="switch">
                                            <input
                                                type="checkbox"
                                                v-model="form.remote"
                                                @change="search"
                                            />
                                            <span class="slider round"></span>
                                        </label>
                                        <span v-if="form.remote" class="ml-10"
                                            >Yes</span
                                        >
                                        <span v-else class="ml-10">No</span>
                                    </div>
                                </template>
                            </Accordion>
                            <Accordion title="Job Type" :show_panel="true">
                                <template v-slot:panel>
                                    <ul class="list-no-style">
                                        <li
                                            v-for="jt in data.job_type_select"
                                            :key="jt.value"
                                        >
                                            <label class="cb-container">
                                                {{ jt.text }}
                                                <input
                                                    v-model="form.job_types"
                                                    :value="jt.value"
                                                    type="checkbox"
                                                    @change="
                                                        selectType($event, jt)
                                                    "
                                                />
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </template>
                            </Accordion>
                            <client-only>
                                <Accordion title="Location" :show_panel="true">
                                    <template v-slot:panel>
                                        <div class="mb-25">
                                            <v-select
                                                label="name"
                                                :options="data.provinces"
                                                v-model="selected_province"
                                                @input="provinceChange"
                                                placeholder="Province"
                                            ></v-select>
                                        </div>
                                        <ul class="list-no-style">
                                            <li
                                                v-for="city in cities"
                                                :key="city.id"
                                            >
                                                <label class="cb-container">
                                                    {{ city.name }}
                                                    <input
                                                        v-model="form.cities"
                                                        :value="city.id"
                                                        type="checkbox"
                                                        @change="
                                                            selectCity(
                                                                $event,
                                                                city
                                                            )
                                                        "
                                                    />
                                                    <span
                                                        class="checkmark"
                                                    ></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </template>
                                </Accordion>
                            </client-only>
                            <Accordion
                                title="Years of Experience"
                                :show_panel="true"
                            >
                                <template v-slot:panel>
                                    <ul class="list-no-style">
                                        <li
                                            v-for="je in data.job_experience_select"
                                            :key="je.value"
                                            class="check"
                                        >
                                            <label
                                                v-if="
                                                    je.value != 'no-preferences'
                                                "
                                                class="cb-container"
                                            >
                                                {{ je.text }}
                                                <input
                                                    :value="je.value"
                                                    type="checkbox"
                                                    @change="
                                                        selectExperience(
                                                            $event,
                                                            je
                                                        )
                                                    "
                                                />
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </template>
                            </Accordion>
                            <Accordion
                                v-if="data.ft_companies.length > 0"
                                title="Company Recommended"
                                :show_panel="true"
                            >
                                <template v-slot:panel>
                                    <ul class="list-no-style">
                                        <li
                                            v-for="comp in data.ft_companies"
                                            :key="comp.id"
                                            class="check"
                                        >
                                            <label class="cb-container">
                                                {{ comp.name }}
                                                <input
                                                    :value="comp.id"
                                                    v-model="form.companies"
                                                    type="checkbox"
                                                    @change="search"
                                                />
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </template>
                            </Accordion>
                        </div>
                    </div>
                </div>
                <div class="ej-result col-12 n-col-8">
                    <div class="row">
                        <div
                            v-for="job in jobs"
                            :key="job.id"
                            class="col-12 m-col-6 mb-20"
                        >
                            <JobCard :job="job" />
                        </div>
                    </div>
                    <div v-if="loading" class="loading-image">
                        <img src="~/assets/images/loading.gif" alt="Loading" />
                    </div>
                    <!-- <div v-else>
                        <button
                            v-if="next_page_url != null"
                            type="button"
                            class="btn btn--primary mx-auto"
                            @click="nextpage"
                        >
                            Load more
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import IconSearch from "~/components/Icon/IconSearch";
import IconLocation from "~/components/Icon/IconLocation";
import IconChart from "~/components/Icon/IconChart";
import IconDoc from "~/components/Icon/IconDoc";
import IconMap from "~/components/Icon/IconMap";
import IconWebpage from "~/components/Icon/IconWebpage";
import IconSettings from "~/components/Icon/IconSettings";
import IconClose from "~/components/Icon/IconClose";
import Accordion from "~/components/Share/Accordion";
import JobCard from "~/components/Share/Job/JobCard";

export default {
    props: {
        data: {
            type: Object,
            required: true,
        },
        jobs: {
            type: Array,
            required: true,
        },
        next_page_url: {
            type: String,
        },
        current_page: {
            type: Number,
            required: true,
        },
    },
    components: {
        IconSearch,
        IconLocation,
        IconChart,
        IconDoc,
        IconMap,
        IconWebpage,
        IconSettings,
        IconClose,
        Accordion,
        JobCard,
    },
    data() {
        return {
            search_params: { status: "published" },
            loading: false,
            show_filter: false,
            timer: null,
            city_search_result: [],
            selected_location: null,
            selected_graduate: null,
            selected_job_type: null,
            selected_province: null,
            selected_job_function: null,
            form: {
                keyword: this.data.keyword,
                jobfunctions: [],
                skills: [],
                province_id: null,
                cities: [],
                job_types: [],
                companies: [],
                salary_min: null,
                salary_max: null,
                experiences: [],
                graduate: null,
                last_update: "",
                remote: false,
            },
            filter_list: [],
            cities: [],
        };
    },
    mounted() {
        if (process.client) {
            document.addEventListener("click", (e) => {
                if (e.target.closest(".ffi__item-wrapper") === null) {
                    let filter_elements = document.querySelectorAll(
                        ".ffi__search-filter"
                    );
                    filter_elements.forEach((element) => {
                        element.classList.remove("active");
                    });
                }
            });

            if (window.location.search != "") {
                const search_key_is_arr = [
                    "jobfunctions",
                    "skills",
                    "cities",
                    "job_types",
                    "companies",
                    "experiences",
                ];
                const form = this.form;

                window.location.search
                    .substr(1)
                    .split("&")
                    .forEach(function (item) {
                        const search_key = item.split("=")[0];
                        let search_value = item.split("=")[1];
                        if (search_key == "keyword") {
                            search_value = decodeURI(search_value);
                        }
                        if (search_key == "remote") {
                            search_value =
                                search_value == "true" ? true : false;
                        }
                        if (search_key_is_arr.includes(search_key)) {
                            search_value = search_value.split(",");
                        }
                        form[search_key] = search_value;
                    });
            }
        }
    },
    created() {
        if (process.client) {
            const vm = this;
            document.addEventListener("scroll", function (e) {
                if (vm.next_page_url != null && !vm.loading) {
                    const sidebar_position = document
                        .querySelector(".ej-filter-wrapper")
                        .getBoundingClientRect().bottom;
                    const result_position = document
                        .querySelector(".ej-result")
                        .getBoundingClientRect().bottom;

                    if (window.innerWidth >= 992) {
                        if (result_position <= sidebar_position) {
                            vm.nextpage();
                        }
                    } else {
                        const bottom_position =
                            window.innerHeight - result_position;
                        if (bottom_position > 0) {
                            vm.nextpage();
                        }
                    }
                }
            });
        }
    },
    methods: {
        search($e, scrollToResult = false) {
            this.$nuxt.$emit("search_job");
            this.loading = true;

            this.search_params = { status: "published" };

            if (this.form.keyword != "") {
                this.search_params["keyword"] = this.form.keyword;
            }
            if (this.form.last_update != "") {
                this.search_params["last_update"] = this.form.last_update;
            }
            this.search_params["remote"] = this.form.remote;
            if (this.form.jobfunctions.length > 0) {
                this.search_params["jobfunctions"] =
                    this.form.jobfunctions.join();
            }
            if (this.form.skills.length > 0) {
                this.search_params["skills"] = this.form.skills.join();
            }
            if (this.form.province_id != null) {
                this.search_params["province_id"] = this.form.province_id;
            }
            if (this.form.cities.length > 0) {
                this.search_params["cities"] = this.form.cities.join();
            }
            if (this.form.job_types.length > 0) {
                this.search_params["job_types"] = this.form.job_types.join();
            }
            if (this.form.companies.length > 0) {
                this.search_params["companies"] = this.form.companies.join();
            }
            if (this.form.salary_min > 0) {
                this.search_params["salary_min"] = this.form.salary_min;
            }
            if (this.form.salary_max > 0) {
                this.search_params["salary_max"] = this.form.salary_max;
            }
            if (this.form.experiences.length > 0) {
                this.search_params["work_experience"] =
                    this.form.experiences.join();
            }

            let urlParams = new URLSearchParams(this.search_params).toString();

            this.$router.push({
                path: this.$nuxt.$route.path,
                query: this.search_params,
            });

            this.$axios
                .$get(`job/search?${urlParams}`)
                .then((res) => {
                    let data = res.data;
                    this.$emit("update_result", data);
                    if (scrollToResult) {
                        const elDistanceToTop =
                            window.pageYOffset +
                            document
                                .querySelector(".ej-toolbar")
                                .getBoundingClientRect().top;
                        window.scrollTo({
                            top: elDistanceToTop - 90,
                            behavior: "smooth",
                        });
                    }

                    this.$job_card.sameHeight({
                        wrapper: ".ej-result",
                        row_mobile: 2,
                        row_tablet: 2,
                        row_notebook: 2,
                        row_desktop: 2,
                    });
                })
                .catch((err) => {
                    console.log(err);
                })
                .finally(() => {
                    this.loading = false;
                    this.$nuxt.$emit("search_job_finish");
                });
        },
        nextpage() {
            this.loading = true;

            this.search_params["page"] = this.current_page + 1;
            this.$router.push({
                path: this.$nuxt.$route.path,
                query: this.search_params,
            });

            this.$axios
                .$get(this.next_page_url)
                .then((res) => {
                    let data = res.data;
                    this.$emit("next_page_result", data);
                    this.$job_card.sameHeight({
                        wrapper: ".ej-result",
                        row_mobile: 2,
                        row_tablet: 2,
                        row_notebook: 2,
                        row_desktop: 2,
                    });
                })
                .catch((err) => {
                    console.log(err);
                })
                .finally(() => {
                    this.loading = false;
                    this.$nuxt.$emit("search_job_finish");
                });
        },
        resetFilter() {
            // this.form.keyword = "";
            this.form.last_update = "";
            this.form.remote = false;
            this.form.jobfunctions = [];
            this.form.skills = [];
            this.form.province_id = null;
            this.form.cities = [];
            this.form.job_types = [];
            this.form.companies = [];
            this.form.salary_min = null;
            this.form.salary_max = null;
            this.form.experiences = [];
            this.filter_list = [];
        },
        resetKeyword() {
            this.form.keyword = "";
            this.search();
        },
        lastUpdateChange(e, lu) {
            this.form.last_update = lu.value;

            if (this.isInFilterList("last_update")) {
                const index = this.filter_list.findIndex(
                    (el) => el.type == "last_update"
                );

                if (index > -1) {
                    this.filter_list[index].value == lu.value;
                    this.filter_list[index].text = lu.text;
                }
            } else {
                let new_filter = {
                    type: "last_update",
                    id: lu.value,
                    text: lu.text,
                };
                this.filter_list.push(new_filter);
            }
        },
        selectJobFunction(value) {
            if (value === null) {
                this.removeFilters("jobfunction");
                return;
            }

            if (this.isInFilterList("jobfunction")) {
                const index = this.filter_list.findIndex(
                    (el) => el.type == "jobfunction"
                );
                if (index > -1) {
                    this.filter_list[index].id == value.value;
                    this.filter_list[index].text = value.text;
                }
                this.form.jobfunctions[0] = value.value;
            } else {
                this.form.jobfunctions.push(value.value);

                let new_filter = {
                    type: "jobfunction",
                    id: value.value,
                    text: value.text,
                };
                this.filter_list.push(new_filter);
            }
        },
        selectType($event, type) {
            if (this.isInFilterList("job_type", type.value)) {
                const fl_index = this.findIndex("job_type", type.id);
                this.filter_list.splice(fl_index, 1);
                const form_index = this.form.job_types.findIndex(
                    (el) => el == type.id
                );
            } else {
                let new_filter = {
                    type: "job_type",
                    id: type.value,
                    text: type.text,
                };
                this.filter_list.push(new_filter);
            }
        },
        searchCity(search, loading) {
            if (this.timer) {
                clearTimeout(this.timer);
                this.timer = null;
            }

            this.timer = setTimeout(() => {
                if (search.length > 2) {
                    loading(true);
                    this.$axios
                        .$post(`cities-search`, {
                            name: escape(search),
                        })
                        .then((res) => {
                            let data = res.data;
                            this.city_search_result = data;
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                        .finally(() => {
                            loading(false);
                        });
                }
            }, 800);
        },
        selectCity($event, city) {
            this.selected_location = null;
            if (this.isInFilterList("city", city.id)) {
                const fl_index = this.findIndex("city", city.id);
                this.filter_list.splice(fl_index, 1);
                const form_index = this.form.cities.findIndex(
                    (el) => el == city.id
                );
            } else {
                let new_filter = {
                    type: "city",
                    id: city.id,
                    text: city.name,
                };
                this.filter_list.push(new_filter);
            }
            this.city_search_result = [];
        },
        selectExperience($event, experience) {
            if (this.isInFilterList("experiences", experience.value)) {
                const fl_index = this.findIndex(
                    "experiences",
                    experience.value
                );
                this.filter_list.splice(fl_index, 1);
                const form_index = this.form.experiences.findIndex(
                    (el) => el == experience.value
                );
                this.form.experiences.splice(form_index, 1);
            } else {
                this.form.experiences.push(experience.value);

                let new_filter = {
                    type: "experiences",
                    id: experience.value,
                    text: experience.text,
                };

                this.filter_list.push(new_filter);
            }
        },
        salaryUpdate(type) {
            if (this.timer) {
                clearTimeout(this.timer);
                this.timer = null;
            }

            this.timer = setTimeout(() => {
                let amount = this.formatCurrency(this.form[type]);
                let new_filter = {
                    type: type,
                    id: this.form[type],
                    text:
                        type == "salary_min"
                            ? `Min: ${amount}`
                            : `Max: ${amount}`,
                };

                if (this.filter_list.length > 0) {
                    let index_to_update = null;
                    this.filter_list.forEach((filter, index) => {
                        if (filter.type == type) {
                            index_to_update = index;
                        }
                    });

                    if (index_to_update === null) {
                        this.filter_list.push(new_filter);
                    } else {
                        this.filter_list.splice(index_to_update, 1, new_filter);
                    }
                } else {
                    this.filter_list.push(new_filter);
                }
            }, 800);
        },
        provinceChange(value) {
            if (value === null) {
                this.removeFilters("province_id");
                this.removeFilters("city");
                this.cities = [];
                return;
            }

            this.form.province_id = value.id;
            this.removeFilters("city");

            // Update cities
            this.updateCities(value.id);

            if (this.isInFilterList("province_id")) {
                const index = this.filter_list.findIndex(
                    (el) => el.type == "province_id"
                );
                if (index > -1) {
                    this.filter_list[index].id == value.id;
                    this.filter_list[index].text = value.name;
                }
            } else {
                let new_filter = {
                    type: "province_id",
                    id: value.id,
                    text: value.name,
                };
                this.filter_list.push(new_filter);
            }
        },
        updateCities(province_id) {
            this.$axios
                .$get(`cities/${province_id}`)
                .then((res) => {
                    this.cities = res.data;
                })
                .catch((err) => {
                    console.log(err.response);
                });
        },
        formatCurrency(num) {
            return new Intl.NumberFormat("id-ID", {
                style: "currency",
                currency: "IDR",
                minimumFractionDigits: 0,
            }).format(num);
        },
        removeFilter(i) {
            let targetFilter = this.filter_list[i];
            if (targetFilter.type == "jobfunction") {
                let key = this.form.jobfunctions.indexOf(targetFilter.id);
                this.form.jobfunctions.splice(key, 1);
            }

            if (targetFilter.type == "skill") {
                let key = this.form.skills.indexOf(targetFilter.id);
                this.form.skills.splice(key, 1);
            }

            if (targetFilter.type == "province_id") {
                this.form.province_id = null;
            }

            if (targetFilter.type == "city") {
                let key = this.form.cities.indexOf(targetFilter.id);
                this.form.cities.splice(key, 1);
            }

            if (targetFilter.type == "job_type") {
                let key = this.form.job_types.indexOf(targetFilter.id);
                this.form.job_types.splice(key, 1);
            }

            if (targetFilter.type == "company") {
                let key = this.form.companies.indexOf(targetFilter.id);
                this.form.companies.splice(key, 1);
            }

            if (targetFilter.type == "salary_min") {
                this.form.salary_min = null;
            }

            if (targetFilter.type == "salary_max") {
                this.form.salary_max = null;
            }

            if (targetFilter.type == "experience") {
                this.form.experience = null;
            }

            this.filter_list.splice(i, 1);
        },
        removeFilters(type) {
            this.filter_list = this.filter_list.filter((value, index, arr) => {
                if (type == "salary") {
                    return (
                        value.type != "salary_min" || value.type != "salary_max"
                    );
                } else {
                    return value.type != type;
                }
            });

            if (type == "jobfunction") {
                this.form.jobfunctions = [];
            }

            if (type == "skill") {
                this.form.skills = [];
            }

            if (type == "province_id") {
                this.form.province_id = null;
            }

            if (type == "city") {
                this.form.cities = [];
            }

            if (type == "job_type") {
                this.form.job_types = [];
            }

            if (type == "company") {
                this.form.companies = [];
            }

            if (type == "salary") {
                this.form.salary_min = null;
                this.form.salary_max = null;
            }

            if (type == "experience") {
                this.form.experience = null;
            }
        },
        isInFilterList(type, id = null) {
            let isInfilter = this.filter_list.filter((obj) => {
                if (id == null) {
                    return obj.type === type;
                }
                return obj.type === type && obj.id === id;
            });

            return isInfilter.length > 0 ? true : false;
        },
        findIndex(type, id = null) {
            return this.filter_list.findIndex(
                (el) => el.type == type && el.id == id
            );
        },
        locationChange(value) {
            console.log(value);
            if (value == null) {
                this.selected_province = null;
                this.removeFilters("province_id");
                this.removeFilters("city");
                this.cities = [];
                return;
            }

            this.form.province_id = value.province.id;
            this.form.cities = [value.id];
            this.selected_province = value.province;
            this.updateCities(value.province.id);
        },
        jobTypeChange(value) {
            this.form.job_types.push(value.value);
        },
    },
    watch: {
        filter_list: {
            deep: true,
            handler(newVal, oldVal) {
                this.search();
            },
        },
    },
};
</script>
