<template>
    <div>
        <div class="clearfix">
                  <div class="hero-image-hunter">
                      <div class="hero-text">
                            <h1 class="color-white"> Reqruit Consultant</h1>
                            <hr class="hr-hero xs-hide">
                    </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="how-hire center">
                <div class="sm-col-3 mx-auto">
                    <h1> Connecting The Dots</h1>
                    <hr class="hr-hunter">
                </div>
                <img src="~/assets/images/how-we-hire.png">
            </div>
        </div>
        <div class="clearfix">
                <div class="sm-flex flex-wrap content-stretch" style="min-height: 600px">
                    <div class="sm-col sm-col-7 order-1">
                        <div class="img-form-hunter">
                            <div class="rectangle"></div>
                            <img src="~/assets/images/contact-us-section.png">
                        </div>
                    </div>
                    <div class="sm-col sm-col-5 order-0">
                        <div class="contact-form">
                            <form @submit.prevent="save">
                                <h1> Send Us Your Reqruitment Needs</h1>
                                <label for="name"> Name* </label>
                                <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    v-model="form.name"
                                    @blur="$v.form.name.$touch()"
                                    placeholder="Fullname"
                                    required
                                />
                                <label for="email"> Email* </label>
                                <input type="text"
                                    name="email"
                                    id="email"
                                    v-model="form.email"
                                    @blur="$v.form.email.$touch()"
                                    placeholder="Email Address"
                                    required
                                />
                                <label for="phone"> Phone* </label>
                                <input
                                    type="text"
                                    name="phone"
                                    id="phone"
                                    v-model="form.phone"
                                    @blur="$v.form.phone.$touch()"
                                    placeholder="Phone Number"
                                    required
                                />
                                <label for="howhelp"> How We Can Help? </label>
                                <textarea
                                    placeholder="Message"
                                    name="description"
                                    id="description"
                                    v-model="form.description"
                                    @blur="$v.form.description.$touch()"
                                    required
                                />
                                <button
                                    id="about-us-button"
                                    class="bold"
                                    :disabled="$v.$invalid || saving"
                                >
                                    <span v-if="!saving">Submit</span>
                                    <span v-else>Memproses</span> </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
    data() {
        return {
            saving: false,
            form: {
                name: "",
                email: "",
                phone: "",
                description: "",
            },
        };
    },
    validations: {
        form: {
            name: { required },
            email: { required, email },
            phone: { required, minLength: minLength(9) },
            description: { required },
        }
    },
    methods: {
        save() {
            this.saving = true;

            this.$axios
                .$post(`employer/head-hunting`, this.form)
                .then((res) => {
                    this.form = {
                        name: "",
                        email: "",
                        phone: "",
                        description: "",
                    }
                    this.$v.$reset();
                    this.swalToast(res.status, res.message);
                })
                .catch((err) => {
                    if (err.response.data.message != undefined) {
                        this.swalWrong(err.response.data.message);
                    } else {
                        this.swalWrong();
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    }
}
</script>
