<template>
    <div>
        <div class="clearfix">
                  <div class="hero-image-hunter">
                      <div class="hero-text">
                            <h1 class="color-white"> Head Hunter</h1>
                            <hr class="hr-hero xs-hide">
                    </div>
            </div>
        </div>
        <div class="clearfix">
                <div class="how-hire center"> 
                    <h1> Connecting The Dots</h1>
                    <hr class="hr-hunter">
                    <p>We make recruitment fast & simple</p>
                    <img src="~/assets/images/how-we-hire.png">
                </div>
        </div>
        <div class="clearfix">
                <div class="sm-flex flex-wrap content-stretch" style="min-height: 600px">
                    <div class="sm-col sm-col-7 order-1">
                        <div class="img-form-hunter">
                            <div class="rectangle"></div>
                            <img src="~/assets/images/contact-us-section.png">
                        </div>
                    </div>
                    <div class="sm-col sm-col-5 order-0">
                        <div class="contact-form">
                            <form action="">
                                <h1> Headhunter Enquiry Form</h1>
                                <label for="name"> Name* </label>
                                <input type="text" placeholder="Fullname" required> 
                                <label for="email"> Email* </label>
                                <input type="text" placeholder="Email Address" required> 
                                <label for="phone"> Phone* </label>
                                <input type="text" placeholder="Phone Number" required> 
                                <label for="howhelp"> How We Can Help? </label>
                                <textarea placeholder="Message" required> </textarea>
                                <button id="about-us-button" class="bold"> Submit </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>