<template>
    <div
        class="global-overlay"
        :class="{ show: show }"
        @click="handleGlobalOverlay"
    ></div>
</template>

<script>
export default {
    data() {
        return {
            show: false,
        };
    },
    created() {
        this.$nuxt.$on("show-overlay", () => {
            this.show = true;
            document.body.classList.add("no-scroll");
        });

        this.$nuxt.$on("hide-overlay", () => {
            this.show = false;
            document.body.classList.remove("no-scroll");
        });
    },
    methods: {
        handleGlobalOverlay() {
            this.show = false;
            document.body.classList.remove("no-scroll");
            this.$nuxt.$emit("hide-mobile-nav");
            this.$nuxt.$emit("hide-mobile-account-nav");
        },
    },
};
</script>
