<template>
    <header class="header">
        <div class="container height-100p">
            <div class="row height-100p">
                <div
                    class="header__logo height-100p flex items-center justify-between col-12 n-col-2"
                >
                    <h1>
                        <nuxt-link to="/" :title="site_name">
                            <span v-if="logo_url == ''" class="h4">{{
                                site_name
                            }}</span>
                            <img v-else :src="logo_url" :alt="site_name" />
                        </nuxt-link>
                    </h1>

                    <button
                        type="button"
                        class="header__mobile-trigger flex flex-column hide-n"
                        @click="showMobileNav"
                    >
                        <span class="bg-primary">&nbsp;</span>
                        <span class="bg-primary mt-5 mb-5">&nbsp;</span>
                        <span class="bg-primary">&nbsp;</span>
                    </button>
                </div>
                <div
                    class="header__top-menu col-12 n-col-10 pt-30 pb-30 n-pt-0 n-pb-0"
                    :class="{ active: mobile_nav_active }"
                >
                    <!-- tag at the down is the header navigation menu which will appear only on desktop mode-->
                    <nav class="top-menu-links">
                        <ul class="flex items-center menu">
                            <li
                                v-for="(menu, i) in top_menu.links"
                                :key="i"
                                class="parent"
                                @click="
                                    handleParentClick($event, `submenu-${i}`)
                                "
                                @mouseover="
                                    handleParentHover($event, `submenu-${i}`)
                                "
                                @mouseleave="
                                    handleParentLeave($event, `submenu-${i}`)
                                "
                            >
                                <nuxt-link
                                    v-if="menu.type == 'page'"
                                    :to="`/page/${menu.url}`"
                                    class="nav-link color-black"
                                    :title="menu.text"
                                    >{{ menu.text }}</nuxt-link
                                >
                                <nuxt-link
                                    v-else-if="menu.type == 'hardcoded'"
                                    :to="`/${menu.url}`"
                                    class="nav-link color-black"
                                    :title="menu.text"
                                    >{{ menu.text }}</nuxt-link
                                >
                                <a
                                    v-else
                                    :href="menu.url"
                                    :title="menu.text"
                                    class="nav-link color-black"
                                    >{{ menu.text }}</a
                                >
                                <span
                                    v-if="menu.childs.length"
                                    class="ml-5 icon-svg"
                                    ><IconCaretDown
                                /></span>
                                <template v-if="menu.childs.length">
                                    <ul
                                        class="submenu list-no-style"
                                        :ref="`submenu-${i}`"
                                    >
                                        <li
                                            v-for="(
                                                submenu, sub_i
                                            ) in menu.childs"
                                            :key="sub_i"
                                            class="child"
                                        >
                                            <nuxt-link
                                                v-if="submenu.type == 'page'"
                                                :to="`/page/${submenu.url}`"
                                                class="nav-link color-black"
                                                :title="submenu.text"
                                                >{{ submenu.text }}</nuxt-link
                                            >
                                            <nuxt-link
                                                v-else-if="
                                                    submenu.type == 'hardcoded'
                                                "
                                                :to="`/${submenu.url}`"
                                                class="nav-link color-black"
                                                :title="submenu.text"
                                                >{{ submenu.text }}</nuxt-link
                                            >
                                            <a
                                                v-else
                                                :href="submenu.url"
                                                :title="submenu.text"
                                                class="nav-link color-black"
                                                >{{ submenu.text }}</a
                                            >
                                        </li>
                                    </ul>
                                </template>
                            </li>
                        </ul>

                        <form
                            @submit.prevent="searchJob"
                            class="header__search-mobile form mt-25 hide-n"
                        >
                            <div
                                class="input-group input-group--no-append input-group--white"
                            >
                                <div
                                    class="input-group__prepend input-group__prepend--icon"
                                >
                                    <IconSearch />
                                </div>
                                <div
                                    class="input-group__main input-group__main--border"
                                >
                                    <input
                                        type="search"
                                        autocomplete="off"
                                        class="form__control form__control--bg-white"
                                        name="job-keyword"
                                        v-model="keyword"
                                        placeholder="Search Job..."
                                    />
                                </div>
                            </div>
                        </form>
                    </nav>

                    <div class="top-menu-right flex items-center justify-end">
                        <form
                            @submit.prevent="searchJob"
                            class="header__search form mr-10 hide show-n"
                            :class="{ 'show-search': show_desktop_search }"
                        >
                            <div
                                class="input-group input-group--no-prepend input-group--white"
                            >
                                <div
                                    class="input-group__main input-group__main--border"
                                >
                                    <input
                                        type="search"
                                        autocomplete="off"
                                        class="form__control form__control--bg-white"
                                        name="job-keyword"
                                        v-model="keyword"
                                        placeholder="Search Job..."
                                    />
                                </div>
                                <button
                                    type="submit"
                                    @click="show_desktop_search = true"
                                    class="btn input-group__append input-group__append--icon"
                                >
                                    <IconSearch />
                                </button>
                            </div>
                        </form>

                        <!-- authentication option (sign in and sign up)  -->
                        <div class="header__auth">
                            <div
                                v-show="authenticated"
                                id="header__notification"
                                class="header__notification hide show-n"
                                @click="showNotifications"
                            >
                                <i class="icon-notification"></i>
                                <span
                                    v-if="has_unread_notifications"
                                    class="header__notification-dot"
                                    >&nbsp;</span
                                >
                                <div
                                    v-show="notifListShow"
                                    id="header__notification-list"
                                    class="header__notification-list"
                                >
                                    <div
                                        v-if="loading_notification"
                                        class="loading-image"
                                    >
                                        <img
                                            src="~/assets/images/loading.gif"
                                            alt="Loading"
                                        />
                                    </div>
                                    <ul
                                        v-else-if="
                                            !loading_notification &&
                                            notifications.length > 0
                                        "
                                        class="list list-no-style"
                                    >
                                        <li
                                            v-for="(nt, i) in notifications"
                                            :key="i"
                                            :class="{ unread: !nt.is_read }"
                                            @click.stop="visitNotif(nt)"
                                        >
                                            <span>{{ nt.data.text }}</span>
                                            <span class="created_at">{{
                                                nt.created_at_for_human
                                            }}</span>
                                        </li>
                                        <li
                                            v-if="next_notif_url !== ''"
                                            @click.stop="showMoreNotifications"
                                            class="action"
                                        >
                                            <span v-if="!loading_next_page"
                                                >Tampilkan lagi</span
                                            >
                                            <span v-else>Memuat...</span>
                                        </li>
                                        <li
                                            @click.stop="
                                                markAllNotificatiionAsRead
                                            "
                                            v-if="has_unread_notifications"
                                            class="action"
                                        >
                                            <span v-if="!processing_all_read"
                                                >Jadikan terbaca semua</span
                                            >
                                            <span v-else>Memproses...</span>
                                        </li>
                                    </ul>
                                    <div
                                        v-if="
                                            !loading_notification &&
                                            notifications.length === 0
                                        "
                                        class="header__notification-empty"
                                    >
                                        Tidak ada
                                    </div>
                                </div>
                            </div>

                            <div
                                v-if="authenticated"
                                class="header__authenticated"
                            >
                                <div class="header__avatar">
                                    <img
                                        :src="user_avatar"
                                        :alt="user.name"
                                        class="img-fluid"
                                    />
                                </div>
                                <div
                                    class="header__auth-menu-trigger"
                                    :class="header_text_class"
                                >
                                    <i class="icon-arrow-down-2"></i>
                                </div>
                                <div class="header__auth-menu-wrapper">
                                    <nav class="header__auth-menu">
                                        <ul>
                                            <li>
                                                <nuxt-link
                                                    to="/account/job-applications"
                                                    title="My Job Applications"
                                                    >My Job
                                                    Applications</nuxt-link
                                                >
                                            </li>
                                            <li>
                                                <nuxt-link
                                                    to="/account/bookmark"
                                                    title="Bookmarks"
                                                    >Bookmarks</nuxt-link
                                                >
                                            </li>
                                            <li>
                                                <nuxt-link
                                                    to="/account/edit"
                                                    title="Edit Account"
                                                    >Edit Account</nuxt-link
                                                >
                                            </li>
                                            <li>
                                                <nuxt-link
                                                    to="/account/edit-profile"
                                                    title="Edit Profile"
                                                    >Edit Profile</nuxt-link
                                                >
                                            </li>
                                            <li id="logout-link">
                                                <a
                                                    href="#"
                                                    title="Logout"
                                                    @click.prevent="logout"
                                                    >Logout
                                                    <i class="icon-logout"></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div
                                v-else
                                class="header__auth-link flex items-center"
                            >
                                <ul class="n-flex">
                                    <li class="mb-20 n-mb-0 n-mr-10">
                                        <nuxt-link
                                            to="/auth/register"
                                            title="Register"
                                            class="register btn btn--grey"
                                            >Register</nuxt-link
                                        >
                                    </li>
                                    <li>
                                        <nuxt-link
                                            to="/auth/login"
                                            title="Login"
                                            class="login btn btn--primary"
                                            ><i class="icon-login"></i>
                                            Login</nuxt-link
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import NotificationMixin from "~/plugins/mixins/notification";
import IconSearch from "~/components/Icon/IconSearch";
import IconCaretDown from "~/components/Icon/IconCaretDown";
import { mapGetters } from "vuex";

export default {
    mixins: ["NotificationMixin"],
    components: {
        IconSearch,
        IconCaretDown,
    },
    data() {
        return {
            keyword: "",
            is_home: false,
            explore_jobs: false,
            user_avatar: "",
            site_name: this.$store.getters.site_name,
            header_text_class: "",
            logo_url: this.$store.getters.logo.frontend,
            notifListShow: false,
            employer_site_url: process.env.EMPLOYER_BASE_URL,
            top_menu: this.$store.getters.menus.top_menu,
            mobile_nav_active: false,
            show_desktop_search: false,
        };
    },
    created() {
        if (this.authenticated) {
            this.user_avatar = this.user.avatar_url;
            this.has_unread_notifications = this.user.has_unread_notifications;
        }

        this.$nuxt.$on("avatar-update", (avatar_url) => {
            this.user_avatar = avatar_url;
        });

        this.$nuxt.$on("hide-mobile-nav", () => {
            this.mobile_nav_active = false;
            document.querySelector(".global-overlay").style.zIndex = "";
        });

        // this.routeCheck();

        if (process.client) {
            const notifEl = document.getElementById("header__notification");
            const vm = this;
            if (notifEl) {
                document.addEventListener("click", function (event) {
                    if (event.target.className == "icon-notification") {
                        return;
                    }
                    const isClickInsideEl = notifEl.contains(event.target);
                    if (!isClickInsideEl) {
                        vm.notifListShow = false;
                    }
                });
            }
        }
    },
    methods: {
        logout() {
            this.$auth.logout().then((res) => {
                const index = this.routeHistories.length - 1;
                if (index > -1) {
                    window.location.reload();
                } else {
                    this.$router.push("/");
                }
            });
        },
        searchJob() {
            if (this.keyword == "") {
                return;
            }
            this.$router.push(`/explore-jobs?keyword=${this.keyword}`);
            this.mobile_nav_active = false;
            this.$nuxt.$emit("hide-overlay");

            setTimeout(() => {
                const elDistanceToTop =
                    window.pageYOffset +
                    document
                        .querySelector(".ej-toolbar")
                        .getBoundingClientRect().top;
                window.scrollTo({
                    top: elDistanceToTop - 90,
                    behavior: "smooth",
                });
            }, 1000);
        },
        routeCheck() {
            let route_path = this.$route.path;
            if (route_path == "/") {
                this.is_home = true;
            } else {
                this.is_home = false;
                this.logo_url = this.$store.getters.logo.frontend;
                this.header_text_class = "";
            }

            this.explore_jobs = route_path == "/explore-jobs" ? true : false;
        },
        showNotifications() {
            this.notifListShow = !this.notifListShow;

            if (this.notifListShow) {
                this.getNotifications();
            }
        },
        visitNotif(notification) {
            this.visitNotification(notification);
            this.notifListShow = false;
        },
        showMobileNav() {
            this.mobile_nav_active = true;
            this.$nuxt.$emit("show-overlay");
            document.querySelector(".global-overlay").style.zIndex = 999;
        },
        handleParentClick(even, submenu) {
            if (window.innerWidth < 992 && this.$refs[submenu] != undefined) {
                if (this.$refs[submenu][0].classList.contains("show-submenu")) {
                    this.$refs[submenu][0].classList.remove("show-submenu");
                } else {
                    this.$refs[submenu][0].classList.add("show-submenu");
                }
            }
        },
        handleParentHover(even, submenu) {
            if (window.innerWidth >= 992 && this.$refs[submenu] != undefined) {
                this.$refs[submenu][0].classList.add("show-submenu");
            }
        },
        handleParentLeave(even, submenu) {
            if (window.innerWidth >= 992 && this.$refs[submenu] != undefined) {
                this.$refs[submenu][0].classList.remove("show-submenu");
            }
        },
    },
    computed: {
        ...mapGetters("route-history", ["routeHistories"]),
    },
    watch: {
        $route() {
            this.routeCheck();
        },
    },
};
</script>
