<template>
    <div
        class="man rounded text-center b-1 b-border"
        :class="{ show: show_nav }"
    >
        <div v-if="authenticated" class="man__avatar pt-20">
            <div class="avatar mx-auto">
                <img :src="user_avatar" :alt="user.name" class="img-fluid" />
            </div>
            <div class="man__user-name mt-10">{{ user.name }}</div>
        </div>

        <nav v-if="authenticated" class="man__auth-menu mt-20">
            <ul class="list-no-style">
                <li>
                    <a
                        @click.prevent="closeNav('/account/job-applications')"
                        href="/account/job-applications"
                        title="Lamaran Saya"
                        class="color-black pt-10 pb-10 bt-1 b-border block"
                        >Lamaran Saya</a
                    >
                </li>
                <li>
                    <a
                        @click.prevent="closeNav('/account/bookmark')"
                        href="/account/bookmark"
                        title="Bookmark"
                        class="color-black pt-10 pb-10 bt-1 b-border block"
                        >Bookmark</a
                    >
                </li>
                <li>
                    <a
                        @click.prevent="closeNav('/account/edit')"
                        href="/account/edit"
                        title="Edit Akun"
                        class="color-black pt-10 pb-10 bt-1 b-border block"
                        >Edit Akun</a
                    >
                </li>
                <li>
                    <a
                        @click.prevent="closeNav('/account/edit-profile')"
                        href="/account/edit-profile"
                        title="Edit Profile"
                        class="color-black pt-10 pb-10 bt-1 b-border block"
                        >Edit Profile</a
                    >
                </li>
            </ul>
        </nav>
        <div v-if="authenticated" class="man__logout">
            <a
                href="#"
                title="Logout"
                @click.prevent="logout"
                class="color-black pt-10 pb-10 bt-1 b-border block"
                >&larr; Logout</a
            >
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            show_nav: false,
            user_avatar: "",
            site_name: this.$store.getters.site_name,
            logo_url: this.$store.getters.logo.frontend,
        };
    },
    created() {
        if (this.authenticated) {
            this.user_avatar = this.user.avatar_url;
        }

        this.$nuxt.$on("avatar-update", (avatar_url) => {
            this.user_avatar = avatar_url;
        });

        this.$nuxt.$on("show-mobile-account-nav", () => {
            this.show_nav = true;
            this.$nuxt.$emit("show-overlay");
        });

        this.$nuxt.$on("hide-mobile-account-nav", () => {
            this.show_nav = false;
        });
    },
    methods: {
        logout() {
            this.$auth.logout().then((res) => {
                this.closeNav();
                this.$router.push("/");
            });
        },
        closeNav(link) {
            this.show_nav = false;
            this.$nuxt.$emit("hide-overlay");
            this.$router.push(link);
        },
    },
};
</script>
