<template>
    <div
        class="new-footer-root pt-40"
        :class="{ 'pb-45 n-pb-25': authenticated, 'pb-35': !authenticated }"
    >
        <div class="container">
            <div class="footer-menu row mb-20">
                <div class="col-12 n-col-3 mb-20 t-mb-0 relative">
                    <div class="footer-logo">
                        <img :src="logo_url" alt="logo" class="logo" />
                    </div>
                </div>
                <div class="col-12 n-col-9 mt-20 mb-20 n-mt-0 n-mb-0">
                    <ul class="n-flex flex-wrap justify-end">
                        <li v-for="(menu, i) in footer_menu.links" :key="i">
                            <nuxt-link
                                v-if="menu.type == 'page'"
                                :to="`/page/${menu.url}`"
                                class="nav-link color-white bold-700"
                                :title="menu.text"
                                >{{ menu.text }}</nuxt-link
                            >
                            <nuxt-link
                                v-else-if="menu.type == 'hardcoded'"
                                :to="`/${menu.url}`"
                                class="nav-link color-white bold-700"
                                :title="menu.text"
                                >{{ menu.text }}</nuxt-link
                            >
                            <a
                                v-else
                                :href="menu.url"
                                :title="menu.text"
                                class="nav-link color-white bold-700"
                                >{{ menu.text }}</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="copyright color-white">
                © 2021 Reqruitasia. All rights reserved
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            logo_url: this.$store.getters.logo.frontend,
            instagram_link: "https://www.instagram.com/reqruit.asia/",
            footer_menu: this.$store.getters.menus.footer_menu,
        };
    },
};
</script>
