<template>
    <header class="new-header bb-1 b-border">
        <div class="container height-100p flex items-center justify-between">
            <div class="new-header__left flex items-center">
                <div class="new-header__logo mr-60">
                    <nuxt-link to="/">
                        <img
                            src="~/assets/images/reqruit-logo.png"
                            alt="logo"
                            class="img-fluid"
                        />
                    </nuxt-link>
                </div>
                <div class="new-header__navigation hide show-n">
                    <ul class="n-flex">
                        <li class="mr-30 has-children">
                            <a
                                href="javascript:void(0);"
                                rel="nofollow"
                                class="flex items-center"
                            >
                                <span class="text mr-10 color-black"
                                    >About</span
                                >
                                <span class="icon flex items-center"
                                    ><IconCaretDown
                                /></span>
                            </a>
                            <ul class="childrens">
                                <li>
                                    <a href="/team" class="color-black">
                                        <span>Our Team</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/about" class="color-black">
                                        <span>Our Company</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mr-30">
                            <a href="/employer" class="color-black">Employer</a>
                        </li>
                        <li class="mr-30">
                            <nuxt-link to="/explore-jobs" class="color-black"
                                >Explore Jobs</nuxt-link
                            >
                        </li>
                        <li class="mr-30">
                            <nuxt-link to="/article" class="color-black"
                                >Insights</nuxt-link
                            >
                        </li>
                        <li>
                            <nuxt-link to="/contact_us" class="color-black"
                                >Contact Us</nuxt-link
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="new-header__right flex items-center">
                <div
                    class="new-header__search mr-25 xs-hide sm-hide md-hide"
                    v-if="!explore_jobs"
                >
                    <div class="search">
                        <input
                            type="text"
                            placeholder="Search"
                            v-model="search.value"
                            @focus="
                                () => {
                                    search.act = true;
                                }
                            "
                            @blur="
                                () => {
                                    search.act = false;
                                }
                            "
                        />
                    </div>
                </div>
                <div class="new-header__auth hide show-d">
                    <div v-if="authenticated" class="justify-between n-flex">
                        <div class="truncate">Hi {{ user.name }}</div>
                        <a
                            href="#"
                            class=""
                            title="Logout"
                            style="white-space: nowrap"
                            @click.prevent="logout"
                            >&larr; Logout</a
                        >
                    </div>
                    <div v-else class="n-flex">
                        <nuxt-link to="/auth/login" class="btn btn--grey mr-15">
                            Login</nuxt-link
                        >
                        <nuxt-link to="/auth/register" class="btn btn--primary">
                            Sign up
                        </nuxt-link>
                    </div>
                </div>
                <div class="collapse-navbar hide-n" v-if="!keyboard_displayed">
                    <button
                        type="button"
                        title="Account"
                        @click="toggleAccountNav"
                        class="flex flex-column"
                        :class="{ active: open_menu }"
                    >
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import IconCaretDown from "~/components/Icon/IconCaretDown";

export default {
    components: {
        IconCaretDown,
    },
    data() {
        return {
            logo_url: this.$store.getters.logo.frontend,
            search: {
                value: "",
                act: false,
            },
            explore_jobs: false,
            user_avatar: "",
            site_name: this.$store.getters.site_name,
            header_class: "light",
            header_text_class: "",
            btn_outline_class:
                this.$route.path == "/"
                    ? "btn-outline--color-light"
                    : "btn-outline--color-dark",
            notifListShow: false,
            employer_site_url: process.env.EMPLOYER_BASE_URL,
            top_menu: this.$store.getters.menus.top_menu,
            open_menu: false,
            home_active: false,
            bookmark_active: false,
            notification_active: false,
            account_active: false,
            keyboard_displayed: false,
        };
    },
    created() {
        if (this.authenticated) {
            this.user_avatar = this.user.avatar_url;
            this.has_unread_notifications = this.user.has_unread_notifications;
        }
        this.$nuxt.$on("avatar-update", (avatar_url) => {
            this.user_avatar = avatar_url;
        });
        //this.routeCheck();
        if (process.client) {
            const notifEl = document.getElementById("header__notification");
            const vm = this;
            if (notifEl) {
                document.addEventListener("click", function (event) {
                    const isClickInsideEl = notifEl.contains(event.target);
                    if (!isClickInsideEl) {
                        vm.notifListShow = false;
                    }
                });
            }
        }
        this.setActiveMenu();

        this.$nuxt.$on("close-account-nav", () => {
            this.open_menu = false;
        });

        if (this.authenticated) {
            this.has_unread_notifications = this.user.has_unread_notifications;
        }

        this.$nuxt.$on("is-notification-clean", (is_clean) => {
            this.has_unread_notifications = is_clean;
        });

        if (process.client) {
            const unsubscribe = this.$detect_keyboard((visibility) => {
                if (visibility === "hidden") {
                    this.keyboard_displayed = false;
                } else {
                    this.keyboard_displayed = true;
                }
            });
        }
    },
    methods: {
        searchJob() {
            this.$router.push(`/explore-jobs?keyword=${this.search.value}`);
        },
        logout() {
            this.$auth.logout().then((res) => {
                this.$router.push("/");
            });
        },
        routeCheck() {
            let route_path = this.$route.path;
            if (route_path == "/") {
                this.is_home = true;
                this.logo_url = this.$store.getters.logo.light;
                this.header_class = "dark";
                this.btn_outline_class = "btn-outline--color-light";
                this.header_text_class = "light";
            } else {
                this.is_home = false;
                this.logo_url = this.$store.getters.logo.frontend;
                this.header_class = "light";
                this.btn_outline_class = "btn-outline--color-dark";
                this.header_text_class = "";
            }
            this.explore_jobs = route_path == "/explore-jobs" ? true : false;
            console.log(route_path);
        },
        setActiveMenu() {
            this.resetActiveMenu();

            switch (this.$route.path) {
                case "/":
                    this.home_active = true;
                    break;
                case "/account/bookmark":
                    this.bookmark_active = true;
                    break;
                case "/account/notification":
                    this.notification_active = true;
                    break;
                default:
                    this.home_active = false;
                    this.bookmark_active = false;
                    this.notification_active = false;
                    break;
            }
        },
        resetActiveMenu() {
            this.home_active = false;
            this.bookmark_active = false;
            this.notification_active = false;
            this.account_active = false;
        },
        toggleAccountNav() {
            if (this.open_menu) {
                this.$nuxt.$emit("close-account-nav");
                this.open_menu = false;
            } else {
                this.$nuxt.$emit("show-account-nav");
                this.open_menu = true;
            }
        },
    },
    watch: {
        $route() {
            this.setActiveMenu();
        },
    },
};
</script>
