<template>
    <div class="subfooter bg-primary color-white relative pt-40 t-pt-0">
        <div class="container height-100p subfoot">
            <div class="subfooter__text height-100p mb-30 t-mb-0">
                <div
                    class="inner text-center t-text-left max-500 mx-auto t-ml-0"
                >
                    <h3 class="h3 bold-700 color-white mb-15">
                        Connect the dots
                    </h3>
                    <div class="p4 mb-15">
                        Help us help you find your next journey
                    </div>
                    <div class="width-100p flex justify-center t-justify-start">
                        <nuxt-link
                            to="/explore-jobs"
                            class="btn bold-700 width-max-con"
                            >Find More</nuxt-link
                        >
                    </div>
                </div>
            </div>
            <div class="subfooter__image">
                <img 
                    src="~/assets/images/engineer-holding-tablet.png"
                    alt="sub-foot"
                    class="img-full-cover"
                >
            </div>
        </div>
    </div>
</template>
