<template>
    <div class="p-company bg-white">
        <!-- <div class="p-company__banner">
            <div class="logo-sq">
                <img
                    :src="company.logo_url"
                    :alt="company.name"
                    class="img-fluid"
                />
            </div>
            <img
                :src="company.banner_url"
                :alt="company.name"
                class="img-fluid"
            />
        </div> -->

        <div class="container pt-20 pb-20 n-pt-40 n-pb-40">
            <section class="p-company__top flex pb-20 n-pb-40">
                <div class="p-company__logo">
                    <img
                        :src="company.logo_url"
                        :alt="company.name"
                        class="img-fluid"
                    />
                </div>

                <div class="p-company__details">
                    <h1 class="h3 bold-700">{{ company.name }}</h1>
                    <div class="p-company__short-desc">
                        {{ company.short_description }}
                    </div>
                    <div class="p-company__list">
                        <div class="list-detail">
                            <dl>
                                <dt>Address</dt>
                                <dd>
                                    {{ company.address }}<br />
                                    {{ company.subdistrict.name }},<br />
                                    {{ company.city_name }} -
                                    {{ company.province.name }}<br />
                                    {{ company.pos_code }}
                                </dd>

                                <dt>Phone</dt>
                                <dd>{{ company.phone }}</dd>

                                <template v-if="company.website_url !== null">
                                    <dt>Website</dt>
                                    <dd>
                                        <a
                                            :href="company.website_url"
                                            :title="company.name"
                                            >{{ company.website_url }}</a
                                        >
                                    </dd>
                                </template>

                                <template v-if="company.industries.length">
                                    <dt>Industry</dt>
                                    <dd>
                                        <div class="flex flex-wrap">
                                            <div
                                                v-for="(
                                                    ind, i
                                                ) in company.industries"
                                                :key="i"
                                                class="badge mr-10 mb-10"
                                            >
                                                <span>{{ ind.name }}</span>
                                            </div>
                                        </div>
                                    </dd>
                                </template>
                            </dl>
                        </div>
                    </div>
                    <div
                        class="flex flex-column m-flex-row items-center t-justify-start n-justify-end"
                    >
                        <button
                            type="button"
                            class="btn btn--icon btn-outline--primary mb-30 m-mb-0 m-mr-20"
                            @click="writeReview"
                        >
                            <span class="svg-icon mr-10"><IconPencil /></span>
                            <span class="text">Write e review</span>
                        </button>
                        <div class="list-socials">
                            <ul class="list-no-style flex items-center">
                                <li v-if="company.linkedin != ''">
                                    <a
                                        :href="company.linkedin"
                                        title="Linkedin"
                                    >
                                        <svg>
                                            <image
                                                xlink:href="~/assets/images/icons/social/linkedin.svg"
                                                alt="Linkedin"
                                            />
                                        </svg>
                                    </a>
                                </li>
                                <li v-if="company.instagram != ''">
                                    <a
                                        :href="company.instagram"
                                        title="Instagram"
                                    >
                                        <svg>
                                            <image
                                                xlink:href="~/assets/images/icons/social/instagram.svg"
                                                alt="Instagram"
                                            />
                                        </svg>
                                    </a>
                                </li>
                                <li v-if="company.twitter != ''">
                                    <a :href="company.twitter" title="Twitter">
                                        <svg>
                                            <image
                                                xlink:href="~/assets/images/icons/social/twitter.svg"
                                                alt="Twitter"
                                            />
                                        </svg>
                                    </a>
                                </li>
                                <li v-if="company.facebook != ''">
                                    <a
                                        :href="company.facebook"
                                        title="Facebook"
                                    >
                                        <svg>
                                            <image
                                                xlink:href="~/assets/images/icons/social/facebook.svg"
                                                alt="Facebook"
                                            />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <article class="p-company__description">
                <h2 class="h4 bold-700 mb-15">Overview</h2>
                <div class="description" v-html="company.description"></div>
            </article>

            <CompanyReviews
                :company="company"
                :reviews="reviews"
                :review_form="review_form"
            />

            <section class="p-company__images">
                <h2 class="h4 bold-700 mb-15">Gallery</h2>
                <client-only>
                    <silent-box :gallery="images"></silent-box>
                </client-only>
            </section>

            <section class="p-company__jobs pt-50 pb-50">
                <h2 class="h4 bold-700 mb-15">More From Reqruitasia Jobs</h2>

                <div class="row">
                    <div
                        v-for="(job, i) in job_data.jobs"
                        :key="i"
                        class="col-12 m-col-6 n-col-4 mb-20"
                    >
                        <JobCard :job="job" :key="i" />
                    </div>
                </div>

                <button
                    v-if="job_data.next_page_url != null"
                    type="button"
                    class="btn btn--primary mx-auto mt-30"
                    @click="nextJobs"
                    :disabled="loading_next_jobs"
                >
                    <span v-if="loading_next_jobs">Loading...</span>
                    <span v-else>Load more</span>
                </button>
            </section>
        </div>
    </div>
</template>

<script>
import JobCard from "~/components/Share/Job/JobCard";
import CompanyReviews from "~/components/Company/CompanyReviews";
import IconPencil from "~/components/Icon/IconPencil";

export default {
    components: {
        JobCard,
        CompanyReviews,
        IconPencil,
    },
    head() {
        return {
            title: this.meta_title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.meta_description,
                },
                {
                    hid: `og:title`,
                    property: "og:title",
                    content: this.meta_title,
                },
                {
                    hid: `og:url`,
                    property: "og:url",
                    content: this.current_page_url,
                },
                {
                    hid: `og:image`,
                    property: "og:image",
                    content: this.company.logo_url,
                },
                {
                    hid: `og:description`,
                    property: "og:description",
                    content: this.meta_description,
                },
            ],
        };
    },
    async asyncData({ $axios, params }) {
        let { data } = await $axios.$get(`company/${params.slug}`);
        let baseUrl = process.env.APP_BASE_URL;

        return {
            meta_title: data.meta_title,
            meta_description: data.meta_description,
            company: data.company,
            review_form: data.review_form,
            reviews: data.reviews,
            job_data: data.job_data,
            images: data.images,
            current_page_url: `${baseUrl}/company/${data.company.slug}`,
        };
    },
    data() {
        return {
            loading_next_jobs: false,
        };
    },
    created() {
        if (process.client) {
            this.jobCardSameHeight();
        }
    },
    methods: {
        writeReview() {
            if (!this.authenticated) {
                this.swalLoginPlease("You have to login!");
                return;
            }
            this.$nuxt.$emit("show-modal", "new-review-modal");
        },
        jobCardSameHeight() {
            this.$job_card.sameHeight({
                wrapper: ".p-company__jobs",
                row_mobile: 2,
                row_tablet: 2,
                row_notebook: 3,
                row_desktop: 3,
            });
        },
        nextJobs() {
            this.loading_next_jobs = true;

            this.$axios
                .$get(
                    `company/${this.company.slug}/jobs?page=${
                        this.job_data.current_page + 1
                    }`
                )
                .then((res) => {
                    this.job_data.jobs = [
                        ...this.job_data.jobs,
                        ...res.data.jobs,
                    ];
                    this.job_data.next_page_url = res.data.next_page_url;
                    this.job_data.current_page = res.data.current_page;
                    this.jobCardSameHeight();
                })
                .catch((err) => {
                    console.log(err.response);
                })
                .finally(() => {
                    this.loading_next_jobs = false;
                });
        },
    },
};
</script>
