<template>
    <div class="max-700 mx-auto">
        <template v-if="!start">
            <h2 class="h3 mb-20">Listening Test - Answer Key</h2>
            <p>
                In this section of the test, you will hear 4 different short
                conversations. After each conversation, you will have to answer
                questions verbally. You will be given limited time to answer
                each questions.
            </p>
            <p>Please make sure that you have your speaker ready.</p>
            <img
                src="~/assets/images/logo/get_fluent.png"
                alt="getfluent"
                class="width-155 n-width-95 img-fluid"
            />
            <button
                @click="startSession"
                type="button"
                class="btn btn--primary mx-auto"
            >
                I'm Ready
            </button>
        </template>

        <div
            v-else-if="start && !done"
            v-for="(question, i) in questions"
            :key="i"
            class="mb-20"
        >
            <template v-if="active_audio == i + 1">
                <template v-if="!answering">
                    <h2 class="h3 mb-20">Audio {{ i + 1 }}</h2>
                    <audio v-if="question.audio != undefined" controls>
                        <source :src="question.audio" type="audio/mpeg" />
                    </audio>
                    <p>
                        Please answer the following questions based on the
                        previous conversation. The questions will not be
                        repeated and you will be given limited time to answer
                        each questions.
                    </p>
                    <button
                        @click="nextQuestion(i)"
                        type="button"
                        class="btn btn--primary mx-auto"
                    >
                        I'm Ready
                    </button>
                </template>

                <template v-else>
                    <template v-for="(q, qi) in question.questions">
                        <div v-if="active_question == qi + 1" :key="qi">
                            <p>{{ q.question }}</p>

                            <ul class="list-no-style">
                                <li v-for="(text, alp) in q.choices" :key="alp">
                                    <label class="ir-container"
                                        >{{ text }}
                                        <input
                                            type="radio"
                                            :value="alp"
                                            :name="`session_3_${i}_${qi}`"
                                            @click="
                                                answer({
                                                    a_index: i,
                                                    q_index: qi,
                                                    alp,
                                                })
                                            "
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </template>
                </template>
            </template>
        </div>

        <template v-if="done">
            <div class="h4 text-center mb-20">
                Congratulation, you've completed session 3!
            </div>
            <div class="h4 text-center mb-20">This is the end of the test.</div>
            <button
                type="button"
                class="btn btn--primary mx-auto"
                @click="submitTest"
            >
                Submit your test <i class="icon-arrow-right"></i>
            </button>
        </template>
    </div>
</template>

<script>
export default {
    props: {
        questions: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            start: false,
            done: false,
            timerCount: null,
            active_audio: 0,
            answering: false,
            active_question: 0,
        };
    },
    methods: {
        answer(answer) {
            clearInterval(this.timerCount);
            this.$emit("answer", answer);
            this.nextQuestion(answer.a_index);
        },
        startSession() {
            this.start = true;
            this.active_audio = 1;
        },
        nextQuestion(audio_index) {
            clearInterval(this.timerCount);
            if (
                this.questions[audio_index].questions.length ==
                this.active_question
            ) {
                this.$emit("timerStandby");

                if (audio_index == 3) {
                    this.doneAnswer();
                    return;
                }

                this.answering = false;
                this.active_audio++;
                this.active_question = 0;
                return;
            }

            this.answering = true;
            this.active_question++;
            this.setTimer(
                this.questions[audio_index].questions[this.active_question - 1]
                    .timer
            );
        },
        doneAnswer() {
            clearInterval(this.timerCount);
            this.done = true;
            this.$emit("timerStandby");
        },
        submitTest() {
            this.$emit("submitTest");
        },
        setTimer(seconds_num) {
            clearInterval(this.timerCount);
            let hours = Math.floor(seconds_num / 3600);
            let minutes = Math.floor((seconds_num - hours * 3600) / 60);
            let seconds = seconds_num - hours * 3600 - minutes * 60;

            this.timerCount = setInterval(() => {
                let min = minutes;
                let sec = seconds;

                if (minutes < 10) {
                    min = `0${minutes}`;
                }
                if (seconds < 10) {
                    sec = `0${seconds}`;
                }
                this.$emit("setTimer", {
                    text: `${min}:${sec}`,
                    seconds,
                });

                if (seconds == 0) {
                    minutes--;
                    seconds = 60;
                    if (minutes < 0) {
                        this.nextQuestion(this.active_audio);
                    }
                }
                seconds--;
            }, 1000);
        },
        beforeRouteLeave(to, from, next) {
            clearInterval(this.timerCount);
            next();
        },
    },
};
</script>
