<template>
    <div class="max-700 mx-auto">
        <template v-if="active_question == 0">
            <h2 class="h3 mb-20">Multiple Choice Test - Answer Key</h2>
            <p>
                In this section of the test, each question has four answer
                choices. Read each question and answer by choosing the best
                choice. Please note that you will be given limited time to
                answer each question. When the time is finished, you will be
                automatically directed to the next question.
            </p>
            <p>Good luck!</p>
            <img
                src="~/assets/images/logo/get_fluent.png"
                alt="getfluent"
                class="width-155 n-width-95 img-fluid"
            />
            <button
                @click="nextQuestion"
                type="button"
                class="btn btn--primary mx-auto"
            >
                I'm Ready
            </button>
        </template>
        <template v-else>
            <template v-for="(q, i) in questions">
                <div v-if="i + 1 == active_question" :key="i">
                    <p class="pre-line">{{ q.question }}</p>

                    <ul class="list-no-style">
                        <li v-for="(ans, ans_i) in q.answers" :key="ans_i">
                            <label class="ir-container"
                                >{{ ans.answer }}
                                <input
                                    type="radio"
                                    :value="ans.id"
                                    :name="`session_1_${i}`"
                                    @click="answer({ i, q, ans })"
                                />
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </template>
        </template>

        <template v-if="active_question > questions.length">
            <div class="h4 text-center mb-20">
                Congratulation, you've completed session 1!
            </div>
            <button
                type="button"
                class="btn btn--primary mx-auto"
                @click="nextSession"
            >
                Next <i class="icon-arrow-right"></i>
            </button>
        </template>
    </div>
</template>

<script>
export default {
    props: {
        questions: {
            type: Array,
            require: true,
        },
    },
    data() {
        return {
            active_question: 0,
            timerCount: null,
        };
    },
    methods: {
        answer(answer) {
            this.$emit("answer", answer);
            setTimeout(() => {
                this.nextQuestion();
            }, 500);
        },
        nextQuestion() {
            this.active_question++;
            if (this.active_question <= this.questions.length) {
                this.setTimer(this.questions[this.active_question - 1].timer);
            } else {
                clearInterval(this.timerCount);
                this.$emit("timerStandby");
            }
        },
        setTimer(seconds_num) {
            clearInterval(this.timerCount);
            let hours = Math.floor(seconds_num / 3600);
            let minutes = Math.floor((seconds_num - hours * 3600) / 60);
            let seconds = seconds_num - hours * 3600 - minutes * 60;

            this.timerCount = setInterval(() => {
                let min = minutes;
                let sec = seconds;

                if (minutes < 10) {
                    min = `0${minutes}`;
                }
                if (seconds < 10) {
                    sec = `0${seconds}`;
                }
                this.$emit("setTimer", {
                    text: `${min}:${sec}`,
                    seconds,
                });

                if (seconds == 0) {
                    minutes--;
                    seconds = 60;
                    if (minutes < 0) {
                        this.timer = "00:00";
                        clearInterval(this.timerCount);
                        this.nextQuestion();
                    }
                }
                seconds--;
            }, 1000);
        },
        nextSession() {
            clearInterval(this.timerCount);
            this.$emit("nextSession", 2);
        },
        beforeRouteLeave(to, from, next) {
            clearInterval(this.timerCount);
            next();
        },
    },
};
</script>
