<template>
    <div>
        <div v-if="!start" class="max-700 mx-auto">
            <h2 class="h3 mb-20">Vocabulary Test - Answer Key</h2>
            <p>
                In this section of the test, you will have to complete a short
                passage by choosing the correct words from the given list
                accordingly.
            </p>
            <p class="hide show-n">
                Drag the correct word from the box to the blank space in order
                to complete a passage.
            </p>
            <p class="hide-n">
                Click the blank underline block, then choose the answer in order
                to complete a passage.
            </p>
            <p>
                Please note that you have limited time to finish this section.
            </p>
            <p>Good luck!</p>
            <img
                src="~/assets/images/logo/get_fluent.png"
                alt="getfluent"
                class="width-155 n-width-95 img-fluid"
            />
            <button
                @click="startSession"
                type="button"
                class="btn btn--primary mx-auto"
            >
                I'm Ready
            </button>
        </div>
        <template v-else-if="start && !done">
            <div class="hide show-n">
                <div
                    class="answers-block"
                    ondragover="onDragOver(event);"
                    ondrop="onDrop(event);"
                >
                    <span
                        v-for="(c, i) in questions.choices"
                        :key="i"
                        draggable="true"
                        :id="`answer-${i}`"
                        class="answer"
                        ondragstart="onDragStart(event);"
                        :data-text="c.answer"
                        >{{ c.answer }}</span
                    >
                </div>
            </div>

            <Modal title="Choose an Answer" name="answer-modal" :footer="true">
                <template v-slot:body>
                    <span
                        v-for="(c, i) in questions.choices"
                        :key="i"
                        :id="`answer-mobile-${i}`"
                        class="badge inline-block mr-5 mb-5"
                        @click="answerMobile(c.answer, i)"
                    >
                        {{ c.answer }}
                    </span>
                </template>
                <template v-slot:footer>
                    <div class="flex justify-end">
                        <ModalCloseButton target="answer-modal" />
                    </div>
                </template>
            </Modal>

            <div v-html="questions.story" class="mb-20"></div>

            <button
                @click="doneAnswer"
                type="button"
                class="btn btn--primary mx-auto"
            >
                I'm done
            </button>
        </template>

        <template v-if="done">
            <div class="h4 text-center mb-20">
                Congratulation, you've completed session 2!
            </div>
            <button
                type="button"
                class="btn btn--primary mx-auto"
                @click="nextSession"
            >
                Next <i class="icon-arrow-right"></i>
            </button>
        </template>
    </div>
</template>

<script>
import Modal from "~/components/Share/Modal/Modal";
import ModalCloseButton from "~/components/Share/Modal/ModalCloseButton";

export default {
    props: {
        questions: {
            type: Object,
            require: true,
        },
    },
    components: {
        Modal,
        ModalCloseButton,
    },
    data() {
        return {
            start: false,
            done: false,
            timerCount: null,
            selected_block_num: null,
        };
    },
    created() {
        if (process.client) {
            window.onClick = this.onClick;
            window.onDragStart = this.onDragStart;
            window.onDragOver = this.onDragOver;
            window.onDrop = this.onDrop;
            window.preReplaceAnswer = this.preReplaceAnswer;
        }
    },
    methods: {
        onClick(event) {
            if (window.innerWidth < 992) {
                this.$nuxt.$emit("show-modal", "answer-modal");

                if (event.target.getAttribute("data-number") != null) {
                    this.selected_block_num =
                        event.target.getAttribute("data-number");
                }
            }
        },
        answerMobile(text, answer_block_num) {
            this.$emit("answer", {
                answer_number: parseInt(this.selected_block_num) - 1,
                text: text,
            });

            const html = `<span 
                draggable="true" 
                id="answer-${this.selected_block_num}" 
                onclick="preReplaceAnswer(event)" 
                ondragstart="onDragStart(event);" 
                data-text="${text}" 
                data-answer-block="${answer_block_num}" 
                class="answer"
            >${text}</span>`;

            const answerTargetEl = document.getElementById(
                `answer-line-${this.selected_block_num}`
            );

            const existingAnswerEl = answerTargetEl.querySelector(".answer");

            if (existingAnswerEl != null) {
                const prevSelectedBlockNum =
                    existingAnswerEl.getAttribute("data-answer-block");
                document
                    .getElementById(`answer-mobile-${prevSelectedBlockNum}`)
                    .classList.remove("badge--dimmed");
            }

            answerTargetEl.classList.add("has-answer");
            document
                .getElementById(`answer-mobile-${answer_block_num}`)
                .classList.add("badge--dimmed");
            answerTargetEl.innerHTML = "";
            answerTargetEl.innerHTML = html;

            this.$nuxt.$emit("close-modal", "answer-modal");
        },
        preReplaceAnswer(event) {
            this.selected_block_num =
                event.target.parentElement.getAttribute("data-number");
        },
        onDragStart(event) {
            event.dataTransfer.setData("text/plain", event.target.id);

            const parentEl = event.target.parentElement;
            parentEl.classList.remove("has-answer");

            if (parentEl.classList.contains("blank-underline")) {
                const answer_number =
                    parseInt(parentEl.getAttribute("data-number")) - 1;
                this.$emit("dragstart", answer_number);
            }
        },
        onDragOver(event) {
            event.preventDefault();
        },
        onDrop(event) {
            event.preventDefault();
            event.stopPropagation();

            const id = event.dataTransfer.getData("text");
            const draggableElement = document.getElementById(id);
            const dropzone = event.target;

            if (dropzone.classList.contains("blank-underline")) {
                if (!dropzone.hasChildNodes()) {
                    const answer_number =
                        parseInt(dropzone.getAttribute("data-number")) - 1;

                    this.$emit("answer", {
                        answer_number: answer_number,
                        text: draggableElement.getAttribute("data-text"),
                    });

                    dropzone.classList.add("has-answer");
                    dropzone.appendChild(draggableElement);
                    event.dataTransfer.clearData();
                }
            } else {
                if (!dropzone.classList.contains("answer")) {
                    dropzone.appendChild(draggableElement);
                    event.dataTransfer.clearData();
                }
            }
        },
        startSession() {
            this.start = true;
            this.setTimer(this.questions.timer);
        },
        setTimer(seconds_num) {
            clearInterval(this.timerCount);
            let hours = Math.floor(seconds_num / 3600);
            let minutes = Math.floor((seconds_num - hours * 3600) / 60);
            let seconds = seconds_num - hours * 3600 - minutes * 60;

            this.timerCount = setInterval(() => {
                let min = minutes;
                let sec = seconds;

                if (minutes < 10) {
                    min = `0${minutes}`;
                }
                if (seconds < 10) {
                    sec = `0${seconds}`;
                }
                this.$emit("setTimer", {
                    text: `${min}:${sec}`,
                    seconds,
                });

                if (seconds == 0) {
                    minutes--;
                    seconds = 60;
                    if (minutes < 0) {
                        this.doneAnswer();
                    }
                }
                seconds--;
            }, 1000);
        },
        nextSession() {
            clearInterval(this.timerCount);
            this.$emit("nextSession", 3);
        },
        doneAnswer() {
            this.done = true;
            clearInterval(this.timerCount);
            this.$emit("timerStandby");
        },
        beforeRouteLeave(to, from, next) {
            clearInterval(this.timerCount);
            next();
        },
    },
};
</script>
