<template>
    <div id="myo__interests" class="card">
        <div class="card__header">
            <div class="card__header-left">
                <div class="card__header-icon">
                    <i class="icon-heart"></i>
                </div>
                <h2 class="h4 card__header-title">Interest</h2>
            </div>
        </div>
        <div class="card__body card__body--pad-left">
            <div v-if="user_data.interest != ''">
                <div class="row mb-10">
                    <div class="col-12 n-col-4">
                        <span class="bold-700">Field of Interest</span>
                    </div>
                    <div class="col-12 n-col-8">
                        <div
                            v-for="(foi, i) in user_data.interest
                                .field_of_interests"
                            :key="i"
                        >
                            <div>{{ foi.jobfunction.name }}</div>
                            <ul class="check-list">
                                <li
                                    v-for="(role, index) in foi.jobroles"
                                    :key="index"
                                >
                                    {{ role.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-10">
                    <div class="col-12 n-col-4">
                        <span class="bold-700">Job Type</span>
                    </div>
                    <div class="col-12 n-col-8">
                        <ul class="check-list">
                            <li
                                v-for="(job_type, i) in user_data.interest
                                    .job_types"
                                :key="i"
                            >
                                {{ job_type.name }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mb-10">
                    <div class="col-12 n-col-4">
                        <span class="bold-700">Current Salary</span>
                    </div>
                    <div class="col-12 n-col-8">
                        {{
                            user_data.interest.current_salary
                                | format_currency("id-ID", "IDR")
                        }}
                    </div>
                </div>

                <div class="row mb-10">
                    <div class="col-12 n-col-4">
                        <span class="bold-700">Salary Expectation</span>
                    </div>
                    <div class="col-12 n-col-8">
                        {{
                            user_data.interest.expected_salary
                                | format_currency("id-ID", "IDR")
                        }}
                    </div>
                </div>

                <div class="row mb-10">
                    <div class="col-12 n-col-4">
                        <span class="bold-700">City Preference</span>
                    </div>
                    <div class="col-12 n-col-8">
                        <ul class="check-list">
                            <li
                                v-for="(city, i) in user_data.interest.cities"
                                :key="i"
                            >
                                {{ city.name }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mb-10">
                    <div class="col-12 n-col-4">
                        <span class="bold-700">Willing to be Relocated</span>
                    </div>
                    <div class="col-12 n-col-8">
                        {{ user_data.interest.relocated ? "Ya" : "Tidak" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user_data: {
            type: Object,
            required: true,
        },
    },
};
</script>
