<template>
    <aside>
        <div class="card card--over-show">
            <div class="card__body">
                <div class="myo__menu">
                    <ul>
                        <li>
                            <a
                                href="#myo__basic"
                                title="Basic Info"
                                v-smooth-scroll
                            >
                                <span class="name">Basic Info</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__about"
                                title="About Me"
                                v-smooth-scroll
                            >
                                <span class="name">About Me</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__experiences"
                                title="Working Experience"
                                v-smooth-scroll
                            >
                                <span class="name">Working Experience</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__organization-experiences"
                                title="Working Experience"
                                v-smooth-scroll
                            >
                                <span class="name"
                                    >Organization Experience</span
                                >
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__educations"
                                title="Education"
                                v-smooth-scroll
                            >
                                <span class="name">Education</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__skills"
                                title="Skills"
                                v-smooth-scroll
                            >
                                <span class="name">Skills</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__awards"
                                title="Awards"
                                v-smooth-scroll
                            >
                                <span class="name">Awards</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__interests"
                                title="Interest"
                                v-smooth-scroll
                            >
                                <span class="name">Interest</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__resume"
                                title="Resume"
                                v-smooth-scroll
                            >
                                <span class="name">Resume</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__portofolio"
                                title="Social Passport"
                                v-smooth-scroll
                            >
                                <span class="name">Social Passport</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#myo__video" title="Video" v-smooth-scroll>
                                <span class="name">Video</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__english"
                                title="English Test"
                                v-smooth-scroll
                            >
                                <span class="name">English Test</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__personality"
                                title="Personality Test"
                                v-smooth-scroll
                            >
                                <span class="name">Personality Test</span
                                ><span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</template>

<script>
export default {
    props: {
        user_data: {
            type: Object,
            required: true,
        },
    },
};
</script>
