<template>
    <div id="myo__basic" class="myo__basic">
        <div class="myo__basic-detail">
            <div class="myo__basic-detail-top">
                <div class="myo__avatar mr-20">
                    <img
                        :src="user_data.avatar_url"
                        :alt="user_data.name"
                        class="img-fluid"
                    />
                </div>

                <div>
                    <h1 class="h3 myo__name">
                        {{ user_data.name }}
                        <small v-if="user_data.age != ''"
                            >({{ user_data.age }} Years Old)</small
                        >
                    </h1>
                    <div class="myo__status">
                        {{ user_data.job_status.description }}
                    </div>
                    <div class="myo__start-work">
                        <span
                            v-if="
                                user_data.when_can_start.value === 'choose-date'
                            "
                            >Can Start Working:
                            {{
                                user_data.can_start_date | format_date_only
                            }}</span
                        >
                        <span v-else
                            >Can Start Working:
                            {{ user_data.when_can_start.description }}</span
                        >
                    </div>
                </div>
            </div>

            <hr />

            <div class="myo__basic-list row">
                <div class="col-12 n-col-6">
                    <dl>
                        <dt>Email</dt>
                        <dd>{{ user_data.email }}</dd>

                        <dt>Gender</dt>
                        <dd>{{ user_data.gender.text }}</dd>

                        <dt>Relationship</dt>
                        <dd>{{ user_data.relationship.description }}</dd>

                        <dt>Residence Status</dt>
                        <dd>{{ user_data.residence_status.description }}</dd>

                        <dt>Citizenship</dt>
                        <dd>{{ user_data.citizenship.name }}</dd>
                    </dl>
                </div>
                <div class="col-12 n-col-6">
                    <dl>
                        <dt>Hobby</dt>
                        <dd>{{ user_data.hobby }}</dd>

                        <dt>Phone</dt>
                        <dd>{{ user_data.phone }}</dd>

                        <dt>Address Location</dt>
                        <dd>
                            <span v-if="user_data.address != ''"
                                >{{ user_data.address }},</span
                            >
                            <span v-if="user_data.subdistrict.name != ''"
                                >Kecamatan
                                {{ user_data.subdistrict.name }},</span
                            ><br />
                            <span v-if="user_data.city.name != ''"
                                >{{ user_data.city.name }},</span
                            >
                            {{ user_data.province.name }}<br />
                            <span v-if="user_data.pos_code != ''"
                                >Kode Pos: {{ user_data.pos_code }}</span
                            >
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user_data: {
            type: Object,
            required: true,
        },
    },
};
</script>
