@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin customScrollbar {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #aaaaaa;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #7c7c7c;
    }
}

@mixin on($breakpoint) {
    @if $breakpoint == mobile {
        @media only screen and(min-width: $mobile) {
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media only screen and(min-width: $tablet) {
            @content;
        }
    }

    @if $breakpoint == notebook {
        @media only screen and(min-width: $notebook) {
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media only screen and(min-width: $desktop) {
            @content;
        }
    }
}
