<template>
    <div v-if="articles.length > 0" class="bg-white">
        <div class="container pt-40 pb-40 t-pt-80 t-pb-80">
            <h2 class="h1 color-primary text-center t-text-left bold-700 mb-20">
                Our Latest News
            </h2>
            <div class="row">
                <div
                    v-for="(article, i) in articles"
                    :key="i"
                    class="col-12 t-col-6 mb-20"
                    :class="{ 'n-mb-0': i > 2 }"
                >
                    <ArticleCard2 :article="article" />
                </div>
            </div>
            <div class="width-100p flex justify-center t-justify-end">
                <nuxt-link
                    to="/blog"
                    class="btn btn--primary width-max-con"
                    title="View All"
                    >View All</nuxt-link
                >
            </div>
        </div>
    </div>
</template>

<script>
import ArticleCard2 from "~/components/Article/ArticleCard2";

export default {
    props: {
        articles: {
            type: Object,
            required: true,
        },
    },
    components: {
        ArticleCard2,
    },
};
</script>
