<template>
    <div
        class="card-sh card--over-hide our-services__card relative"
        :class="{ flip }"
        @mouseover="mouseover"
        @mouseleave="mouseleave"
        @click="flip = !flip"
    >
        <div
            class="front-side pl-20 pr-20 height-100p bg-white flex items-center justify-center"
        >
            <h3 class="h3 text-center bold-700">
                {{ title }}
            </h3>
        </div>
        <div
            class="back-side bg-primary p-20 height-100p flex flex-column justify-center"
        >
            <div class="desc-con p4 color-white mb-15">{{ description }}</div>
            <a
                v-if="link_type == 'external'"
                :href="link"
                class="p4 bold-700 color-white"
                >Learn More</a
            >
            <nuxt-link v-else :to="link" class="p4 bold-700 color-white"
                >Learn More</nuxt-link
            >
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true,
        },
        description: {
            type: String,
            required: true,
        },
        link_type: {
            type: String,
            required: true,
        },
        link: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            flip: false,
        };
    },
    methods: {
        mouseover() {
            if (window.innerWidth >= 1024) {
                this.flip = true;
            }
        },
        mouseleave() {
            if (window.innerWidth >= 1024) {
                this.flip = false;
            }
        },
    },
};
</script>
