<template>
    <section class="section home__service home-service">
        <div class="container">
            <h2 class="section__title">Layanan Kami</h2>

            <div class="section__inner">
                <div class="home-service__item-wrapper">
                    <div class="home-service__item">
                        <div class="home-service__text">
                            <h3>Tolak Ukur Gaji</h3>
                            <p>
                                Fitur untuk memeriksa dan membandingkan kisaran
                                gaji di berbagai lokasi, fungsi Job, dan
                                industri.
                            </p>
                        </div>
                        <div class="home-service__image">
                            <img
                                src="~/assets/images/icons-color/chart-board.png"
                                alt="Chart Board"
                                class="img-fluid"
                            />
                        </div>
                    </div>
                    <div class="home-service__item">
                        <div class="home-service__text">
                            <h3>Branding Company</h3>
                            <p>
                                Untuk memperkaya pengalaman pengguna dan menarik
                                lebih banyak kandidat, kami membuat halaman
                                khusus untuk setiap Company.
                            </p>
                        </div>
                        <div class="home-service__image">
                            <img
                                src="~/assets/images/icons-color/rocket-lamp.png"
                                alt="Rocket Lamp"
                                class="img-fluid"
                            />
                        </div>
                    </div>
                </div>

                <div class="home-service__item-wrapper">
                    <div class="home-service__item">
                        <div class="home-service__image">
                            <img
                                src="~/assets/images/icons-color/chart-board.png"
                                alt="Chart Board"
                                class="img-fluid"
                            />
                        </div>
                        <div class="home-service__text">
                            <h3>Tolak Ukur Gaji</h3>
                            <p>
                                Fitur untuk memeriksa dan membandingkan kisaran
                                gaji di berbagai lokasi, fungsi Job, dan
                                industri.
                            </p>
                        </div>
                    </div>
                    <div class="home-service__item">
                        <div class="home-service__image">
                            <img
                                src="~/assets/images/icons-color/rocket-lamp.png"
                                alt="Rocket Lamp"
                                class="img-fluid"
                            />
                        </div>
                        <div class="home-service__text">
                            <h3>Branding Company</h3>
                            <p>
                                Untuk memperkaya pengalaman pengguna dan menarik
                                lebih banyak kandidat, kami membuat halaman
                                khusus untuk setiap Company.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
