<template>
    <section
        id="client-logo-slide"
        class="home-sec flex items-center flex-wrap relative"
    >
        <div class="swiper-wrapper">
            <div
                v-for="wrapper_index in 16"
                :key="wrapper_index"
                class="swiper-slide home-sec__item-wrapper"
            >
                <div
                    v-for="index in 2"
                    :key="index"
                    class="home-sec__item flex justify-center items-center mb-40"
                >
                    <img
                        :src="
                            require(`~/assets/images/clients/client-${getNumber(
                                wrapper_index,
                                index
                            )}.png`)
                        "
                        alt="Client logo"
                        class="img-fluid"
                    />
                </div>
            </div>
        </div>
        <div id="client-logo-slide-pagination" class="swiper-pagination"></div>
    </section>
</template>

<script>
import Swiper, { Pagination, Autoplay } from "swiper";

export default {
    created() {
        setTimeout(() => {
            Swiper.use([Pagination, Autoplay]);
            new Swiper("#client-logo-slide", {
                loop: true,
                spaceBetween: 40,
                allowTouchMove: true,
                slidesPerView: 2,
                slidesPerGroup: 2,
                autoplay: {
                    delay: 3000,
                },
                pagination: {
                    el: "#client-logo-slide-pagination",
                    clickable: true,
                },
                breakpoints: {
                    576: {
                        slidesPerGroup: 4,
                        slidesPerView: 4,
                    },
                },
            });
        }, 1000);
    },
    methods: {
        getNumber(wrapper_index, index) {
            let number;
            if (index % 2 == 1) {
                //is odd
                number = (wrapper_index - 1) * 2 + 1;
            } else {
                number = wrapper_index * 2;
            }

            return number;
        },
    },
};
</script>
