<template>
    <div class="testimonion container">
        <div class="row pt-50 pb-50 t-pt-90 t-pb-90">
            <div class="testimonion__left col col-12 t-col-6 mb-20 n-mb-0">
                <div class="n-max-350">
                    <h2 class="title h1 color-primary bold-700">
                        Client Testimonies
                    </h2>
                    <p class="p4 hide show-t">
                        Journey with candidates and employers as they share
                        thier winning stories
                    </p>
                </div>
            </div>
            <div class="testimonion__right col col-12 t-col-6">
                <div class="card-testimonion mt-10 mb-10 m-mt-0 m-mb-0">
                    <img
                        class="semi-colon"
                        style="max-width: 100%; height: 50px"
                        src="~/assets/images/icons/semi-colon.svg"
                        alt="semi-colone"
                    />
                    <div class="flex mb-15">
                        <img
                            :src="testimonials[current].avatar_url"
                            :alt="testimonials[current].name"
                            class="card-testimonion-profil-pic"
                        />
                        <!-- <div class="card-testimonion-profil-pic"></div> -->
                        <div class="ml-15 flex flex-column">
                            <span class="p4 bold-700">
                                {{ testimonials[current].name }}</span
                            >
                            <span class="p3">{{
                                testimonials[current].profession
                            }}</span>
                        </div>
                    </div>
                    <div class="p4">
                        {{ testimonials[current].content }}
                    </div>
                    <div class="card-testimonion__navigation">
                        <button @click="decrement">
                            <img
                                src="~/assets/images/icons/slider/s-left.svg"
                                alt="left"
                            />
                        </button>
                        <button @click="increment">
                            <img
                                src="~/assets/images/icons/slider/s-right.svg"
                                alt="left"
                            />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        testimonials: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            current: 0,
        };
    },
    created() {
        const self = this;
        setInterval(function () {
            self.increment();
        }, 3000);
    },
    methods: {
        increment() {
            if (this.current >= this.testimonials.length - 1) {
                this.current = 0;
                return;
            } else {
                this.current += 1;
            }
        },

        decrement() {
            if (this.current <= 0) {
                this.current = this.testimonials.length - 1;
                return;
            } else {
                this.current -= 1;
            }
        },
    },
};
</script>
