<template>
    <div>
        <div class="home-hero relative bg-primary">
            <div class="container clearfix height-100p">
                <div class="col col-12 t-col-6 height-100p">
                    <div class="home-hero__text height-100p flex items-center">
                        <div class="inner">
                            <h1 class="h2 color-white2 bold-700">
                                Achieve Your Goals<br />Drive Your Future
                            </h1>
                            <p class="p4 color-white">
                                Explore a world of opportunity & talent
                            </p>
                            <div class="new-home-top__navigation flex">
                                <nuxt-link to="/explore-jobs">
                                    <a
                                    to="/auth/login"
                                    class="btn btn--white width-max-con bold-700 mr-15 mobile-center"
                                    >Candidate</a
                                >
                                </nuxt-link>
                                
                                <a
                                    :href="employer_url"
                                    title="Employer"
                                    target="_blank"
                                    class="btn btn--white bold-700 mobile-center"
                                    >Employer</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 t-col-6">
                    <div class="home-hero__image">
                        <img
                            src="~/assets/images/businessman-employee-candidate-shaking-hands-with--DF5B4YF 2.png"
                            alt="Home hero banner"
                            class="img-full-cover"
                        />
                    </div>
                </div>
                <div class="banner-overlay hide-t">&nbsp;</div>
            </div>
        </div>

        <div class="container">
            <div
                class="max-750 mx-auto justify-center flex-column pt-45 pb-45 t-pt-125 t-pb-90"
            >
                <h2 class="h2 color-primary bold-700 text-center">
                    Hello! We are Reqruitasia
                </h2>
                <p class="text-center">
                    Reqruit Asia is born out of the undeniable need for evolution in the recruitment space. 
                    With the demands of rapid growth in multiple industries across the board, 
                    we too have re-imagined ourselves and our processes and over the years we have mastered the ability 
                    to identify and overcome the challenges of finding true talent within the industries we serve. 
                    By adopting fresh ideas balanced with deep industry know-how we aim to accelerate growth by 
                    fusing methodology and technology to serve not only the industries of now but also, 
                    the industries of the future. We connect the dots.
                </p>
                <div class="flex justify-center col-12 mt-25 mb-25">
                    <nuxt-link to="/about" class="btn btn--primary">
                        About us</nuxt-link
                    >
                </div>
            </div>
        </div>
        <div class="our-service bg-white pt-50 pb-50 t-pt-60 t-pb-120">
            <div class="container">
                <div class="flex justify-center">
                    <h2 class="h1 color-primary bold-700">Our Service</h2>
                </div>
                <hr class="hr-emp hide show-t" align="center" />

                <div class="max-800 mx-auto mt-50">
                    <div class="row">
                        <div
                            v-for="(serv, i) in our_services"
                            :key="i"
                            class="col-12 t-col-4 mb-20"
                        >
                            <homeOurServiceCard
                                :title="serv.title"
                                :description="serv.description"
                                :link_type="serv.link_type"
                                :link="serv.link"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HomeOurServiceCard from "~/components/Home/HomeOurServiceCard";

export default {
    components: {
        HomeOurServiceCard,
    },
    data() {
        return {
            employer_url: process.env.EMPLOYER_BASE_URL,
            our_services: [
                {
                    title: "Reqruit Access",
                    description:
                        "Post and manage jobs on our applicant tracking system while you build your company page for employer branding purpose.",
                    link_type: "external",
                    link: process.env.EMPLOYER_BASE_URL,
                },
                {
                    title: "Reqruit Consultant",
                    description:
                        "Speak to our experienced consultants on your executive search or recruitment and selection needs.",
                    link_type: "external",
                    link: process.env.EMPLOYER_BASE_URL,
                },
                {
                    title: "Reqruit Outsourcing",
                    description:
                        "Let us manage your payroll and employee outsourcing needs.",
                    link_type: "internal",
                    link: '/contact-us',
                },
                {
                    title: "Mass Reqruit",
                    description:
                        "Avoid reading through hundreds of CVs while hiring your junior employees.",
                    link_type: "internal",
                    link: '/contact-us',
                },
                {
                    title: "Online Assessment",
                    description:
                        "Personality and Ability assessments available for new hires as well as development programs in your company.",
                    link_type: "internal",
                    link: '/contact-us',
                },
                {
                    title: "Business Entry Consulting",
                    description:
                        "We provide services of legal documents creation as well as HR consultancy to our Clients.",
                    link_type: "internal",
                    link: '/contact-us',
                },
            ],
        };
    },
};
</script>
