<template>
    <div class="clients bg-white flex flex-column">
        <div class="container">
            <div class="clients-logo pt-40 pb-40 t-pt-85 t-pb-85 row">
                <div class="col col-12 n-col-4 mb-30 n-mb-0">
                    <div
                        class="max-350 mx-auto mb-20 n-mt-30 n-mb-0 d-ml-0 text-center n-text-left"
                    >
                        <h2 class="h1 bold-700 color-primary">
                            Clients who have trusted us
                        </h2>
                    </div>
                </div>
                <div class="col col-12 n-col-8">
                    <div class="n-pl-50 d-pl-50">
                        <HomeSec />
                    </div>
                </div>
            </div>
        </div>
        <div class="client-count pt-40 pb-40 t-pt-60 t-pb-60">
            <div class="container">
                <h2 class="h1 bold-700 text-center color-white">
                    Some count that matters
                </h2>
                <p class="p4 text-center color-white">
                    Our achievment in the journey depicted in numbers
                </p>
                <div class="client-count__services pt-30 row">
                    <div class="item col-6 t-col-3 mb-30 t-mb-0">
                        <div class="inner">
                            <div class="flex justify-center">
                                <div class="h2 color-white">
                                    {{ home_count_1_value }}
                                </div>
                            </div>
                            <div class="p4 text-center color-white">
                                {{ home_count_1_label }}
                            </div>
                        </div>
                    </div>
                    <div class="item col-6 t-col-3 mb-30 t-mb-0">
                        <div class="inner">
                            <div class="flex justify-center">
                                <div class="h2 color-white">
                                    {{ home_count_2_value }}
                                </div>
                            </div>
                            <div class="p4 text-center color-white">
                                {{ home_count_2_label }}
                            </div>
                        </div>
                    </div>

                    <div class="item col-6 t-col-3">
                        <div class="inner">
                            <div class="flex justify-center">
                                <div class="h2 color-white">
                                    {{ home_count_3_value }}
                                </div>
                            </div>
                            <div class="p4 text-center color-white">
                                {{ home_count_3_label }}
                            </div>
                        </div>
                    </div>
                    <div class="item col-6 t-col-3">
                        <div class="inner">
                            <div class="flex justify-center">
                                <div class="h2 color-white">
                                    {{ home_count_4_value }}
                                </div>
                            </div>
                            <div class="p4 text-center color-white">
                                {{ home_count_4_label }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HomeSec from "~/components/Home/HomeSec.vue";

export default {
    props: {
        home_count_1_value: String,
        home_count_1_label: String,
        home_count_2_value: String,
        home_count_2_label: String,
        home_count_3_value: String,
        home_count_3_label: String,
        home_count_4_value: String,
        home_count_4_label: String,
    },
    components: {
        HomeSec,
    },
};
</script>
