<template>
    <div class="container">
        <div class="job-future row pt-40 pb-40 t-pt-80 d-pb-80">
            <div class="col-12 t-col-4 job-future__left mb-30 t-pr-30">
                <div
                    class="n-max-280 text-center t-text-left height-100p flex flex-column items-center justify-center t-items-start"
                >
                    <h2 class="h1 bold-700 color-primary">Find Work</h2>
                    <p class="p4">
                        We'll help you pursuit jobs that matches your passions
                    </p>
                    <div class="hide show-t">
                        <nuxt-link
                            to="/explore-jobs"
                            class="btn width-max-con btn--primary"
                            >Find more</nuxt-link
                        >
                    </div>
                </div>
            </div>
            <div class="col col-12 t-col-8">
                <div
                    id="job-list-slide"
                    class="swiper pb-60 m-pb-30 n-pb-60 mb-15"
                >
                    <div class="swiper-wrapper">
                        <div
                            v-for="wrapper_index in total_rows"
                            :key="wrapper_index"
                            class="swiper-slide"
                        >
                            <div
                                v-for="index in 2"
                                :key="index"
                                :class="{ 'mb-10': index == 1 }"
                            >
                                <JobCard
                                    v-if="
                                        getJob(wrapper_index, index) !=
                                        undefined
                                    "
                                    :job="getJob(wrapper_index, index)"
                                    :growable="false"
                                />
                            </div>
                        </div>
                    </div>
                    <div
                        id="job-list-slide-pagination"
                        class="swiper-pagination t-mt-20"
                    ></div>
                </div>

                <div class="hide-t">
                    <div class="width-100p flex justify-center">
                        <nuxt-link
                            to="/explore-jobs"
                            class="btn width-max-con btn--primary"
                            >Find more</nuxt-link
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import JobCard from "~/components/Share/Job/JobCard.vue";
import Swiper, { Pagination, Autoplay } from "swiper";

export default {
    components: {
        JobCard,
    },
    data() {
        return {
            featured_jobs: [],
            total_rows: 0,
        };
    },
    created() {
        const params = {
            take: 8,
            status: "published",
            order_by: "random",
            paginate: false,
        };

        const urlParams = new URLSearchParams(params).toString();

        this.$axios
            .$get(`job/search?${urlParams}`)
            .then((res) => {
                this.$job_card.sameHeight({
                    wrapper: ".job-future",
                    row_mobile: 4,
                    row_tablet: 4,
                    row_notebook: 4,
                    row_desktop: 4,
                });

                this.featured_jobs = res.data;
                this.total_rows = res.data.length / 2;

                setTimeout(() => {
                    Swiper.use([Pagination, Autoplay]);
                    new Swiper("#job-list-slide", {
                        loop: true,
                        spaceBetween: 10,
                        allowTouchMove: true,
                        autoplay: {
                            delay: 3000,
                        },
                        pagination: {
                            el: "#job-list-slide-pagination",
                            clickable: true,
                        },
                        breakpoints: {
                            992: {
                                slidesPerView: 2,
                            },
                        },
                    });
                }, 1000);
            })
            .catch((err) => {
                console.log(err.response);
            });
    },
    methods: {
        getJob(wrapper_index, index) {
            let number;
            if (index % 2 == 1) {
                //is odd
                number = (wrapper_index - 1) * 2 + 1;
            } else {
                number = wrapper_index * 2;
            }

            return this.featured_jobs[number - 1];
        },
    },
};
</script>

<style lang="scss" scoped>
#job-list-slide {
    padding-right: 1px;
}
</style>
