.accordion {
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid $color-border;

    &.active {
        .accordion__button {
            .icon {
                transform: rotate(180deg);
            }
        }

        .accordion__panel {
            display: block;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;
        font-size: 18px;

        &--small {
            font-size: 14px;

            .icon {
                width: 12px;
                height: 12px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__panel {
        display: none;

        .inner {
            padding: 10px 0;
        }
    }
}
