.article-slide {
    &__arrow {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        z-index: 9;

        &--right {
            right: 0;

            @include on(desktop) {
                right: -50px;
            }
        }

        &--left {
            left: 0;

            @include on(desktop) {
                left: -50px;
            }
        }

        @include on(desktop) {
            top: 50%;
        }
    }
}
