.article-card {
    &__image {
        height: 250px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__excerpt {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.article-card2 {
    border-radius: 20px;
    overflow: hidden;

    @include on(tablet) {
        height: 250px;
    }

    &__detail {
        width: calc(100% - 30px);
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(106, 97, 97, 0.3);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        overflow: hidden;

        @include on(notebook) {
            width: calc(100% - 80px);
            bottom: 20px;
        }
    }
}
