button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;

    &:disabled {
        cursor: not-allowed;
    }
}

.btn {
    height: $height-form;
    min-width: 85px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    @include flexCenter;
    text-decoration: none;
    padding: 0 20px;
    overflow: hidden;
    position: relative;
    line-height: 1;
    transition: all 0.3s ease-in-out;

    &--more-rounded {
        border-radius: 18px;
    }

    &--block {
        width: 100%;
    }

    &--bold {
        font-weight: 700;
    }

    &--shadow {
        box-shadow: 5px 5px 20px rgba(0, 129, 202, 0.3);
    }

    &--white {
        border: 1px solid $color-border;
        color: $color-primary;
        background: #ffffff;

        &:hover {
            background: darken(#ffffff, 10);
        }

        &:disabled {
            background: lighten(#ffffff, 20);
        }
    }

    &--transparent {
        background: none;
        min-width: auto;
    }

    &--grey {
        color: $blue;
        background: $grey-4;

        &:hover {
            background: darken($grey-4, 10);
        }

        &:disabled {
            background: lighten($grey-4, 20);
        }
    }

    &--primary {
        color: $color-btn-light;
        background-color: $color-primary;

        &:hover {
            background-color: darken($color-primary, 10);
        }

        &:disabled {
            background: lighten($color-primary, 35);
        }
    }

    &--primary2 {
        color: $color-btn-light;
        background-color: $color-primary2;

        &:hover {
            background-color: #f5f3ea;
            color: $color-primary2;
        }

        &:disabled {
            background: lighten($color-primary2, 35);
        }
    }

    &--warning {
        background: $yellow;

        &:hover {
            background: darken($yellow, 10);
        }

        &:disabled {
            background: lighten($yellow, 20);
        }
    }

    &--info {
        background: $blue-2;
        color: #ffffff;

        &:hover {
            background: darken($blue-2, 10);
        }

        &:disabled {
            background: lighten($blue-2, 20);
        }
    }

    &--success {
        background: $green;
        color: #ffffff;

        &:hover {
            background: darken($green, 10);
        }

        &:disabled {
            background: lighten($green, 20);
        }
    }

    &--danger {
        background: $red;
        color: #ffffff;

        &:hover {
            background: darken($red, 10);
        }

        &:disabled {
            background: lighten($red, 20);
        }
    }

    &--icon {
        display: flex;
        align-items: center;

        .svg-icon {
            width: 20px;
            height: 20px;
        }

        .text {
            flex: 1;
        }
    }

    &--link {
        height: auto;
        border-radius: 0;
        padding: 0;
        background: none;
        min-width: auto;
        color: $color-primary;
        border-bottom: 1px solid $color-primary;

        &.white {
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
        }
    }

    &--lg {
        height: $height-form-lg;
        font-size: 18px;
    }

    &--sm {
        height: $height-form-sm;
        font-size: 13px;
        padding: 0 10px;
    }

    &--long {
        min-width: 235px;
    }

    &.btn-outline {
        background: none;
        border-width: 2px;
        border-style: solid;

        &--bg-white {
            background-color: #ffffff;
        }

        &--color-black {
            color: $color-btn-black;
        }

        &--color-light {
            color: $color-btn-light;
        }

        &--white {
            border-color: #ffffff;
            background: transparent;

            &:hover {
                color: $black;
            }

            &:disabled {
                border-color: lighten(#ffffff, 20);
            }
        }

        &--primary {
            border-color: $color-primary;
            background: transparent;

            &:disabled {
                border-color: lighten($color-primary, 20);
            }
        }

        &--warning {
            border-color: $yellow;
            background: transparent;

            &:hover {
                color: $color-btn-black;
            }

            &:disabled {
                border-color: lighten($yellow, 20);
            }
        }

        &--info {
            border-color: $blue-2;
            background: transparent;

            &:hover {
                color: $color-btn-black;
            }

            &:disabled {
                border-color: lighten($blue-2, 20);
            }
        }

        &--success {
            border-color: $green;
            background: transparent;

            &:hover {
                color: $color-btn-black;
            }

            &:disabled {
                border-color: lighten($green, 20);
            }
        }

        &--danger {
            border-color: $red;
            background: transparent;

            &:disabled {
                border-color: lighten($red, 20);
            }
        }
    }

    .icon {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}
