body.homepage .header {
    display: block;

    &__mobile-search {
        display: none;
    }
}

body.explore-jobs .header {
    display: block;
}

body.homepage .header-secondary,
body.explore-jobs .header-secondary {
    display: none;
}

.header.dark {
    .header__notification {
        color: #ffffff;
    }
}

.header {
    height: 70px;
    width: 100%;
    z-index: 99999;
    box-shadow: none;
    top: 0;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid $color-border;

    &__logo {
        h1 {
            margin: 0;
            height: 70px;

            @media only screen and(max-width: 992px) {
                height: 50px;
                display: flex;
                justify-content: center;
            }

            a {
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 34px;
                font-weight: 600;
                font-family: $font-family-base;
                line-height: 51px;
                text-decoration: none;
            }

            img {
                max-width: 100%;
                max-height: 40px;

                @media only screen and(max-width: 992px) {
                    max-height: 30px;
                }
            }
        }
    }

    &__search {
        &.show-search {
            .input-group__main {
                width: 100%;
            }

            .input-group__append {
                border-color: $color-border;
            }
        }

        .input-group {
            justify-content: flex-end;
        }

        .input-group__main {
            width: 0%;
            transition: all 0.3s ease-in;
        }

        .input-group__append {
            border-color: transparent;
        }
    }

    &__top-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        left: -70%;
        width: 250px;
        height: 100%;
        background-color: $color-primary;
        padding-left: $container_padding;
        padding-right: $container_padding;
        z-index: 99;
        transition: all 0.3s ease-in-out;

        @include on(notebook) {
            position: relative;
            left: 0;
            width: 83.33333%;
            flex-direction: row;
            align-items: center;
            padding-left: 1rem;
            height: 70px;
            padding-left: $gutter;
            padding-right: $gutter;
            background-color: transparent;
        }

        &.active {
            left: 0;
            box-shadow: 3px 0 14px 12px rgba(0, 0, 0, 0.21);
        }

        .top-menu-links {
            ul.menu {
                list-style-type: none;
                display: block;
                width: 100%;
                padding-bottom: 30px;
                padding-left: 0;
                border-bottom: 2px solid #ffffff;

                @include on(notebook) {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    border-bottom: none;
                }

                li.parent {
                    margin-top: 0;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    position: relative;
                    justify-content: space-between;

                    @include on(notebook) {
                        margin-left: 5px;
                        margin-right: 5px;
                        width: auto;
                    }

                    @include on(desktop) {
                        margin-left: 15px;
                        margin-right: 15px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 0;
                        color: #ffffff;
                        font-size: 16px;
                        flex: 1;

                        @include on(notebook) {
                            width: auto;
                            padding: 24px 0;
                            color: $color-text;
                            font-size: 14px;
                        }
                    }

                    span.icon-svg {
                        width: 10px;
                        height: 10px;

                        @include on(notebook) {
                            width: 6px;
                            height: 6px;
                        }

                        svg {
                            path {
                                fill: #ffffff;

                                @include on(notebook) {
                                    fill: $color-primary;
                                }
                            }
                        }
                    }

                    ul.submenu {
                        display: none;
                        width: 100%;

                        @include on(notebook) {
                            width: max-content;
                            position: absolute;
                            top: calc(100% - 1px);
                            left: 0;
                            background-color: #ffffff;
                            border: 1px solid $color-border;
                            border-top: none;
                        }

                        &.show-submenu {
                            display: block;
                        }

                        li.child {
                            margin-bottom: 0;

                            a {
                                padding: 5px 15px;

                                &:hover {
                                    background-color: $color-primary;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .top-menu-right {
            @include on(notebook) {
                width: 400px;
            }
        }
    }

    &__mobile-trigger {
        span {
            width: 25px;
            height: 2px;
        }
    }

    &__auth {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        width: 100%;
        flex-direction: column;

        @include on(notebook) {
            justify-content: flex-end;
            flex-direction: row;
            width: auto;
        }
    }

    &__authenticated {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        @media only screen and(max-width: 992px) {
            position: initial;
        }

        &:hover > .header__auth-menu-wrapper {
            @media only screen and(min-width: 992px) {
                display: block;
            }
        }
    }

    &__auth-menu-trigger {
        &.light {
            color: #ffffff;
        }

        @media only screen and(max-width: 992px) {
            display: none;
        }
    }

    &__notification {
        position: relative;
        margin-right: 20px;
        z-index: 9;
        cursor: pointer;

        i {
            font-size: 25px;
        }
    }

    &__notification-dot {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 8px;
        height: 8px;
        background-color: red;
        border-radius: 50%;
    }

    &__notification-list {
        position: absolute;
        top: 50px;
        right: -50px;
        width: 300px;
        background-color: #ffffff;
        box-shadow: 0px 0px 40px rgba(159, 159, 159, 0.2);

        ul {
            display: flex;
            flex-direction: column;

            &.list {
                height: 325px;
                overflow: auto;

                /* width */
                &::-webkit-scrollbar {
                    width: 4px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #d1d1d1;
                    transition: all 0.25s ease;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: darken(#d1d1d1, 10);
                }
            }

            li {
                border-bottom: 1px solid #eeeeee;
                margin: 0;
                font-size: 12px;
                line-height: 18px;
                background-color: #ffffff;
                color: $color-text;
                margin-bottom: 0 !important;
                transition: all 0.25s ease;

                &:hover {
                    background-color: lighten($color-primary, 42);
                }

                &:last-child {
                    border-bottom: none;
                }

                &.unread {
                    background-color: #ffffac;

                    &:hover {
                        background-color: darken(#ffffac, 5);
                    }
                }

                &.action {
                    display: block;
                    text-align: center;
                    background-color: lighten($color-primary, 10);
                    color: #ffffff;
                    border-bottom: 1px solid lighten($color-primary, 5);

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover {
                        background-color: lighten($color-primary, 5);
                    }

                    span {
                        padding: 8px 15px;
                    }
                }

                span {
                    padding: 8px 15px 0;
                    display: block;

                    &.created_at {
                        text-align: right;
                        font-size: 10px;
                        padding: 0 15px 8px;
                    }

                    &.action {
                        padding: 8px 15px;
                        text-align: center;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    &__notification-empty {
        text-align: center;
        padding: 8px 15px;
        color: $color-text;
        font-size: 12px;
    }

    &__avatar {
        margin-right: 12px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid $color-primary;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);

        @media only screen and(max-width: 992px) {
            margin-right: 0;
        }
    }

    &__auth-menu-wrapper {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;

        @media only screen and(max-width: 992px) {
            position: fixed;
            width: 100%;
            height: 100vh;
            margin-top: -64px;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.6);

            &.show {
                display: flex;
            }
        }
    }

    &__auth-menu {
        background-color: #ffffff;
        box-shadow: 0px 0px 40px rgba(159, 159, 159, 0.2);
        width: 175px;
        z-index: 9;

        @media only screen and(max-width: 992px) {
            width: 250px;
            border-radius: 5px;
            overflow: hidden;
        }

        ul {
            flex-direction: column;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0;
                padding: 0;
                cursor: pointer;
                background-color: #ffffff;
                transition: all 0.3s ease-in-out;
                font-weight: 500;
                transition: all 0.25s ease-in-out;

                &:hover {
                    background-color: $color-primary;

                    a {
                        color: #ffffff;
                    }
                }

                a {
                    color: $color-text;
                    padding: 10px 20px;

                    @include on(notebook) {
                        padding: 8px 20px;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    &__auth-link {
        width: 100%;

        @include on(notebook) {
            width: auto;
        }

        ul {
            width: 100%;
            list-style: none;
            padding: 0;

            li {
                .btn {
                    @media only screen and(max-width: 576px) {
                        width: 100%;
                    }

                    &.login {
                        border: 1px solid #ffffff;

                        @include on(notebook) {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

.header-secondary {
    display: none;

    @media only screen and(max-width: 992px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 15px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }

    &__icon {
        font-size: 20px;
    }
}
