.logo-sq {
    width: 90px;
    height: 90px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: $border-radius;
    overflow: hidden;
    @include flexCenter;
}

.avatar {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    overflow: hidden;
}

.logo-center {
    @include flexCenter;
}
