.image-text {
    &--text-left {
        .row {
            @include on(notebook) {
                flex-direction: row-reverse;
            }
        }
    }

    .text-wrapper {
        @include on(notebook) {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
        }
    }
}
