.job-card {
    background: #ffffff;
    border-radius: $border-radius;
    border: 1px solid $color-primary;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.25s ease-in;

    &.grow {
        position: fixed;
        width: 100%;
        height: calc(100vh - 70px);
        border: none;
        top: 70px;
        left: 0;
        background-color: $body-bg;
        overflow: auto;
        z-index: 9999;
        border-radius: 0;
    }

 

    &__back {
        svg {
            width: 12px;
            height: 12px;
        }
    }

    &__main {
        display: flex;
        margin-bottom: 5px;
    }

    &__logo {
        margin-right: 20px;
        width: 20%;
    }

    &__info {
        width: 80%;
        max-height: 150px;
    }

    &__title {
        line-height: 1.3;

        a {
            color: $color-text;
        }
    }

    &__company {
        a {
            color: $color-primary;
        }
    }

    &__location,
    &__salary {
        display: flex;
        align-items: center;

        .icon {
            width: 18px;
            height: 18px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__created-time {
        font-size: 12px;
        line-height: 13px;

        i {
            font-size: 16px;
        }
    }

    &__bookmark {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}

.job-card2 {
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease-in;

    &.grow {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $body-bg;
        overflow: auto;
        z-index: 99;
        border-radius: 0;
    }

    &__detail {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;

        @media only screen and(max-width: 1200px) {
            width: 100%;
            margin-bottom: 45px;
            margin-top: 45px;
        }
    }

    &__back {
        font-size: 17px;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        @media only screen and(max-width: 1200px) {
            width: 100%;
            position: fixed;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            padding: 5px 15px;
            top: 0;
            left: 0;
            z-index: 9;
        }

        .text {
            @media only screen and(max-width: 992px) {
                display: none;
            }
        }
    }

    &__main {
        display: flex;
        margin-bottom: 10px;
    }

    &__logo {
        margin-right: 20px;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #f2f2f2;
        overflow: hidden;
    }

    &__info {
        flex: 1;
    }

    &__company {
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 10px;

        a {
            font-size: 20px;
            font-weight: 600;
            color: $black;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;

        a {
            color: $black;
        }
    }

    &__small-detail {
        .icon {
            width: 12px;
            height: 12px;
        }

        .text {
            color: $grey-1;
            font-size: 14px;
        }
    }

    &__skills {
        .item {
            background-color: #f4f4f4;
            border-radius: 10px;
            padding: 7px 15px;
            font-size: 14px;
            color: #646464;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__bookmark {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
        transition: all 0.3s ease-in-out;

        &--marked,
        &:hover {
            color: $color-primary;
        }
    }
}
