.mobile-nav {
    height: 45px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    display: none;

    @media only screen and(max-width: 992px) {
        display: block;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            height: 100%;
            width: 25%;

            a {
                text-decoration: none;
                color: $grey-3;
                font-size: 18px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.25s ease-in;

                &.active {
                    color: $color-primary;
                    font-size: 28px;
                }
            }
        }
    }

    &__icon-wrapper {
        position: relative;
        width: 45px;
        height: 45px;
        @include flexCenter;
    }

    &__notification-dot {
        width: 6px;
        height: 6px;
        position: absolute;
        top: 14px;
        right: 14px;
        background-color: red;
        border-radius: 50%;
    }
}
