.man {
    display: none;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 99999;

    &.show {
        display: block;
    }

    &__auth-menu {
        ul {
            li {
                margin-bottom: 0;
            }
        }
    }
}
