body.no-scroll {
    overflow: hidden;
}

.c-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;

    &.show {
        @include flexCenter;
    }

    &--full-height {
        .c-modal__wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;

            @include on(mobile) {
                height: 95%;
            }
        }

        .c-modal__body {
            height: auto;
            max-height: inherit;
            flex: 1;
        }

        .c-modal__footer {
            height: 50px;

            @include on(mobile) {
                height: 60px;
            }
        }
    }

    &--small {
        .c-modal__wrapper {
            @include on(tablet) {
                width: 500px;
            }
        }
    }

    &__wrapper-outside {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
    }

    &__wrapper {
        width: calc(100vw - #{$container_padding * 2});
        max-height: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: $border-radius;
        overflow: hidden;
        z-index: 9;

        @include on(tablet) {
            width: 700px;
            max-height: 95vh;
        }
    }

    &__header {
        padding: 20px 20px 0 20px;
    }

    &__title {
        width: calc(100% - 80px);
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;

        .icon-svg {
            width: 12px;
            height: 12px;
        }
    }

    &__body {
        max-height: inherit;
        flex: 1;
        padding: 20px;
        overflow: auto;
        @include customScrollbar;

        @include on(mobile) {
            max-height: 75vh;
        }
    }

    &__footer {
        padding: 8px 20px;
        box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.15);
    }
}
