.new-header {
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 9999;

    &__logo {
        width: 105px;
    }

    &__navigation {
        position: relative;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                &.has-children {
                    &:hover {
                        ul.childrens {
                            display: block;
                        }
                    }

                    a {
                        .icon {
                            height: 5px;
                        }
                    }

                    ul {
                        &.childrens {
                            display: none;
                            position: absolute;
                            top: 100%;
                            background-color: #ffffff;
                            left: -10px;

                            li {
                                &:first-child {
                                    a {
                                        padding-top: 10px;
                                    }
                                }

                                &:last-child {
                                    a {
                                        padding-bottom: 10px;
                                    }
                                }

                                a {
                                    padding: 5px 10px;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__auth {
        display: none;
        max-height: 100%;

        @include on(notebook) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        button {
            padding: 8.5px 20px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            width: max-content;
        }
    }

    &__search {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .search {
            padding: 6px;
            display: flex;
            border-radius: 8px;

            input[type="text"] {
                width: 50px;
                box-sizing: border-box;
                background-color: white;
                border: none;
                background-position: right 10px bottom 8px;
                background-repeat: no-repeat;
                background-size: 14pt;
                background-image: url("~/assets/images/icons/other/search.svg");
                padding: 8px 40px 8px 15px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }

            input[type="text"]:focus {
                width: 220px;
                border: 1px solid #065489;
                border-radius: 8px;
            }
            button {
                flex-basis: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: none;
                background-color: transparent;
            }

            img {
                height: 20px;
                width: auto;
            }
        }
    }
}

#signup {
    background-color: #16568b;
    color: white;
}

#login {
    color: #16568b;
}

.dropdown:hover .sub-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
}

.sub-dropdown {
    background-color: white;
    position: absolute;
    display: none;
    visibility: hidden;
    transition: visibility 0.15s linear, opacity 0.15s linear;
    a {
        display: block;
        float: none;
        text-decoration: none;
        padding: 5px 0px;
    }

    span {
        transition: 0.02s;
    }
}
.sub-dropdown a:hover {
    background-color: #00a4ef;
}
.collapse-navbar {
    float: right;

    button {
        border: none;
        background: none;

        span {
            width: 30px;
            height: 2px;
            background-color: $color-primary;

            &:nth-child(2) {
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }
    }
}
