.new-footer-root {
    background-color: #c6c6c6;
}

.logo {
    width: 179px;
    height: auto;
}

.footer-menu {
    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 15px;
        text-decoration: none;
        color: white;
        width: max-content;

        @include on(tablet) {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        @include on(notebook) {
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 0;
        }

        a {
            &:hover {
                color: $color-primary;
            }
        }
    }
}

.copyright {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ffffff;
}

.social-media {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 10px;
        border-radius: 100%;
        background-color: rgb(56, 56, 56);
        img {
            width: 20px;
            height: 20px;
            justify-content: center;
        }
    }
    @media only screen and (max-width: 576px) {
        justify-content: center;
    }
}
