.auth {
    @include on(notebook) {
        height: 100vh;
    }

    &__left {
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;

        @include on(mobile) {
            height: 325px;
        }

        @include on(tablet) {
            height: 490px;
        }

        @include on(notebook) {
            height: 100%;
        }

        &.login-candidate {
            background-image: url("~assets/images/content-images/candidate-login-bg.jpg");
        }
    }
}
