.page-banner {
    .hero-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - #{$container-padding * 2});

        @include on(notebook) {
            top: auto;
            bottom: 100px;
            width: auto;
        }

        h1 {
            @include on(notebook) {
                display: inline;
            }
        }
    }
}
