.pagination {
    &__btn {
        border-radius: 4px;

        &.prev:hover,
        &.next:hover {
            svg path {
                fill: $color-primary;
            }
        }

        &.num {
            &:hover,
            &.active {
                background-color: $color-primary;
                color: #ffffff;
            }
        }
    }
}
