#new-review-form {
    .btn-star {
        &.active {
            .icon-svg {
                svg {
                    path {
                        fill: #ffc700;
                    }
                }
            }
        }

        .icon-svg {
            width: 20px;
            height: 20px;
        }
    }
}
