.swiper-pagination {
    bottom: 0;
    width: 100%;

    .swiper-pagination-bullet {
        margin-right: 5px;
        margin-left: 5px;
        background-color: $color-primary;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background-color: $grey-1;
        }
    }
}
