<template>
    <div class="accordion" :class="{ active: show }">
        <button
            type="button"
            class="accordion__button"
            :class="{ 'accordion__button--small': small_ttl }"
            @click="show = !show"
        >
            <span class="text">{{ title }}</span
            ><span class="icon"><IconCaretUp /></span>
        </button>
        <div class="accordion__panel">
            <div class="inner">
                <slot name="panel"></slot>
            </div>
        </div>
    </div>
</template>

<script>
import IconCaretUp from "~/components/Icon/IconCaretUp";

export default {
    props: {
        title: {
            type: String,
            required: true,
        },
        show_panel: {
            type: Boolean,
            default: false,
        },
        small_title: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            show: this.show_panel,
            small_ttl: this.small_title,
        };
    },
};
</script>
