<template>
    <div
        class="image-text container pt-40 pb-40 n-pt-80 n-pb-80"
        :class="{ 'image-text--text-left': text_position == 'left' }"
    >
        <div class="row">
            <div class="col-12 n-col-6 mb-20 n-mb-0">
                <div
                    :class="{
                        'n-pr-30': text_position == 'right',
                        'n-pl-30': text_position == 'left',
                    }"
                >
                    <img :src="image_url" :alt="title" class="img-fluid" />
                </div>
            </div>
            <div class="col-12 n-col-6 relative">
                <div
                    class="text-wrapper about-txt"
                    :class="{
                        'n-pl-30': text_position == 'right',
                        'n-pr-30': text_position == 'left',
                    }"
                >
                    <h1 v-if="title != ''" class="h3 bold-700" style="color:#065489">{{ title }}</h1>
                    <p class="justify">{{ description }}</p>
                    <nuxt-link
                        v-if="
                            action_link != undefined &&
                            action_link.slug != undefined &&
                            action_link.text != undefined
                        "
                        :to="action_link.slug"
                        class="btn btn--primary width-max-con"
                        >{{ action_link.text }}</nuxt-link
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
        },
        description: {
            type: String,
            required: true,
        },
        text_position: {
            type: String,
            default: "right",
        },
        image_url: {
            type: String,
            required: true,
        },
        action_link: {
            type: Object,
        },
    },
};
</script>
