<template>
    <div class="page-banner relative">
        <div class="hero-image">
            <img :src="image_url" :alt="title" class="img-full-cover" />
        </div>
        <div class="banner-overlay">&nbsp;</div>
        <div class="container">
            <div class="hero-text text-center n-text-left">
                <h2 class="h2 d-pb-10 n-bb-4 b-white color-white">
                    {{ title }}
                </h2>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true,
        },
        image_url: {
            type: String,
            required: true,
        },
    },
};
</script>
