<template>
    <div>
        <PageBanner title="Our Team" :image_url="banner_image_url" />

        <div class="container text-center pt-40 pb-40 n-pt-60 n-pb-60 about-txt">
            <h1 class="h2 bold-700 mb-20 color-blue2">Meet Our Squad</h1>
            <div class="row">
                <p class="col-11 mx-auto">
                    The team comprises of experienced consultants and
                    researchers. Every assignment is taken as a team work with
                    one window person. The strong communication built within
                    supported by high tech software makes the work more
                    efficient to produce more precise output.
                </p>
            </div>
        </div>

        <div class="container pt-40 pb-40 n-pt-60 n-pb-60">
            <div class="row">
                <div class="col-12 t-col-5 mb-20 t-mb-0">
                    <div class="max-250 t-max-450 mx-auto">
                        <img
                            src="~/assets/images/teams/ricky-mulani.jpeg"
                            alt="Ricky Mulani"
                            class="img-fluid"
                        />
                    </div>
                </div>
                <div class="col-12 t-col-7 text-center t-text-left">
                    <div
                        class="height-100p t-pl-55 pl-10 pr-10 flex flex-column justify-center about-txt"
                    >
                        <h1 class="h2 bold-700 mb-5 color-blue2">Ricky Mulani</h1>
                        <div class="p5 bold-700 mb-10 color-blue2">CEO Reqruit Asia</div>
                        <p class="justify">
                            Ricky Mulani is the head of the pack. He's a dynamic
                            and energetic individual who enjoys challenges and
                            believes in a logical and innovative approach to
                            business growth and solutions. Mixing a sharp
                            business acumen, strong network, and industry
                            know-how, Ricky aims to provide optimized human
                            capital solutions for his partners in Indonesia,
                            South East Asia, and beyond. He is the driving force
                            behind the Reqruit Asia brand - an organization
                            firmly established as one of the most reliable and
                            sought-after in its industry.
                        </p>
                        <a
                            href="https://www.linkedin.com/in/rickymulani"
                            title="Linkedin"
                            class="hide show-t"
                            target="_blank"
                        >
                            <img
                                src="~/assets/images/linkedin.png"
                                class="img-fluid"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-40 pb-40 n-pt-60 n-pb-60">
            <div class="row">
                <div
                    v-for="(team, i) in teams"
                    :key="i"
                    class="col-12 m-col-6 t-col-4"
                    :class="{
                        'mb-20': i + 1 != teams.length,
                        'm-mb-0': i + 1 > teams.length - 2,
                        't-mb-0': i + 1 > teams.length - 3,
                        'hide show-m': i + 1 > 3 && is_small_screen,
                    }"
                >
                    <TeamCard
                        :name="team.name"
                        :photo="team.photo"
                        :linkedin_url="team.linkedin_url"
                        :department="team.department"
                        :description="team.description"
                    />
                </div>
            </div>

            <div v-if="is_small_screen" class="flex justify-center hide-m">
                <button
                    @click="is_small_screen = false"
                    type="button"
                    class="btn btn--primary"
                >
                    Load more
                </button>
            </div>
        </div>

        <SubFooter />
    </div>
</template>

<script>
import PageBanner from "~/components/Share/PageBanner";
import IconLinkedin from "~/components/Icon/IconLinkedin";
import TeamCard from "~/components/Team/TeamCard";
import SubFooter from "~/components/Layout/SubFooter";

export default {
    components: {
        PageBanner,
        IconLinkedin,
        TeamCard,
        SubFooter,
    },
    head() {
        return {
            title: "Our Team",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: "Our team page",
                },
            ],
        };
    },
    data() {
        let is_small_screen = false;
        if (process.client) {
            is_small_screen = window.innerWidth < 576;
        }

        return {
            is_small_screen: is_small_screen,
            banner_image_url: `${require("@/assets/images/Rectangle_600\.png")}`,
            teams: [
                {
                    name: "Gladys Monica Drennan",
                    photo: `${require("@/assets/images/teams/gladys-monica-drennan.jpeg")}`,
                    linkedin_url:
                        "https://www.linkedin.com/in/gladys-m-drennan-988358233/",
                    department: "Director",
                    description: `Gladys has been in the workforce for over a decade, and during that time she's gained invaluable experience in the industry. She joined our company to help us place senior-level profiles, and she's successfully placed hundreds of them for clients all over Indonesia.
                    Well-versed in both tech and non-tech industries, Gladys excels in taking on assignments from traditional companies as well as startups. She has proved to be a very committed individual and part of the management team.`,
                },
                {
                    name: "Paulia Paramita Simanjuntak",
                    photo: `${require("@/assets/images/teams/paulia-paramita-simanjuntak.jpeg")}`,
                    linkedin_url:
                        "https://www.linkedin.com/in/paulia-paramita-simanjuntak-mita-64170023/",
                    department: "Director",
                    description: `Mita has been in the recruitment industry for many years and is one of the oldest team members at our firm. She has a wealth of experience and knowledge, contributing key insights to the management. Mita’s good communication skills have proven to be helpful in understanding and negotiating between talent and employers. With her ability to place Sales, Marketing, Accounting & Finance candidates she is always on top of her game!`,
                },
                {
                    name: "Annysa Yuliaty",
                    photo: `${require("@/assets/images/teams/annysa-yuliaty.jpeg")}`,
                    linkedin_url: "https://www.linkedin.com/in/annysa-yuliaty/",
                    department: "Senior Consultant",
                    description: `Annysa has always been passionate about the recruitment industry. With over 5 years of experience in this field, she has demonstrated her commitment and dedication to the trade. She loves a good challenge and is never afraid of deadlines - in fact, she enjoys beating them! Annysa is also an integral part of Reqruit Asia's team; her skills in sourcing top-tier IT, Telco, Banking, and Financial professionals have helped us grow our brand significantly.`,
                },
                {
                    name: "Sari Setyorini",
                    photo: `${require("@/assets/images/teams/sari-setyorini.jpg")}`,
                    linkedin_url:
                        "https://www.linkedin.com/in/sari-s-28b26041/",
                    department: "Senior Consultant",
                    description: `Sari is a specialist with more than 9 years of experience in the recruitment and startup industry. She has led various assignments from mid to senior roles, across a variety of industries. which means she's got a ton of knowledge about different types of people and their skillsets. as a great talent profiler, Sari places candidates in key positions quickly and efficiently!`,
                },
                {
                    name: "Angelita Rusli",
                    photo: `${require("@/assets/images/teams/angelita-rusli.jpeg")}`,
                    linkedin_url:
                        "https://www.linkedin.com/in/angelita-r-89863a13a/",
                    department: "Office Manager",
                    description: `Angel has a Bachelor's Degree in Psychology and is the all-rounder taking care of our needs. She's always enjoyed the process of team building and capacity building, ensuring that our team enjoys an optimum working culture and environment. Angel joined us 3 years ago and currently manages everything from HR to finance, general affairs, secretarial work, public relations - you name it!`,
                },
                {
                    name: "Aisyiah Icha",
                    photo: `${require("@/assets/images/teams/aisyiah-icha.jpg")}`,
                    linkedin_url:
                        "https://www.linkedin.com/in/aisyiah-icha-b05b8a16a/",
                    department: "Digital Marketing Executive",
                    description: `Icha has been a part of our team for the past 4 years and handles all of our creative content, website design, social media management, graphic design, and marketing concepts. She is a quick learner and willing to help other members of the team with their marketing needs. With her wit and charm, she is able to capture the attention of our followers and keep them engaged.`,
                },
            ],
        };
    },
};
</script>