<template>
    <div class="container-full">
        <div class="auth row">
            <div class="auth__left login-candidate col-12 n-col-7">
                <div
                    class="height-100p flex items-center justify-center n-justify-end"
                >
                    <div
                        class="max-400 mr-20 ml-20 n-ml-0 n-mr-80 p-20 m-p-40 bg-backdrop rounded"
                    >
                        <h1 class="h2 bold-700 mb-15 m-mb-40 n-mb-50">
                            Login Portal for Candidates
                        </h1>
                        <div class="p3">
                            Not an Candidate?
                            <a
                                :href="employer_login_url"
                                target="_blank"
                                class="color-black underline"
                                >Login as an Employer</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="auth__right col-12 n-col-5">
                <div class="height-100p flex items-center justify-center">
                    <div class="width-300 pt-30 pb-30">
                        <h2 class="h4 bold-700 mb-25">
                            Sign in to Reqruitasia
                        </h2>

                        <button
                            v-if="google"
                            type="button"
                            @click="socialLogin('google')"
                            class="btn btn--block btn--icon btn-social-login mb-10"
                        >
                            <span class="svg-icon"><IconGoogle /></span>
                            <span class="text p3 bold-700">Google</span>
                        </button>
                        <button
                            v-if="linkedin"
                            type="button"
                            @click="socialLogin('linkedin')"
                            class="btn btn--block btn--icon btn-social-login mb-10 bg-linkedin"
                        >
                            <span class="svg-icon"><IconLinkedin /></span>
                            <span class="text p3 bold-700 color-white"
                                >Linkedin</span
                            >
                        </button>
                        <button
                            v-if="facebook"
                            type="button"
                            @click="socialLogin('facebook')"
                            class="btn btn--block btn--icon btn-social-login mb-10 bg-facebook"
                        >
                            <span class="svg-icon"><IconFacebook /></span>
                            <span class="text p3 bold-700 color-white"
                                >Facebook</span
                            >
                        </button>

                        <div
                            v-if="google || linkedin || facebook"
                            class="text-center mt-20 mb-10 p2"
                        >
                            Or
                        </div>

                        <form class="form" @submit.prevent="login">
                            <div class="form__group">
                                <label for="email" class="form__label"
                                    >Email</label
                                >
                                <input
                                    type="text"
                                    class="form__control"
                                    :class="{
                                        'is-invalid':
                                            errors.email ||
                                            $v.form.email.$error,
                                    }"
                                    @blur="$v.form.email.$touch()"
                                    id="email"
                                    v-model="form.email"
                                />
                                <span
                                    v-if="errors.email || $v.form.email.$dirty"
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.email">{{
                                        errors.email[0]
                                    }}</span>
                                    <span v-if="$v.form.email.$invalid"
                                        >Wajib diisi! Harus valid email</span
                                    >
                                </span>
                            </div>
                            <div class="form__group">
                                <label for="password" class="form__label"
                                    >Password</label
                                >
                                <input
                                    type="password"
                                    class="form__control"
                                    :class="{
                                        'is-invalid':
                                            errors.password ||
                                            $v.form.password.$error,
                                    }"
                                    @blur="$v.form.password.$touch()"
                                    id="password"
                                    v-model="form.password"
                                />
                                <span
                                    v-if="
                                        errors.password ||
                                        $v.form.password.$dirty
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.password">{{
                                        errors.password[0]
                                    }}</span>
                                    <span v-if="$v.form.password.$invalid"
                                        >Wajib diisi!</span
                                    >
                                </span>
                                <router-link :to="'/auth/forgot-password'">
                                    <small
                                        class="text-right color-grey mt-5 block"
                                        >Forgot password?</small
                                    >
                                </router-link>
                            </div>
                            <div v-if="message != ''" class="text-danger">
                                {{ message }}
                            </div>
                            <button
                                type="submit"
                                class="btn btn--primary btn--block"
                                :disabled="$v.$invalid || processing"
                            >
                                <span v-if="!processing"> Sign in </span>
                                <span v-else> Processing... </span>
                            </button>
                        </form>
                        <div class="text-center color-grey mt-10 mb-10 p2">
                            Or
                        </div>
                        <div class="text-center color-grey p2">
                            Don't have account ?
                            <nuxt-link
                                to="/auth/register"
                                title="Register"
                                class="bold-700"
                                >Sign up now</nuxt-link
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { redirectIfAuthenticatedMixin } from "~/plugins/mixins/redirect-authenticated";
import { required, email } from "vuelidate/lib/validators";
import IconGoogle from "~/components/Icon/IconGoogle";
import IconLinkedin from "~/components/Icon/IconLinkedin";
import IconFacebook from "~/components/Icon/IconFacebook";
import { mapGetters } from "vuex";

export default {
    mixins: [redirectIfAuthenticatedMixin],
    head: {
        title: "Login",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Login page",
            },
        ],
    },
    components: {
        IconGoogle,
        IconLinkedin,
        IconFacebook,
    },
    async asyncData({ $axios, route }) {
        let { data } = await $axios.$get("available-social-login");

        return {
            google: data.google,
            facebook: data.facebook,
            linkedin: data.linkedin,
        };
    },
    data() {
        return {
            processing: false,
            message: this.$route.query.error ? this.$route.query.error : "",
            employer_login_url: `${process.env.EMPLOYER_BASE_URL}/auth/login`,
            form: {
                email: "",
                password: "",
            },
        };
    },
    validations: {
        form: {
            email: {
                required,
                email,
            },
            password: { required },
        },
    },
    methods: {
        login() {
            this.processing = true;
            this.message = "";
            this.$auth
                .loginWith("local", {
                    data: this.form,
                })
                .then((res) => {
                    this.$nuxt.$emit("avatar-update", this.user.avatar_url);
                    const index = this.routeHistories.length - 2;
                    if (index > -1) {
                        this.$router.push(this.routeHistories[index]);
                    }
                })
                .catch((err) => {
                    this.message = "Akun salah";
                    this.processing = false;
                });
        },
        // this func will called when user choice to auth by third party auth
        socialLogin(service) {
            window.location.href = `${process.env.BACKEND_BASE_URL}/auth/${service}/login`;
        },
    },
    computed: {
        ...mapGetters("route-history", ["routeHistories"]),
    },
};
</script>
