<template>
    <button
        type="button"
        class="btn btn--grey mr-15 close-modal"
        @click="closeModal"
    >
        Cancel
    </button>
</template>

<script>
export default {
    props: {
        target: {
            type: String,
            required: true,
        },
    },
    methods: {
        closeModal() {
            this.$nuxt.$emit("close-modal", this.target);
        },
    },
};
</script>
