<template>
    <div
        class="c-modal"
        :class="{
            show: show,
            'c-modal--full-height': full_height,
            'c-modal--small': small,
        }"
        role="dialog"
    >
        <div class="c-modal__wrapper b-2 b-primary relative">
            <div class="c-modal__header">
                <h3 class="h4 bold-700 c-modal__title mx-auto text-center">
                    {{ title }}
                </h3>
                <button
                    type="button"
                    class="c-modal__close close-modal circle bg-primary flex items-center justify-center"
                    @click.prevent="closeModal"
                >
                    <span class="icon-svg">
                        <IconClose path_stroke_color="#ffffff" />
                    </span>
                </button>
            </div>
            <div class="c-modal__body">
                <slot name="body"></slot>
            </div>
            <div v-if="footer" class="c-modal__footer">
                <slot name="footer"></slot>
            </div>
        </div>
        <div class="c-modal__wrapper-outside" @click="closeModal">&nbsp;</div>
    </div>
</template>

<script>
import IconClose from "~/components/Icon/IconClose";

export default {
    props: {
        title: {
            type: String,
            required: true,
        },
        name: {
            type: String,
            required: true,
        },
        footer: {
            type: Boolean,
            default: false,
        },
        full_height: {
            type: Boolean,
            default: false,
        },
        small: {
            type: Boolean,
            default: false,
        },
    },
    components: {
        IconClose,
    },
    data() {
        return {
            show: false,
        };
    },
    created() {
        this.$nuxt.$on("show-modal", (target) => {
            if (target === this.name) {
                this.show = true;
             document.body.classList.add("no-scroll");
            }
        });

        this.$nuxt.$on("close-modal", (target) => {
            if (target === this.name) {
                this.closeModal();
            }
        });
    },
    methods: {
        closeModal() {
            this.show = false;
            document.body.classList.remove("no-scroll");
        },
    },
};
</script>
