.about-txt{
    margin-bottom: 10px ;
    h1{
        font-size: 34px;
        font-weight: 700;
    }
    p{
        font-size: 16px;
    }
    @media screen and (max-width: 576px) {
        margin: 10px 0 ;
        h1{
            font-size: 24px;
        }
        p{
            font-size: 14px;
            text-align: justify;
        }
        .btn{
            margin: auto;
        }
    }
}
.about-hero {
    font-size: 34px;
    height: 80vh;
    background-color: #16568b;

    h1{
        color: #ffffff;
        font-size: 34px;
    }
    p{
        font-size: 16px;
    }
    
    @media screen and (max-width: 576px) {
        height: 35vh;
        h1{
            font-size: 24px;
        }
    }
    @include on(notebook) {
        overflow: hidden;
    }

    &__image{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__left {
        .bg-image {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 100px;

            img {
                width: auto;
                height: 100%;
            }
        }

        .circle-block {
            width: 300px;
            height: 300px;
            position: absolute;
            left: -175px;
            bottom: -175px;
            border-radius: 50%;
        }

        .text-wrapper {
            color: #ffffff;
            position: absolute;
            width: calc(100% - #{$container_padding * 2});
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            z-index: 9;
            text-align: left;

            .image-logo {
                width: 220px;
            }
            @media screen and (max-width: 992px) {
                text-align: center;
            }
        }
    }

    &__right {
        .bg-image {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;

            @include on(notebook) {
                width: 50%;
            }
        }
    }
}
