.hero-image-article{
    padding: 50px;
    margin-top: 70px;
    height: 400px;
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('~/assets/images/header-article.png');
  }
  @media screen and (max-width: 1000px) {
    .hero-image-article{
      margin-top: 0;
      height: 200px;
    }
  }
  .search-form{
    background-color: white;
    padding: 50px 60px;
  
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #5541D7;
      border-radius: 7px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
  
    label{
      font-weight: bold;
    }
    h1{
      padding-bottom: 20px;
    }
    textarea{
      height: 100px;
    }
  }
  .head-top{
      padding: 40px;
      background-color: white;
      hr{
          width: 60%;
          margin-top: 10px;
          float: left;
          position: relative;
      }
    
  }
  .article-content{
    justify-content: center;
  }
  .article-icons{
    text-align: right;
    button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #065489;
    }
  }
  .container-detail{
    padding: 60px 50px;
    margin-bottom: -60px;
    background-color: white;
    hr{
      margin-top: 5px;
    }
    @media screen and (max-width: 992px) {
      padding: 50px;
      margin-top: -20px;
    }
}

.article-category{
  color :  #9A6CB4;
  font-weight:bolder;
}
.article-date{
  font-weight: bold;
  color: #77808B;
}
.writer{
  margin-top: -10px;
  padding-bottom: 50px;
  p{
    margin-bottom: -15px;
    padding-left: 20px;
  }
  img{
    top: 20px;
    position: relative;
  }
}
.card-more-artikel{
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
  img{
    width:100%;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .sm-flex{
    position: relative;
    bottom: 0;
  }
}
.text-smaller{
  font-size: 12px;
}