.p-company {
    // &__banner {
    //     width: 100%;
    //     height: 370px;
    //     position: relative;

    //     @media only screen and(max-width: 1200px) {
    //         height: 320px;
    //     }

    //     @media only screen and(max-width: 768px) {
    //         height: 200px;
    //         margin: 30px auto 0;
    //         z-index: 9;
    //         box-shadow: $box-shadow-2;
    //     }

    //     @media only screen and(max-width: 576px) {
    //         height: 150px;
    //     }

    //     .logo-sq {
    //         display: none;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 200px;
    //         height: 200px;
    //         border-radius: $border_radius;

    //         @media only screen and(max-width: 768px) {
    //             display: block;
    //             width: 150px;
    //             height: 150px;
    //             border-radius: 10px;
    //             bottom: -25px;
    //             top: auto;
    //             left: 5px;
    //         }

    //         @media only screen and(max-width: 576px) {
    //             width: 80px;
    //             height: 80px;
    //             bottom: -40px;
    //         }
    //     }

    //     img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }

    &__logo {
        width: 200px;
        margin-right: 30px;

        @media only screen and(max-width: 768px) {
            display: none;
        }
    }

    &__details {
        flex: 1;

        h1 {
            font-family: $font-family-base;
            color: $color-heading;

            @media only screen and(max-width: 768px) {
                margin-top: 15px;
            }
        }
    }

    &__short-desc {
        margin-bottom: 30px;

        @media only screen and(max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media only screen and(max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .list-detail {
            margin-right: 20px;

            @media only screen and(max-width: 768px) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }

    .list-socials {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;

            li {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    svg {
                        width: 40px;
                        height: 40px;

                        image {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    &__images {
        #silentbox-gallery {
            @include on(tablet) {
                display: flex;
                align-items: center;
            }

            .silentbox-item {
                border-radius: $border_radius;
                overflow: hidden;

                @include on(tablet) {
                    display: flex;
                    width: 36%;
                    height: 250px;
                }

                &:nth-child(2) {
                    margin: 15px 0;

                    @include on(tablet) {
                        margin: 0 2%;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &__reviews {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
}

.co-form {
    &__banner {
        width: 100%;
        height: 188px;
        background-color: $grey-1;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__upload-banner {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__upload-logo {
        position: absolute;
        bottom: 15px;
        left: 15px;
        cursor: pointer;

        &:hover > .co-form__logo-input {
            opacity: 0.8;
        }

        .logo-sq {
            width: 115px;
            height: 115px;

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

    &__logo-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flexCenter;
        font-size: 40px;
        cursor: pointer;
        opacity: 0;
        transition: all 0.25s ease-in-out;

        input[type="file"] {
            display: none;
        }
    }
}
