.contact-form-wrapper {
    flex-direction: column-reverse;

    @include on(notebook) {
        flex-direction: row;
    }

    .rectangle {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 150px;
        background-color: $color-primary;

        @include on(notebook) {
            top: 50%;
            width: 40%;
            height: 75%;
            border-radius: $border-radius 0 0 $border-radius;
            transform: translateY(-50%);
        }
    }

    .img-form {
        float: right;
        position: relative;

        @include on(notebook) {
            width: 80%;
        }
    }
}
