.employer-page {
    position: relative;
    min-height: 550px;

    &__nav {
        z-index: 9;
        position: relative;
    }

    &__content {
        z-index: 9;
        position: relative;
    }

    &__bg {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.box-header-emp {
    padding-top: 150px;
}
@media screen and (max-width: 576px) {
    .box-header-emp {
        height: 100%;
        padding: 20px;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("~/assets/images/business-people-in-the-office-working-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: brightness(0.8);
        h1 {
            color: white;
            text-align: center;
            margin-left: 30px;
        }
        p {
            color: white;
            margin-left: 30px;
        }
    }
}
.how-hire-emp {
    padding-top: 50px;
    padding-left: 120px;
    background-color: white;
    img {
        width: 80%;
    }
    .card-column {
        width: 40%;
        float: "";
    }
    @media screen and (max-width: 1000px) {
        padding: 50px;
    }
    @media screen and (max-width: 600px) {
        padding: 30px 15px;
        img {
            width: 100%;
        }
    }
}
.hr-emp {
    background-color: #000000;
    opacity: 0.3;
    padding-top: 0px;
    width: 140px;
    display: block;
    max-width: 100%;

    @media screen and (max-width: 600px) {
        width: 180px;
    }
}

.card-container {
    display: table;
    width: 100%;
    background-color: white;
    @media only screen and (max-width: 1000px) {
        padding: 20px 0px;
    }
}
.card-emp {
    display: table-cell;
    padding: 0px 20px;
}
.card-box {
    box-shadow: 8px 8px 0px 0 rgba(6, 84, 137, 1);
    border: 2px solid black;
    padding: 30px 10px 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    // min-height: 450px;
    position: relative;
}
#btn-emp {
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: rgba(6, 84, 137, 1);
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .card-emp {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .card-container {
        padding: 20px 0px;
    }
}
.learn-more {
    color: #16568b;
    font-weight: bold;
    hr {
        width: 90px;
        display: block;
        border-top: 4px solid #16568b;
        margin-top: 5px;
    }
}
.industry-served {
    padding: 20px 100px 0px;
    background-color: white;
    margin-left: 0px;
    text-align: center !important;
    img {
        width: 50px;
        max-width: 100px;
    }
    .flex-column {
        width: 200px;
        padding-bottom: 50px;
    }
    @media only screen and (max-width: 1100px) {
        display: block;
        padding: 20px 40px 50px;
    }
    @media only screen and (max-width: 900px) {
        padding: 20px 0px 50px;
    }
}
