.ej-top {
    height: 80vh;
    background-color: #f6fdfa;

    &__left {
        .bg-image {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 175px;

            img {
                width: auto;
                height: 100%;
            }
        }

        .main-form {
            z-index: 9;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;

            @include on(notebook) {
                max-width: none;
                margin-left: 0;
            }

            .text {
                color: #ffffff;

                @include on(notebook) {
                    color: $color-text;
                }

                .title {
                    font-size: 26px;
                    line-height: 30px;

                    @include on(notebook) {
                        font-size: 60px;
                        line-height: 80px;
                    }
                }
            }

            .main-search-form {
                .input-group__prepend,
                .form__control,
                .vs__dropdown-toggle {
                    border: none;
                }

                .input-group {
                    border-radius: $border-radius-form;
                    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
                }

                .vs__dropdown-toggle svg path {
                    fill: $color-primary;
                }
            }
        }
    }

    &__right {
        .bg-image {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;

            @include on(notebook) {
                width: 35%;
            }
        }
    }
}

.ej-filter-wrapper {
    @include on(notebook) {
        float: left;
        position: sticky;
        top: 80px;
        align-self: flex-start;
    }

    &.show-filter {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #ffffff;
        z-index: 9999;
        height: 100vh;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.ej-filter {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
            width: 16px;
            height: 16px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__list {
        height: calc(100vh - 90px);
        overflow-y: scroll;
        @include customScrollbar;

        @include on(notebook) {
            height: calc(100vh - 160px);
        }
    }
}
