.job {
    &__point {
        .icon-svg {
            width: 18px;
            height: 18px;
        }
    }

    &__bookmark {
        width: 40px;
        height: 40px;
    }

    &__share {
        .icon-svg {
            width: 25px;
            height: 25px;
        }
    }

    &__questions-modal {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 2px dashed $color-border;
    }
}
