.myo {
    position: relative;

    &__side {
    }

    &__side-buttons {
        margin-bottom: 20px;
    }

    &__progress {
        h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
        }
    }

    &__progress-list {
        margin-top: 0;

        ul {
            margin-top: 10px;
        }
    }

    &__progress-list,
    &__menu {
        ul {
            list-style-type: none;
            padding-left: 20px;

            li {
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                margin-bottom: 10px;
                position: relative;

                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color-primary;
                    position: absolute;
                    left: -20px;
                    top: 7px;
                }

                a {
                    display: block;

                    .name {
                        color: $grey-1;

                        &.completed {
                            color: $grey-3;
                        }
                    }

                    .icon {
                        float: right;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &__menu {
        ul {
            li {
                &:hover,
                &.active {
                    &:before {
                        background-color: $color-primary;
                    }

                    a {
                        .name,
                        .icon {
                            color: $color-primary;
                        }
                    }
                }

                &:before {
                    background-color: $grey-3;
                }

                a {
                    .name,
                    .icon {
                        color: $grey-3;
                    }
                }
            }
        }
    }

    &__main {
    }

    &__basic {
        margin-bottom: 40px;
        position: relative;
        display: flex;
    }

    &__basic-detail {
        h1 {
            margin-bottom: 0;
        }
    }

    &__basic-detail-top {
        display: flex;
        align-items: center;

        @media only screen and(max-width: 768px) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid $color-primary;
        box-shadow: $box-shadow-2;
        position: relative;

        @media only screen and(max-width: 768px) {
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
        }

        @media only screen and(max-width: 576px) {
            width: 100px;
            height: 100px;
        }

        &:hover > .myo__update-avatar {
            opacity: 0.8;
        }
    }

    &__update-avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        @include flexCenter;
        font-size: 60px;
        color: $grey-2;
        cursor: pointer;
        opacity: 0;
        transition: all 0.25s ease-in-out;

        input[type="file"] {
            display: none;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }

    &__status {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $grey-3;
    }

    &__start-work {
        font-size: 13px;
    }

    &__basic-list {
        dl {
            margin-top: 0;
        }
    }

    &__video-el-wrapper {
        width: 100%;
        height: auto;
    }

    &__video-record-wrapper {
        width: 100%;
        height: calc(95vh - 230px);
        display: flex;
        justify-content: center;
        position: relative;

        @media only screen and (max-width: 576px) {
            height: calc(95vh - 175px);
        }
    }

    &__video-timer {
        font-size: 20px;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.15);
    }

    &__video-timer-alert {
        font-size: 97px;
        width: 100%;
        text-align: center;
        color: $color-text;
        position: absolute;
        bottom: 60px;
        animation-name: fading_small;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media only screen and (max-width: 576px) {
            font-size: 60;
        }
    }

    &__video-record-button-wrapper {
        margin: 20px auto 0 auto;
        width: 165px;
        display: flex;
        justify-content: center;
    }
}
