.new-home-top {
    display: flex;
    padding: 10px;

    &__deskription {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image {
        img {
            max-width: 100%;
            max-height: auto;
        }
    }
}

.new-home-top__navigation {
    margin: auto;
    padding: 0;
    button {
        border: none;
        border-radius: 8px;
        padding: 12px 16px;
        cursor: pointer;
    }
}

.mobile-center{
    @media only screen and (max-width: 576px) {
        margin: auto;
    }
}

.our-services {
    &__card {
        padding: 0;
        height: 230px;
        transition: all 0.8s linear;

        &.flip {
            transform: rotateY(180deg);
            box-shadow: none;

            .front-side {
                opacity: 0;
                visibility: hidden;
            }
        }

        .front-side {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 9;
            transition-delay: 0.4s;
        }

        .back-side {
            position: absolute;
            top: 0;
            left: -6px;
            width: calc(100% + 6px);
            height: 100%;
            transform: rotateY(180deg);
            overflow-y: scroll;
            @include customScrollbar;
        }
    }
}

#candidate {
    background-color: rgba(6, 84, 137, 1);
    color: white;
}

#employee {
    background-color: white;
    color: rgba(6, 84, 137, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#about-us-button {
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: rgba(6, 84, 137, 1);
    color: white;
    cursor: pointer;
}

.title-card-service {
    flex-grow: 1;
}

.deskription {
    flex-grow: 3;
}

.testimonion {
    display: flex;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            max-width: 250px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            @include on(mobile) {
                max-width: none;
            }

            @include on(tablet) {
                text-align: left;
                margin-left: 0;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card-testimonion {
            width: 100%;
            position: relative;
            border: 3px solid black;
            border-radius: 16px;
            padding: 24px 26px;
            background-color: white;
            box-shadow: 14px 14px rgba(61, 161, 216, 1);

            @include on(desktop) {
                height: 300px;
                margin-left: auto;
            }

            &__navigation {
                margin-top: 16px;
                display: flex;
                justify-content: flex-end;

                button {
                    border: none;
                    background-color: transparent;
                    margin: 0 12px;
                    cursor: pointer;
                }
            }

            .card-testimonion-profil-pic {
                height: 56px;
                width: 56px;
                max-width: 100%;
                background-color: yellow;
                border-radius: 100px;
            }
        }
    }
}

.semi-colon {
    top: 0;
    left: 90%;
    position: absolute;
    max-width: 100%;
    height: auto;
}

.sub-footer {
    display: flex;
    background-color: rgba(35, 106, 159, 1);

    &__left {
        display: flex;
        justify-content: center;
    }

    &__ilustration {
        img {
            height: 100%;
            margin: 0;
            padding-right: 10px;
        }
    }
}

.client-count {
    display: flex;
    flex-direction: column;
    background-color: #236a9f;
    background-image: url("~assets/images/content-images/client-count-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &__services {
        .item {
            border-right: 1px solid #ffffff;

            &:nth-child(2) {
                border-right: none;

                @include on(tablet) {
                    border-right: 1px solid #ffffff;
                }
            }

            &:last-child {
                border-right: none;
            }

            .inner {
                width: 100px;
                margin-left: auto;
                margin-right: auto;

                @include on(tablet) {
                    width: auto;
                }
            }
        }
    }
}

.read-more {
    hr {
        width: 55%;
        margin: 0;
    }
}
.read-more-white {
    color: white;
    padding-bottom: 10px;
    padding-top: 5px;
    a {
        color: #ffffff;
        font-size: 14px;
    }
    hr {
        width: 55%;
        margin: 0;
        color: #ffffff;
        border-top: 1px solid #ffffff;
    }
}

.preview-image {
    img {
        width: 100%;
        height: 80%;
        max-height: 100%;
        max-width: 100%;
        border-radius: 20px;
        background-size: cover;
    }
}

.preview-text {
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
}

.news-second {
    position: relative;

    .title-news {
        padding: 12px;
        border-radius: 20px;
        background: rgba(106, 97, 97, 0.3);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        margin: 0 auto;
        left: 5%;
        right: 5%;
        bottom: 10%;
        position: absolute;
    }
}
.home-hero {
    height: 275px;

    @include on(tablet) {
        height: 550px;
    }

    &__text {
        z-index: 999;
        position: relative;
        text-align: center;
        width: 100%;

        @include on(tablet) {
            text-align: left;
        }

        .inner {
            margin-left: auto;
            margin-right: auto;
            color: #ffffff;

            @include on(tablet) {
                color: $color-text;
                margin-left: 0;
            }
        }
    }

    &__image {
        width: 100%;
        height: 275px;
        position: absolute;
        top: 0;
        right: 0;

        @include on(tablet) {
            height: 550px;
            width: 50%;
        }
    }
}
.hero-image{
    img {
        margin-bottom: -10px;
    }
}
.home-sec {
    overflow: hidden;

    &__item-wrapper {
        width: 25%;
    }

    &__item {
        height: 85px;
    }
}

@media screen and (max-width: 576px) {
    .box-header-home {
        height: 100%;
        padding: 20px;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("~/assets/images/businessman-employee-candidate-shaking-hands-with--DF5B4YF 2.png");
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: brightness(0.8);
        h1 {
            color: white;
        }
        p {
            color: white;
        }
    }
}

.my-auto {
    padding-right: 80px;
    @media only screen and (max-width: 576px) {
        padding-right: 0;
    }
}

.subfoot{
    padding: 10px 0 0 0;
    h3{
        font-size: 34px;
    }
    .p4{
        font-size: 16px;
    }
    .btn{
        background-color: #ffffff;
    }
    @media only screen and (max-width: 576px) {
        h3{
            font-size: 24px;
        }
        .p4{
            font-size: 14px;
        }
        .btn{
            background-color: #2072b6cc;
            color: white;
        }
    }
}