.team-card {
    transition: all 0.8s linear;

    &.flip {
        transform: rotateY(180deg);

        .team-card__front {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__front {
        z-index: 9;
        transition-delay: 0.4s;
    }

    &__image {
    }

    &__main-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(6, 85, 137, 0.65);
    }

    &__back {
        background-color: #3a86ff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotateY(180deg);
        overflow-y: scroll;
        @include customScrollbar;
    }
}
