<template>
    <div class="content-wrapper">
        <Header />
        <div class="content">
            <nuxt />
        </div>
        <MobileNav />
        <MobileAccountNav />
        <NewFooter />
        <LoadingBlock />
        <GlobalOverlay />
    </div>
</template>

<script>
import Header from "~/components/Layout/Header";
import MobileNav from "~/components/Layout/MobileNav";
import MobileAccountNav from "~/components/Layout/MobileAccountNav";
import HeaderSecondary from "~/components/Layout/HeaderSecondary";
import NewFooter from "~/components/Layout/New-Footer";
import LoadingBlock from "~/components/Layout/LoadingBlock";
import GlobalOverlay from "~/components/Layout/GlobalOverlay";

export default {
    components: {
        Header,
        MobileNav,
        MobileAccountNav,
        HeaderSecondary,
        NewFooter,
        LoadingBlock,
        GlobalOverlay,
    },
};
</script>
