<template>
    <div>
        <div class="about-hero relative">
            <div class="container height-100p">
                <div class="row-height-100p">
                    <div
                        class="about-hero__left flex height-100p col-12"
                    >
                        <div class="bg-image hide show-n">
                            <img src="~/assets/images/About-Stars.png" />
                        </div>
                        <div class="circle-block hide show-n bg-primary">
                            &nbsp;
                        </div>
                        <div class="text-wrapper">
                            <h1 class="h1 bold-700 text-header">
                                About Us
                            </h1>
                        </div>
                    </div>
                    <div
                        class="about-hero__right col col-12"
                    >
                        <div class="bg-image height-100p">
                            <img
                                src="~/assets/images/header-about.png"
                                alt="About us"
                                class="img-full-cover"
                            />
                            <div class="banner-overlay hide-n">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-primary pt-40 pb-40 n-pt-80 n-pb-80">
            <div class="container">
                <div class="row color-white about-txt">
                    <div class="col-12 n-col-6 n-mb-0">
                            <h1>Who We Are</h1>
                    </div>
                    <div class="col-12 n-col-6 justify">
                        <p>
                        Our journey has always been about listening and
                        understanding the businesses by collecting information,
                        connecting the dots and sharing our insights. Our
                        commitment and strong methodology is our key to
                        excellence and makes us the preferred firm to rely on.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white imgtextabout">
            <ImageText
                :title="imaget_text_1.title"
                :description="imaget_text_1.description"
                :image_url="imaget_text_1.image_url"
            />

            <ImageText
                :title="imaget_text_2.title"
                :description="imaget_text_2.description"
                text_position="left"
                :image_url="imaget_text_2.image_url"
            />
        </div>
        <div class="bg-grey2">
            <div class="container pt-20 pb-20 n-pt-80 n-pb-80 about-txt">
                <h1 class="h3 bold-700 text-center mb-60 color-blue2">Our Achievement</h1>
                <div class="row">
                    <div class="col-12 m-col-12 n-col-12">
                        <img
                                    src="~/assets/images/awards.png"
                                    alt="Awards"
                                    class="img-fluid"
                                    style="margin:auto"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <div class="container pt-20 pb-20 n-pt-80 n-pb-80">
                <h1 class="h3 bold-700 text-center mb-50 color-blue2">Our Competence</h1>
                <div class="row">
                    <div class="col-12 m-col-6 n-col-3 m-mb-20 n-mb-0">
                        <div class="card card-competence">
                            <div class="card__body text-center">
                                <div class="flex justify-center pt-20 pb-20">
                                    <div class="max-60">
                                        <img
                                            src="~/assets/images/icons/page-about/experience.png"
                                            alt="real-time"
                                            class="img-fluid"
                                        />
                                    </div>
                                </div>
                                <h3 class="h5 bold-700">Enhanced Experience</h3>
                                <p>
                                    Hire faster and smarter with AI assisted talent
                                    acquisition and benefit from optimized solutions
                                    to capture key talent profiles
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-col-6 n-col-3 m-mb-20 n-mb-0">
                        <div class="card card-competence">
                            <div class="card__body text-center">
                                <div class="flex justify-center pt-20 pb-20">
                                    <div class="max-60">
                                        <img
                                            src="~/assets/images/icons/page-about/fast-forward.png"
                                            alt="real-time"
                                            class="img-fluid"
                                        />
                                    </div>
                                </div>
                                <h3 class="h5 bold-700">Fast Forward</h3>
                                <p>
                                    We smartcut processes and speed up talent
                                    acquistion with video interview, background
                                    checks and personality testing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-col-6 n-col-3">
                        <div class="card card-competence">
                            <div class="card__body text-center">
                                <div class="flex justify-center pt-20 pb-20">
                                    <div class="max-35">
                                        <img
                                            src="~/assets/images/icons/page-about/personal-touch.png"
                                            alt="real-time"
                                            class="img-fluid"
                                        />
                                    </div>
                                </div>
                                <h3 class="h5 bold-700">Personal Touch</h3>
                                <p>
                                    Our in house experts are ready to deliver on any
                                    specialized recruitment need, with success based
                                    agreement and replacment guarantees.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-col-6 n-col-3">
                        <div class="card card-competence">
                            <div class="card__body text-center">
                                <div class="flex justify-center pt-20 pb-20">
                                    <div class="max-60">
                                        <img
                                            src="~/assets/images/icons/page-about/connected.png"
                                            alt="real-time"
                                            class="img-fluid"
                                        />
                                    </div>
                                </div>
                                <h3 class="h5 bold-700">
                                    Collaborative and Connected
                                </h3>
                                <p>
                                    Leverage on our years of knowledge and network
                                    to build winning teams across industries.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <ImageText
                :title="imaget_text_3.title"
                :description="imaget_text_3.description"
                :image_url="imaget_text_3.image_url"
                :action_link="imaget_text_3.action_link"
            />
        </div>

        <SubFooter />
    </div>
</template>

<script>
import SubFooter from "~/components/Layout/SubFooter";
import ImageText from "~/components/Share/ImageText";

export default {
    components: {
        SubFooter,
        ImageText,
    },
    head() {
        return {
            title: "About Us",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: "About us page",
                },
            ],
        };
    },
    data() {
        return {
            logo_url: this.$store.getters.logo.frontend,
            imaget_text_1: {
                title: "What We Stand for",
                description: `Leveraging on over 15 years of experience we have become specialist at understanding risks and possibilities in the human capital industry, we understand how to relieve client pain points while also understanding the realities of jobseekers. We take away the friction and put verified candidates infront of strong, growing businesses and unlock the potential of this partnership.`,
                image_url: `${require(`@/assets/images/office-work.png`)}`,
            },
            imaget_text_2: {
                title: "Our Successes",
                description: `We have seen our success and are not resting on it. We're aiming to break new frontiers with innovative solutions, bringing the boldness of a winning formula into this digital world of talent recruitment!`,
                image_url: `${require(`@/assets/images/the-office-working.png`)}`,
            },
            imaget_text_3: {
                title: "We have the strongest links",
                description: `Formed by our experiences, we have developed a 360 degree perspective of this continuously evolving industry and our goal is to help you overcome all your recruitment challenges. Whatever your needs may be, Reqruit Asia has got you covered!`,
                image_url: `${require(`@/assets/images/office-work-KRD.png`)}`,
                action_link: {
                    slug: "/team",
                    text: "Our Team",
                },
            },
        };
    },
};
</script>

<style lang="scss" scoped>
.card-competence {
    box-shadow: none;

    @media only screen and (min-width: 576px) {
        box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
</style>
