<template>
    <div class="bg-white">
        <div class="container pt-15 pb-15 t-pt-20 t-pb-20 n-pt-30 n-pb-30">
            <nuxt-link to="/blog" title="Back">
                <IconCaretLeft />
                <span class="text p3">Back to the list article page</span>
            </nuxt-link>
        </div>

        <article class="container pb-40 n-pb-80">
            <div class="max-850 mx-auto">
                <div class="mb-20 rounded">
                    <img
                        :src="article.featured_image_url"
                        :alt="article.title"
                        class="img-fluid width-100p"
                    />
                </div>
                <div class="color-grey p2 mb-20">
                    {{ article.created_at | format_date_only("ID") }}
                </div>
                <h1 class="h3 bold-700 pb-15 mb-15 bb-1 b-border">
                    {{ article.title }}
                </h1>
                <div class="mb-20" v-html="article.content"></div>
                <h3 class="h4 bold-700 pb-15 mb-15 bb-1 b-border">
                   More From Reqruitasia Articles
                </h3>
                <div class="row">
                    <div
                        v-for="(rel_art, i) in related_articles"
                        :key="i"
                        class="col-12 t-col-4"
                    >
                        <ArticleCard :article="rel_art" :excerpt="false" />
                    </div>
                </div>
            </div>
        </article>
    </div>
</template>

<script>
import ArticleCard from "~/components/Article/ArticleCard";

export default {
    components: {
        ArticleCard,
    },
    head() {
        return {
            title: this.article.meta_title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.article.meta_description,
                },
                {
                    hid: `og:title`,
                    property: "og:title",
                    content: this.article.meta_title,
                },
                {
                    hid: "og:image",
                    name: "og:image",
                    content: this.article.featured_image_url,
                },
                {
                    hid: `og:url`,
                    property: "og:url",
                    content: this.current_article_url,
                },
                {
                    hid: `og:description`,
                    property: "og:description",
                    content: this.article.meta_description,
                },
            ],
        };
    },
    async asyncData({ $axios, params }) {
        let { data } = await $axios.$get(`article/${params.slug}`);
        let baseUrl = process.env.APP_BASE_URL;

        return {
            article: data.article,
            related_articles: data.related_articles,
            current_page_url: `${baseUrl}/article/${data.article.slug}`,
        };
    },
    created() {
        console.log(this.related_articles);
    },
};
</script>
