<template>
    <div>
        <PageBanner title="Our Insights" :image_url="banner_image_url" />

        <div
            v-if="popular_posts.length > 0"
            class="container pt-40 pb-40 t-pt-80 t-pb-80"
        >
            <h2
                class="h3 color-primary bold-700 pb-10 bb-1 b-border mb-40 width-max-con"
            >
                Popular Articles
            </h2>
            <!-- <ArticleSlide
                v-if="popular_posts !== null"
                :articles="popular_posts"
            /> -->
            <div class="row">
                <div
                    v-for="(article, i) in popular_posts"
                    :key="i"
                    class="col-12 m-col-6 t-col-4 mb-20"
                >
                    <ArticleCard :article="article" />
                </div>
            </div>
        </div>

        <div id="media-coverage" class="container pt-40 pb-40 n-pt-80 n-pb-80">
            <h2
                class="h3 color-primary bold-700 pb-10 bb-1 b-border mb-40 width-max-con"
            >
                Media Coverage
            </h2>
            <div class="row">
                <div
                    v-for="(article, i) in articles.articles"
                    :key="i"
                    class="col-12 m-col-6 t-col-4 mb-20"
                >
                    <ArticleCard :article="article" />
                </div>
            </div>

            <div v-if="loading" class="loading-image">
                <img src="~/assets/images/loading.gif" alt="Loading" />
            </div>
        </div>
    </div>
</template>

<script>
import ArticleCard from "~/components/Article/ArticleCard";
import PageBanner from "~/components/Share/PageBanner";
import ArticleSlide from "~/components/Article/ArticleSlide";

export default {
    head() {
        return {
            title: this.meta_title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.meta_description,
                },
                {
                    hid: `og:title`,
                    property: "og:title",
                    content: this.meta_title,
                },
            ],
        };
    },
    components: {
        ArticleCard,
        PageBanner,
        ArticleSlide,
    },
    async asyncData({ $axios }) {
        let { data } = await $axios.$get(`articles`);

        return {
            articles: data.articles,
            // featured_posts: data.featured_posts,
            popular_posts: data.popular_posts,
            meta_title: data.meta_title,
            meta_description: data.meta_description,
        };
    },
    data() {
        return {
            banner_image_url: `${require("@/assets/images/page-banner/blog-banner.jpg")}`,
            loading: false,
        };
    },
    created() {
        if (process.client) {
            const vm = this;
            document.addEventListener("scroll", function (e) {
                if (vm.articles.next_page_url != null && !vm.loading) {
                    const mcov_position = document
                        .getElementById("media-coverage")
                        .getBoundingClientRect().bottom;

                    if (mcov_position < window.innerHeight) {
                        vm.nextArticles();
                    }
                }
            });
        }
    },
    methods: {
        nextArticles() {
            this.loading = true;

            this.$axios
                .$get(`articles/load?page=${this.articles.current_page + 1}`)
                .then((res) => {
                    this.articles.articles = [
                        ...this.articles.articles,
                        ...res.data.articles,
                    ];
                    this.articles.next_page_url = res.data.next_page_url;
                    this.articles.current_page = res.data.current_page;
                })
                .catch((err) => {
                    console.log(err.response);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
    },
};
</script>
