<template>
    <div>
        <Article> </Article>
        <ArticleTop v-if="articles !== null" :articles="articles"/>
    </div>
</template>
<script>
import Article from "~/components/Article/Article.vue"
import ArticleTop from "~/components/Article/ArticleTop.vue"
export default {
  components : {
   Article,
   ArticleTop,
  },
  head() {
    return {
      bodyAttrs: {
      class: "content-no-padding-top homepage",
      },
      title: this.meta_title,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.meta_description,
        },
        {
          hid: `og:title`,
          property: "og:title",
          content: this.meta_title,
        },
        {
          hid: `og:url`,
          property: "og:url",
          content: this.current_page_url,
        },
        {
          hid: `og:description`,
          property: "og:description",
          content: this.meta_description,
        },
      ],
    };
  },
  async asyncData({ $axios }) {
    let article = await $axios.$get(`articles`);
    let baseUrl = process.env.APP_BASE_URL;
    return {
      articles: article.data.articles,
      current_page_url: baseUrl,
    };
  },
  jsonld() {
    return [
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        name: this.$store.getters.site_name,
        url: process.env.APP_BASE_URL,
      },
    ];
  },
}
</script>