<template>
    <div>
        <JobSearchForm
            :data="explore_data"
            :jobs="jobs"
            :next_page_url="next_page_url"
            :current_page="current_page"
            @update_result="updateResult"
            @next_page_result="nextPageResult"
        />
    </div>
</template>

<script>
import JobSearchForm from "~/components/ExploreJobs/JobSearchForm";
import JobSearchResult from "~/components/ExploreJobs/JobSearchResult";

export default {
    components: {
        JobSearchForm,
        JobSearchResult,
    },
    head() {
        return {
            bodyAttrs: {
                class: "explore-jobs",
            },
            title: `Job Search`,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: `Job search page`,
                },
                {
                    hid: `og:title`,
                    property: "og:title",
                    content: `Job Search`,
                },
                {
                    hid: `og:url`,
                    property: "og:url",
                    content: this.current_page_url,
                },
                {
                    hid: `og:description`,
                    property: "og:description",
                    content: `Job search page`,
                },
            ],
        };
    },
    async asyncData({ $axios, query }) {
        let { data } = await $axios.$get("explore-jobs");

        const baseUrl = process.env.APP_BASE_URL;

        data = {
            ...data,
            keyword: query.keyword !== undefined ? query.keyword : "",
        };

        return {
            explore_data: data,
            current_page_url: `${baseUrl}/explore-jobs`,
        };
    },
    data() {
        return {
            jobs: [],
            next_page_url: null,
            current_page: 0,
        };
    },
    created() {
        if (process.client) {
            const urlParams = new URLSearchParams({
                status: "published",
            }).toString();
            let search_url = `job/search?${urlParams}`;
            if (window.location.search != "") {
                search_url = `job/search${window.location.search}`;
            }

            this.$axios
                .$get(search_url)
                .then((res) => {
                    this.jobs = res.data.jobs;
                    this.next_page_url = res.data.next_page_url;
                    this.current_page = res.data.current_page;
                    this.$job_card.sameHeight({
                        wrapper: ".ej-result",
                        row_mobile: 2,
                        row_tablet: 2,
                        row_notebook: 2,
                        row_desktop: 2,
                    });
                })
                .catch((err) => {
                    console.log(err.response);
                });
        }
    },
    methods: {
        updateResult(data) {
            this.jobs = data.jobs;
            this.next_page_url = data.next_page_url;
            this.current_page = data.current_page;
        },
        nextPageResult(data) {
            this.jobs = this.jobs.concat(data.jobs);
            this.next_page_url = data.next_page_url;
            this.current_page = data.current_page;
        },
    },
};
</script>
