<template>
    <div>
        <NewHomeTop />
        <NewHomeTestimonion
            v-if="home.testimonials !== null"
            :testimonials="home.testimonials"
        />
        <NewHomeClient
            :home_count_1_value="home.home_count_1_value"
            :home_count_1_label="home.home_count_1_label"
            :home_count_2_value="home.home_count_2_value"
            :home_count_2_label="home.home_count_2_label"
            :home_count_3_value="home.home_count_3_value"
            :home_count_3_label="home.home_count_3_label"
            :home_count_4_value="home.home_count_4_value"
            :home_count_4_label="home.home_count_4_label"
        />
        <NewHomeFeturedJob />
        <HomeArticles :articles="home.articles" />
        <SubFooter />
    </div>
</template>

<script>
import NewHomeTop from "~/components/Home/NewHomeTop";
import NewHomeTestimonion from "~/components/Home/NewHomeTestimonion";
import NewHomeFeturedJob from "~/components/Home/NewHomeFeturedJob";
import HomeArticles from "~/components/Home/HomeArticles";
import SubFooter from "~/components/Layout/SubFooter";
import NewHomeClient from "~/components/Home/NewHomeClient";

export default {
    components: {
        NewHomeTop,
        NewHomeTestimonion,
        NewHomeFeturedJob,
        HomeArticles,
        NewHomeClient,
        SubFooter,
    },
    head() {
        return {
            bodyAttrs: {
                class: "homepage",
            },
            title: this.home.meta_title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.home.meta_description,
                },
                {
                    hid: `og:title`,
                    property: "og:title",
                    content: this.home.meta_title,
                },
                {
                    hid: `og:url`,
                    property: "og:url",
                    content: this.current_page_url,
                },
                {
                    hid: `og:description`,
                    property: "og:description",
                    content: this.home.meta_description,
                },
            ],
        };
    },
    async asyncData({ $axios }) {
        let home = await $axios.$get("home");
        let baseUrl = process.env.APP_BASE_URL;

        return {
            home: home.data,
            current_page_url: baseUrl,
        };
    },
    jsonld() {
        return [
            {
                "@context": "https://schema.org/",
                "@type": "WebSite",
                name: this.$store.getters.site_name,
                url: process.env.APP_BASE_URL,
            },
        ];
    },
};
</script>
