<template>
    <div class="container pt-20 pb-20 n-pt-40 n-pb-40">
        <h1 class="h1 section__title section__title--left">
            English Assessment
        </h1>

        <div v-if="completed">
            <h3 class="center">Assessment complete, redirecting...</h3>
            <div class="loading-image">
                <img src="~/assets/images/loading.gif" alt="Loading" />
            </div>
        </div>

        <div v-else class="card relative">
            <div class="card__body">
                <div
                    v-if="!completed"
                    class="timer mb-20"
                    :class="{ danger: timer_danger }"
                >
                    {{ timer }}
                </div>
                <EnglishSession1
                    v-show="
                        session_number == 1 && questions.session_1.length > 0
                    "
                    :questions="questions.session_1"
                    @answer="setSession1Answer"
                    @setTimer="setTimer"
                    @timerStandby="timerStandby"
                    @nextSession="nextSession"
                />

                <EnglishSession2
                    v-show="session_number == 2"
                    :questions="questions.session_2"
                    @dragstart="onDragStart"
                    @answer="setSession2Answer"
                    @setTimer="setTimer"
                    @timerStandby="timerStandby"
                    @nextSession="nextSession"
                />

                <EnglishSession3
                    v-show="session_number == 3"
                    :questions="questions.session_3"
                    @answer="setSession3Answer"
                    @setTimer="setTimer"
                    @timerStandby="timerStandby"
                    @submitTest="submitTest"
                />
            </div>
        </div>
    </div>
</template>

<script>
import EnglishSession1 from "~/components/Assessment/English/EnglishSession1";
import EnglishSession2 from "~/components/Assessment/English/EnglishSession2";
import EnglishSession3 from "~/components/Assessment/English/EnglishSession3";

export default {
    middleware: ["auth"],
    head() {
        return {
            title: this.meta_title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.meta_description,
                },
            ],
        };
    },
    data() {
        return {
            meta_title: "",
            meta_description: "",
            timer: "_ _ : _ _",
            timer_danger: false,
            questions: {
                session_1: [],
                session_2: {},
                session_3: [],
            },
            session_number: 1,
            form: {
                session_1: [],
                session_2: {
                    q_group_no: "",
                    answers: [],
                },
                session_3: [],
            },
            processing: false,
            completed: false,
            draggingItem: undefined,
        };
    },
    components: {
        EnglishSession1,
        EnglishSession2,
        EnglishSession3,
    },
    created() {
        this.$axios
            .$get("account/assessment/english")
            .then((res) => {
                const data = res.data;
                this.meta_title = data.meta_title;
                this.meta_description = data.meta_description;

                data.questions.session_1.forEach((q) => {
                    this.form.session_1.push({
                        question_id: q.id,
                        question_text: q.question,
                        answer_id: "",
                        answer_text: "",
                    });
                });

                this.form.session_2.q_group_no =
                    data.questions.session_2.q_group_no;
                data.questions.session_2.choices.forEach((q) => {
                    this.form.session_2.answers.push("");
                });

                let aq_index = 1;
                data.questions.session_3.forEach((aq) => {
                    let answers = [];
                    aq.questions.forEach((q) => {
                        answers.push({
                            q_no: "",
                            answer: "",
                        });
                    });

                    this.form.session_3.push({
                        q_group_no: aq_index,
                        answers: answers,
                    });
                    aq_index++;
                });

                this.questions = data.questions;
            })
            .catch((err) => {
                if (err.response.status === 403) {
                    this.swalWrong(err.response.data.message);
                    this.$router.push("/account/edit-profile");
                }
            });
    },
    methods: {
        timerStandby() {
            this.timer = "_ _ : _ _";
            this.timer_danger = false;
        },
        setTimer(data) {
            this.timer = data.text;
            this.timer_danger = data.seconds <= 10 ? true : false;
        },
        setSession1Answer(data) {
            const index = data.i;
            const question = data.q;
            const answer = data.ans;

            this.form.session_1[index].question_id = question.id;
            this.form.session_1[index].question_text = question.question;
            this.form.session_1[index].answer_id = answer.id;
            this.form.session_1[index].answer_text = answer.answer;
        },
        onDragStart(answer_number) {
            this.form.session_2.answers[answer_number] = "";
        },
        setSession2Answer(data) {
            this.form.session_2.answers[data.answer_number] = data.text;
        },
        setSession3Answer(data) {
            const audio_index = data.a_index;
            const question_index = data.q_index;
            const answer = data.alp;

            this.form.session_3[audio_index].answers[question_index].q_no =
                question_index + 1;
            this.form.session_3[audio_index].answers[question_index].answer =
                answer;
        },
        nextSession(session_num) {
            this.session_number = session_num;
        },
        submitTest() {
            this.processing = true;
            this.$nuxt.$emit("show-loading-block");

            this.$axios
                .$post("/account/assessment/english", {
                    answers: this.form,
                })
                .then((res) => {
                    this.completed = true;
                    this.$router.push("/account/edit-profile");
                })
                .catch((err) => {
                    this.axiosError(err);
                })
                .finally(() => {
                    this.processing = false;
                    this.$nuxt.$emit("hide-loading-block");
                });
        },
    },
};
</script>

<style lang="scss" scoped>
.timer {
    font-size: 18px;
    padding: 5px 20px;
    background-color: #508bb3;
    color: #ffffff;
    border: 2px solid $color-primary;
    border-radius: $border_radius;
    position: sticky;
    left: 50%;
    top: 90px;
    width: 100px;
    text-align: center;
    transform: translateX(-50%);
    z-index: 9;

    &.danger {
        background-color: #ee8176;
        border: 2px solid $color-danger;
    }
}
</style>
