<template>
    <aside>
        <div class="card card--over-show">
            <div class="card__body">
                <div class="myo__progress">
                    <h2 class="h5 mb-10">Profile Completion</h2>

                    <div
                        :class="`progress-bar progress-bar--${completion.percentage}`"
                    ></div>

                    <div class="myo__progress-list">
                        <ul>
                            <li>
                                <a
                                    href="#myo__basic"
                                    title="Basic Info"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.basic_info,
                                        }"
                                        >Basic Info</span
                                    >
                                    <span
                                        v-if="completion.basic_info"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__about"
                                    title="About Me"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{ completed: completion.about }"
                                        >About Me</span
                                    >
                                    <span
                                        v-if="completion.about"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__experiences"
                                    title="Working Experience"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.experiences,
                                        }"
                                        >Working Experience</span
                                    ><span
                                        v-if="completion.experiences"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__organization-experiences"
                                    title="Organization Experience"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed:
                                                completion.organization_experiences,
                                        }"
                                        >Organization Experience</span
                                    ><span
                                        v-if="
                                            completion.organization_experiences
                                        "
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__educations"
                                    title="Education"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.educations,
                                        }"
                                        >Education</span
                                    ><span
                                        v-if="completion.educations"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__skills"
                                    title="Skills"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.skills,
                                        }"
                                        >Skills</span
                                    ><span
                                        v-if="completion.skills"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__awards"
                                    title="Awards"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.awards,
                                        }"
                                        >Awards</span
                                    ><span
                                        v-if="completion.awards"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__interests"
                                    title="Interest"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.interest,
                                        }"
                                        >Interest</span
                                    ><span
                                        v-if="completion.interest"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__resume"
                                    title="Resume"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.resume,
                                        }"
                                        >Resume</span
                                    ><span
                                        v-if="completion.resume"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__portofolio"
                                    title="Social Passport"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.portofolio,
                                        }"
                                        >Social Passport</span
                                    ><span
                                        v-if="completion.portofolio"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__video"
                                    title="Video"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.video,
                                        }"
                                        >Video</span
                                    ><span
                                        v-if="completion.video"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__english"
                                    title="English Test"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed:
                                                completion.english_assessment,
                                        }"
                                        >English Test</span
                                    ><span
                                        v-if="completion.english_assessment"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__personality"
                                    title="Personality Test"
                                    v-smooth-scroll
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed:
                                                completion.personality_test,
                                        }"
                                        >Personality Test</span
                                    ><span
                                        v-if="completion.personality_test"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</template>

<script>
export default {
    props: {
        user_data: {
            type: Object,
            required: true,
        },
        completion: {
            type: Object,
            required: true,
        },
    },
};
</script>
