<template>
    <div>
        <div
            class="job-card__breadcrumb pt-15 pb-15 t-pt-20 t-pb-20 n-pt-30 n-pb-30 bg-lightgrey"
        >
            <div class="container">
                <nuxt-link to="/" title="Home">Home</nuxt-link> /
                <nuxt-link to="/explore-jobs" title="Jobs">Jobs</nuxt-link> /
                {{ job.title }}
            </div>
        </div>
        <div v-if="back_action != undefined" class="bg-white">
            <div class="job-card__back container pt-15 t-pt-20 n-pt-30">
                <a href="#" title="Kembali" @click.prevent="back_action"
                    ><IconCaretLeft /> <span class="text p3">Back</span></a
                >
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        job: {
            type: Object,
            required: true,
        },
        back_action: {
            type: Function,
        },
    },
};
</script>
