<template>
    <div class="job bg-white pt-15 t-pt-20 n-pt-30">
        <div class="job__details container">
            <div class="row">
                <div class="col-12 t-col-2">
                    <div class="max-200">
                        <img
                            :src="job.company.logo_url"
                            :alt="job.company.name"
                            class="img-fluid"
                        />
                    </div>
                </div>
                <div class="col-12 t-col-10 mb-20 t-mb-0">
                    <div class="row">
                        <div class="col-12 t-col-8 n-col-9 mb-25 n-mb-0">
                            <h1 class="h3 bold-700 job__title mb-10">
                                {{ job.title }}
                            </h1>
                            <div
                                v-if="!job.hide_company"
                                class="job__company-name mb-20"
                            >
                                <nuxt-link
                                    :to="`/company/${job.company.slug}`"
                                    :title="job.company.name"
                                    class="link-black"
                                    >{{ job.company.name }}</nuxt-link
                                >
                            </div>
                            <div class="flex items-center job__point mb-5">
                                <span class="icon-svg mr-10">
                                    <IconMoneyCurrency fill_color="#065489" />
                                </span>
                                <span class="text"
                                    >{{ job.salary_currency }}
                                    {{
                                        job.salary_min | format_number("id-ID")
                                    }}
                                    -
                                    {{
                                        job.salary_max | format_number("id-ID")
                                    }}</span
                                >
                            </div>
                            <div class="flex items-center job__point mb-5">
                                <span class="icon-svg mr-10"
                                    ><IconLocation path_stroke="#065489"
                                /></span>
                                <span class="text">{{ job.city.name }}</span>
                            </div>
                            <div class="flex items-center job__point mb-5">
                                <span class="icon-svg mr-10"
                                    ><IconBuilding2 stroke_color="#065489"
                                /></span>
                                <span class="text">{{
                                    job.job_function.name
                                }}</span>
                            </div>
                            <div class="flex items-center job__point mb-5">
                                <span class="icon-svg mr-10"
                                    ><IconSandClock
                                /></span>
                                <span class="text">{{
                                    job.type.description
                                }}</span>
                            </div>
                            <div class="flex items-center job__point mb-5">
                                <span class="icon-svg mr-10"
                                    ><IconSuitCase
                                /></span>
                                <span class="text">
                                    {{ job.work_experience.description }}
                                </span>
                            </div>
                            <div class="max-400 pt-10 pb-10">
                                <hr />
                            </div>
                            <div class="flex items-center job__point mb-5">
                                <span class="icon-svg mr-10">
                                    <IconDocTick />
                                </span>
                                <span class="text p2 color-primary"
                                    >Actively Hiring</span
                                >
                            </div>
                        </div>
                        <div class="col-12 t-col-4 n-col-3">
                            <div class="flex t-justify-end items-center">
                                <button
                                    type="button"
                                    class="job__bookmark icon-svg mr-20"
                                    @click="bookmark"
                                >
                                    <IconBookmarkSolid v-if="marked" />
                                    <IconBookmark v-else />
                                </button>
                                <button
                                    v-if="
                                        jap.applied &&
                                        jap.status != 'hired' &&
                                        jap.status != 'unsuitable'
                                    "
                                    type="button"
                                    class="btn btn--primary mr-20"
                                    @click="cancelJobApplication"
                                    :disabled="processing"
                                >
                                    <span v-if="processing">Processing...</span>
                                    <span v-else>Cancel Application</span>
                                </button>
                                <button
                                    v-else
                                    type="button"
                                    class="btn btn--primary mr-20"
                                    @click="preApply"
                                >
                                    Apply
                                </button>
                                <ModalTrigger
                                    target="share"
                                    type="link"
                                    class_names="job__share"
                                >
                                    <template slot="content">
                                        <div class="icon-svg">
                                            <IconShare />
                                        </div>
                                    </template>
                                </ModalTrigger>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 t-col-10 t-col-push-2 mt-30">
                    <div class="max-700">
                        <div class="mb-40">
                            <h2 class="h4">About this position</h2>
                            <div class="max-400 pt-10 pb-10">
                                <hr />
                            </div>
                            <div
                                class="job__description"
                                v-html="job.description"
                            ></div>
                        </div>
                        <div class="mb-40">
                            <h2 class="h4">Skill Requirements</h2>
                            <div class="max-400 pt-10 pb-10">
                                <hr />
                            </div>
                            <template v-if="job.must_skills.length">
                                <div class="italic bold-700">Must Have</div>
                                <ul>
                                    <li
                                        v-for="(skill, i) in job.must_skills"
                                        :key="i"
                                    >
                                        {{ skill.name }}
                                    </li>
                                </ul>
                            </template>
                            <template v-if="job.must_skills.length">
                                <div class="italic bold-700">Optional</div>
                                <ul>
                                    <li
                                        v-for="(skill, i) in job.nice_skills"
                                        :key="i"
                                    >
                                        {{ skill.name }}
                                    </li>
                                </ul>
                            </template>
                        </div>
                        <div class="mb-50 t-mb-60 d-mb-80">
                            <h2 class="h4">Salary & Opportunities</h2>
                            <div class="max-400 pt-10 pb-10">
                                <hr />
                            </div>
                            <div class="italic bold-700 mb-10">
                                Primary Salary
                            </div>
                            <div class="italic mb-15">
                                {{ job.salary_currency }}
                                {{ job.salary_min | format_number("id-ID") }}
                                -
                                {{ job.salary_max | format_number("id-ID") }}
                            </div>

                            <template v-if="job.bonus_salary_min > 0">
                                <div class="italic bold-700">Bonus Salary</div>
                                <div class="italic mb-15">
                                    {{ job.salary_currency }}
                                    {{
                                        job.bonus_salary_min
                                            | format_number("id-ID")
                                    }}
                                    -
                                    {{
                                        job.bonus_salary_max
                                            | format_number("id-ID")
                                    }}
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <Modal name="share" title="Share">
            <template slot="body">
                <div class="flex" style="justify-content: center">
                    <a
                        :href="`http://www.facebook.com/sharer.php?u=${current_url}`"
                        target="_blank"
                    >
                        <img
                            src="~/assets/images/facebook.png"
                            alt="facebook-share"
                            class="facebook-share"
                        />
                    </a>
                </div>
            </template>
        </Modal>

        <Modal
            name="apply-job-modal"
            :title="`You are about to apply to ${job.title}`"
            :small="true"
        >
            <template slot="body">
                <div class="mb-10">
                    <label class="cb-container">
                        <span class="p3">I have a cover letter!</span>
                        <input
                            v-model="form.have_cover_letter"
                            type="checkbox"
                        />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div v-if="form.have_cover_letter" class="form__group">
                    <label for="cover-letter-input" class="form__label">
                        Short description about yourself (optional)
                    </label>
                    <textarea
                        id="cover-letter-input"
                        v-model="form.cover_letter"
                        rows="5"
                        class="form__control"
                        :class="{ 'is-invalid': errors.cover_letter }"
                        placeholder="Insert your answers here..."
                    ></textarea>
                    <div v-if="errors.cover_letter" class="invalid-feedback">
                        {{ errors.cover_letter[0] }}
                    </div>
                </div>

                <div v-if="questions.length" class="job__questions-modal">
                    <h3 class="h5 bold-700 text-center mb-25">
                        Pre-screening Questions ({{ job.company.name }})
                    </h3>
                    <div
                        v-for="(q, i) in questions"
                        :key="i"
                        class="form__group"
                    >
                        <label :for="`question-${i}`" class="form__label">{{
                            q.question
                        }}</label>
                        <textarea
                            :id="`question-${i}`"
                            rows="2"
                            class="form__control"
                            :class="{
                                'is-invalid': errors[`answers.${i}.answer`],
                            }"
                            placeholder="Insert your answer here..."
                            v-model="form.answers[i].answer"
                        ></textarea>
                        <div
                            v-if="errors[`answers.${i}.answer`]"
                            class="invalid-feedback"
                        >
                            {{ errors[`answers.${i}.answer`][0] }}
                        </div>
                    </div>
                </div>

                <div class="mb-10">
                    <label class="cb-container">
                        <span class="p3"
                            >I have answered the question by myself</span
                        >
                        <input v-model="answerd_by_myself" type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="mb-20">
                    <label class="cb-container">
                        <span class="p3"
                            >I agree to all the <a href="#">Term</a> and
                            <a href="#">Privacy Policy</a></span
                        >
                        <input v-model="accept_tnc" type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                </div>

                <button
                    type="button"
                    class="btn btn--primary btn--block"
                    @click="applyJob"
                    :disabled="processing || !answerd_by_myself || !accept_tnc"
                >
                    <span v-if="processing">Processing...</span>
                    <span v-else>Submit</span>
                </button>
            </template>
        </Modal>
    </div>
</template>

<script>
import BookmarkMixin from "~/plugins/mixins/bookmark";
import Modal from "~/components/Share/Modal/Modal";
import ModalTrigger from "~/components/Share/Modal/ModalTrigger";
import ModalCloseButton from "~/components/Share/Modal/ModalCloseButton";
import Accordion from "~/components/Share/Accordion";
import IconMoneyCurrency from "~/components/Icon/IconMoneyCurrency";
import IconLocation from "~/components/Icon/IconLocation";
import IconBuilding2 from "~/components/Icon/IconBuilding2";
import IconSandClock from "~/components/Icon/IconSandClock";
import IconSuitCase from "~/components/Icon/IconSuitCase";
import IconShare from "~/components/Icon/IconShare";
import IconBookmark from "~/components/Icon/IconBookmark";
import IconBookmarkSolid from "~/components/Icon/IconBookmarkSolid";

export default {
    mixins: ["BookmarkMixin"],
    props: {
        job: {
            type: Object,
            required: true,
        },
        job_application: {
            type: Object,
            required: true,
        },
    },
    components: {
        Modal,
        ModalTrigger,
        ModalCloseButton,
        Accordion,
        IconMoneyCurrency,
        IconLocation,
        IconBuilding2,
        IconSandClock,
        IconSuitCase,
        IconShare,
        IconBookmark,
        IconBookmarkSolid,
    },
    data() {
        return {
            processing: false,
            current_url: `${process.env.APP_BASE_URL}/job/${this.job.slug}/${this.job.identifier}`,
            answerd_by_myself: false,
            accept_tnc: false,
            questions: [],
            jap: this.job_application,
            form: {
                have_cover_letter: false,
                cover_letter: "",
                has_question: this.job.has_question,
                answers: [],
            },
        };
    },
    created() {
        if (this.authenticated) {
            const bookmark = this.user.bookmarks.filter(
                (bm) => bm.job_id === this.job.id
            );
            if (bookmark.length > 0) {
                this.marked = true;
                this.bookmark_id = bookmark[0].id;
            }
        }
    },
    methods: {
        preApply() {
            if (!this.authenticated) {
                this.swalLoginPlease("You have to login!");
                return;
            }

            if (!this.questions.length && this.job.has_question) {
                this.$axios
                    .$get(
                        `/job/${this.job.slug}/${this.job.identifier}/questions`
                    )
                    .then((res) => {
                        this.questions = res.data.questions;
                        res.data.questions.forEach((q) => {
                            this.form.answers.push({
                                question: q.question,
                                answer: "",
                            });
                        });
                        this.$nuxt.$emit("show-modal", "apply-job-modal");
                    })
                    .catch((err) => {
                        console.log(err.response);
                    });
                return;
            }

            this.$nuxt.$emit("show-modal", "apply-job-modal");
        },
        applyJob() {
            this.processing = true;
            this.$store.dispatch("cover-letter/clearCoverLetter");

            this.$axios
                .$post(
                    `/job/${this.job.slug}/${this.job.identifier}/apply`,
                    this.form
                )
                .then((res) => {
                    if (res.data.hasOwnProperty("redirect_route")) {
                        this.$store.dispatch(
                            "cover-letter/setCoverLetter",
                            this.form.cover_letter
                        );

                        this.$swal({
                            title: "Failed",
                            text: res.message,
                            icon: "warning",
                            showCancelButton: false,
                            confirmButtonText: "Do it!",
                        }).then((result) => {
                            this.$router.push(res.data.redirect_route);
                        });

                        return;
                    }
                    if (res.data.hasOwnProperty("login")) {
                        this.swalLoginPlease(res.message);
                        return;
                    }
                    this.jap = res.data;
                    this.swalSuccess(res.message);
                })
                .catch((err) => {
                    this.axiosError(err);
                })
                .finally(() => {
                    this.processing = false;
                    this.$nuxt.$emit("close-modal", "apply-job-modal");
                });
        },
        cancelJobApplication() {
            this.$swal({
                title: "Cancelkan Lamaran?",
                text: "Anda akan memCancelkan lamaran Job ini.",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Ya, Cancelkan!",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.processing = true;
                    this.$axios
                        .$post(
                            `/job/${this.job.slug}/${this.job.identifier}/cancel-application`
                        )
                        .then((res) => {
                            if (res.data.hasOwnProperty("login")) {
                                this.swalLoginPlease(res.message);
                                return;
                            }
                            this.jap = res.data;
                            this.swalSuccess(res.message);
                        })
                        .catch((err) => {
                            console.log(err.response);
                            this.swalWrong(err.response.data.message);
                        })
                        .finally(() => {
                            this.processing = false;
                        });
                }
            });
        },
    },
};
</script>

<style scoped>
.facebook-share {
    width: 4rem;
}
</style>
