<template>
    <svg
        width="27"
        height="27"
        viewBox="0 0 27 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M3 3L13.5 13.5M24 24L13.5 13.5M13.5 13.5L3 24L24 3"
            :stroke="path_stroke_color"
            stroke-width="5"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_stroke_color: {
            type: String,
            default: "black",
        },
    },
};
</script>
