<template>
    <svg
        width="26"
        height="29"
        viewBox="0 0 26 29"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M8.125 3.22529C7.69402 3.22529 7.2807 3.39499 6.97595 3.69705C6.67121 3.99911 6.5 4.40879 6.5 4.83596C6.5 5.26314 6.67121 5.67282 6.97595 5.97488C7.2807 6.27694 7.69402 6.44664 8.125 6.44664C8.55598 6.44664 8.9693 6.27694 9.27405 5.97488C9.57879 5.67282 9.75 5.26314 9.75 4.83596C9.75 4.40879 9.57879 3.99911 9.27405 3.69705C8.9693 3.39499 8.55598 3.22529 8.125 3.22529ZM3.52625 3.22529C3.86198 2.28219 4.48458 1.46553 5.30822 0.887867C6.13187 0.310209 7.11602 0 8.125 0C9.13398 0 10.1181 0.310209 10.9418 0.887867C11.7654 1.46553 12.388 2.28219 12.7238 3.22529H24.375C24.806 3.22529 25.2193 3.39499 25.524 3.69705C25.8288 3.99911 26 4.40879 26 4.83596C26 5.26314 25.8288 5.67282 25.524 5.97488C25.2193 6.27694 24.806 6.44664 24.375 6.44664H12.7238C12.388 7.38974 11.7654 8.2064 10.9418 8.78406C10.1181 9.36172 9.13398 9.67193 8.125 9.67193C7.11602 9.67193 6.13187 9.36172 5.30822 8.78406C4.48458 8.2064 3.86198 7.38974 3.52625 6.44664H1.625C1.19402 6.44664 0.780698 6.27694 0.475952 5.97488C0.171205 5.67282 0 5.26314 0 4.83596C0 4.40879 0.171205 3.99911 0.475952 3.69705C0.780698 3.39499 1.19402 3.22529 1.625 3.22529H3.52625ZM17.875 12.8893C17.444 12.8893 17.0307 13.059 16.726 13.3611C16.4212 13.6631 16.25 14.0728 16.25 14.5C16.25 14.9272 16.4212 15.3369 16.726 15.6389C17.0307 15.941 17.444 16.1107 17.875 16.1107C18.306 16.1107 18.7193 15.941 19.024 15.6389C19.3288 15.3369 19.5 14.9272 19.5 14.5C19.5 14.0728 19.3288 13.6631 19.024 13.3611C18.7193 13.059 18.306 12.8893 17.875 12.8893ZM13.2762 12.8893C13.612 11.9462 14.2346 11.1296 15.0582 10.5519C15.8819 9.97424 16.866 9.66403 17.875 9.66403C18.884 9.66403 19.8681 9.97424 20.6918 10.5519C21.5154 11.1296 22.138 11.9462 22.4737 12.8893H24.375C24.806 12.8893 25.2193 13.059 25.524 13.3611C25.8288 13.6631 26 14.0728 26 14.5C26 14.9272 25.8288 15.3369 25.524 15.6389C25.2193 15.941 24.806 16.1107 24.375 16.1107H22.4737C22.138 17.0538 21.5154 17.8704 20.6918 18.4481C19.8681 19.0258 18.884 19.336 17.875 19.336C16.866 19.336 15.8819 19.0258 15.0582 18.4481C14.2346 17.8704 13.612 17.0538 13.2762 16.1107H1.625C1.19402 16.1107 0.780698 15.941 0.475952 15.6389C0.171205 15.3369 0 14.9272 0 14.5C0 14.0728 0.171205 13.6631 0.475952 13.3611C0.780698 13.059 1.19402 12.8893 1.625 12.8893H13.2762ZM8.125 22.5534C7.69402 22.5534 7.2807 22.7231 6.97595 23.0251C6.67121 23.3272 6.5 23.7369 6.5 24.164C6.5 24.5912 6.67121 25.0009 6.97595 25.303C7.2807 25.605 7.69402 25.7747 8.125 25.7747C8.55598 25.7747 8.9693 25.605 9.27405 25.303C9.57879 25.0009 9.75 24.5912 9.75 24.164C9.75 23.7369 9.57879 23.3272 9.27405 23.0251C8.9693 22.7231 8.55598 22.5534 8.125 22.5534ZM3.52625 22.5534C3.86198 21.6103 4.48458 20.7936 5.30822 20.2159C6.13187 19.6383 7.11602 19.3281 8.125 19.3281C9.13398 19.3281 10.1181 19.6383 10.9418 20.2159C11.7654 20.7936 12.388 21.6103 12.7238 22.5534H24.375C24.806 22.5534 25.2193 22.7231 25.524 23.0251C25.8288 23.3272 26 23.7369 26 24.164C26 24.5912 25.8288 25.0009 25.524 25.303C25.2193 25.605 24.806 25.7747 24.375 25.7747H12.7238C12.388 26.7178 11.7654 27.5345 10.9418 28.1121C10.1181 28.6898 9.13398 29 8.125 29C7.11602 29 6.13187 28.6898 5.30822 28.1121C4.48458 27.5345 3.86198 26.7178 3.52625 25.7747H1.625C1.19402 25.7747 0.780698 25.605 0.475952 25.303C0.171205 25.0009 0 24.5912 0 24.164C0 23.7369 0.171205 23.3272 0.475952 23.0251C0.780698 22.7231 1.19402 22.5534 1.625 22.5534H3.52625Z"
            :fill="fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>