<template>
    <svg
        width="15"
        height="16"
        viewBox="0 0 15 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M6.54167 14.2219H9.70833M13.6667 14.2219V2.88859C13.6667 2.51287 13.4999 2.15253 13.2029 1.88686C12.906 1.62118 12.5033 1.47192 12.0833 1.47192H4.16667C3.74674 1.47192 3.34401 1.62118 3.04708 1.88686C2.75015 2.15253 2.58333 2.51287 2.58333 2.88859V14.2219H13.6667ZM13.6667 14.2219H15.25H13.6667ZM13.6667 14.2219H9.70833H13.6667ZM2.58333 14.2219H1H2.58333ZM2.58333 14.2219H6.54167H2.58333ZM5.75 4.30526H6.54167H5.75ZM5.75 7.13859H6.54167H5.75ZM9.70833 4.30526H10.5H9.70833ZM9.70833 7.13859H10.5H9.70833ZM6.54167 14.2219V10.6803C6.54167 10.4924 6.62507 10.3122 6.77354 10.1794C6.92201 10.0466 7.12337 9.97192 7.33333 9.97192H8.91667C9.12663 9.97192 9.32799 10.0466 9.47646 10.1794C9.62493 10.3122 9.70833 10.4924 9.70833 10.6803V14.2219H6.54167Z"
            :stroke="stroke_color"
            stroke-opacity="0.7"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</template>

<script>
export default {
    props: {
        stroke_color: {
            type: String,
            default: "white",
        },
    },
};
</script>
