<template>
    <svg
        width="9"
        height="14"
        viewBox="0 0 9 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.58586 7.00001L0.292969 1.70712L1.70718 0.292908L8.41429 7.00001L1.70718 13.7071L0.292969 12.2929L5.58586 7.00001Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>
