<template>
    <svg
        width="21"
        height="19"
        viewBox="0 0 21 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M20.8 17.1999V1.5999C20.8 0.939902 20.26 0.399902 19.6 0.399902H1.60002C0.940024 0.399902 0.400024 0.939902 0.400024 1.5999V17.1999C0.400024 17.8599 0.940024 18.3999 1.60002 18.3999H19.6C20.26 18.3999 20.8 17.8599 20.8 17.1999ZM2.80002 2.7999H18.4V7.5999H2.80002V2.7999ZM4.00002 3.9999V6.3999H7.60002V3.9999H4.00002ZM8.80002 3.9999V6.3999H12.4V3.9999H8.80002ZM13.6 3.9999V6.3999H17.2V3.9999H13.6ZM3.40002 9.9999C3.73602 9.9999 4.00002 10.2639 4.00002 10.5999C4.00002 10.9359 3.73602 11.1999 3.40002 11.1999C3.06402 11.1999 2.80002 10.9359 2.80002 10.5999C2.80002 10.2639 3.06402 9.9999 3.40002 9.9999ZM5.20002 9.9999H10V11.1999H5.20002V9.9999ZM12.4 9.9999H18.4V15.9999H12.4V9.9999ZM3.40002 12.3999C3.73602 12.3999 4.00002 12.6639 4.00002 12.9999C4.00002 13.3359 3.73602 13.5999 3.40002 13.5999C3.06402 13.5999 2.80002 13.3359 2.80002 12.9999C2.80002 12.6639 3.06402 12.3999 3.40002 12.3999ZM5.20002 12.3999H10V13.5999H5.20002V12.3999ZM13.6 12.3999V14.7999H17.2V12.3999H13.6ZM3.40002 14.7999C3.73602 14.7999 4.00002 15.0639 4.00002 15.3999C4.00002 15.7359 3.73602 15.9999 3.40002 15.9999C3.06402 15.9999 2.80002 15.7359 2.80002 15.3999C2.80002 15.0639 3.06402 14.7999 3.40002 14.7999ZM5.20002 14.7999H10V15.9999H5.20002V14.7999Z"
            :fill="fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        fill_color: {
            type: String,
            default: "#16568B",
        },
    },
};
</script>