<template>
    <svg
        width="44"
        height="44"
        viewBox="0 0 44 44"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g clip-path="url(#clip0_2219_9721)">
            <path
                d="M22 0C16.1652 0 10.5695 2.31785 6.44365 6.44365C2.31785 10.5695 0 16.1652 0 22C0 27.8348 2.31785 33.4306 6.44365 37.5564C10.5695 41.6822 16.1652 44 22 44C27.8348 44 33.4306 41.6822 37.5564 37.5564C41.6822 33.4306 44 27.8348 44 22C44 16.1652 41.6822 10.5695 37.5564 6.44365C33.4306 2.31785 27.8348 0 22 0V0ZM31.625 20.625C31.9897 20.625 32.3394 20.7699 32.5973 21.0277C32.8551 21.2856 33 21.6353 33 22C33 22.3647 32.8551 22.7144 32.5973 22.9723C32.3394 23.2301 31.9897 23.375 31.625 23.375H15.6942L21.5985 29.2765C21.7263 29.4043 21.8278 29.5561 21.8969 29.7231C21.9661 29.8902 22.0017 30.0692 22.0017 30.25C22.0017 30.4308 21.9661 30.6098 21.8969 30.7769C21.8278 30.9439 21.7263 31.0957 21.5985 31.2235C21.4707 31.3513 21.3189 31.4528 21.1519 31.5219C20.9848 31.5911 20.8058 31.6267 20.625 31.6267C20.4442 31.6267 20.2652 31.5911 20.0981 31.5219C19.9311 31.4528 19.7793 31.3513 19.6515 31.2235L11.4015 22.9735C11.2735 22.8458 11.1719 22.694 11.1025 22.527C11.0332 22.3599 10.9975 22.1809 10.9975 22C10.9975 21.8191 11.0332 21.6401 11.1025 21.473C11.1719 21.306 11.2735 21.1542 11.4015 21.0265L19.6515 12.7765C19.9097 12.5183 20.2599 12.3733 20.625 12.3733C20.9901 12.3733 21.3403 12.5183 21.5985 12.7765C21.8567 13.0347 22.0017 13.3849 22.0017 13.75C22.0017 14.1151 21.8567 14.4653 21.5985 14.7235L15.6942 20.625H31.625Z"
                :fill="path_fill_color"
            />
        </g>
        <defs>
            <clipPath id="clip0_2219_9721">
                <rect width="44" height="44" fill="white" />
            </clipPath>
        </defs>
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>
