<template>
    <svg
        width="18"
        height="17"
        viewBox="0 0 18 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M17.3837 6.24133L12.2437 5.48459L9.94598 0.765743C9.88322 0.636543 9.77997 0.531953 9.65243 0.468379C9.33258 0.308418 8.94389 0.441719 8.78396 0.765743L6.48624 5.48459L1.34625 6.24133C1.20454 6.26184 1.07497 6.32951 0.975778 6.43205C0.855855 6.55692 0.789772 6.7249 0.792049 6.8991C0.794327 7.0733 0.864779 7.23945 0.987924 7.36106L4.70678 11.034L3.82818 16.2204C3.80758 16.3411 3.82076 16.4652 3.86623 16.5786C3.91169 16.6921 3.98763 16.7903 4.08542 16.8623C4.18322 16.9342 4.29896 16.977 4.41951 16.9857C4.54007 16.9944 4.66063 16.9687 4.76751 16.9115L9.36497 14.4629L13.9624 16.9115C14.0879 16.9792 14.2337 17.0018 14.3734 16.9772C14.7256 16.9156 14.9625 16.5773 14.9018 16.2204L14.0232 11.034L17.742 7.36106C17.8432 7.26057 17.91 7.12932 17.9303 6.98576C17.9849 6.62688 17.738 6.29465 17.3837 6.24133Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#FFC700",
        },
    },
};
</script>
