<template>
    <svg
        width="10"
        height="14"
        viewBox="0 0 10 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M9.25975 5.6599C9.25975 8.42657 6.55975 11.7532 5.45975 12.9932C5.21308 13.2666 4.78641 13.2666 4.53975 12.9932C3.43975 11.7532 0.739746 8.42657 0.739746 5.6599C0.739746 3.30657 2.64641 1.3999 4.99975 1.3999C7.35308 1.3999 9.25975 3.30657 9.25975 5.6599Z"
            :stroke="path_stroke"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
        <path
            d="M4.9928 7.36646C5.93537 7.36646 6.69947 6.60236 6.69947 5.65979C6.69947 4.71723 5.93537 3.95312 4.9928 3.95312C4.05023 3.95312 3.28613 4.71723 3.28613 5.65979C3.28613 6.60236 4.05023 7.36646 4.9928 7.36646Z"
            :stroke="path_stroke"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_stroke: {
            type: String,
            default: "#969696",
        },
    },
};
</script>
