<template>
    <svg
        width="15"
        height="14"
        viewBox="0 0 15 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M10.1348 2.5617V3.0617H10.6348H13.125C13.5262 3.0617 13.8425 3.19229 14.1064 3.45333C14.3634 3.70756 14.5 4.03177 14.5 4.46809V7C14.5 7.06272 14.4928 7.09772 14.4874 7.11483C14.4713 7.11954 14.4398 7.12553 14.3848 7.12553H13.8848V7.62553V12.7191C13.8848 12.9154 13.8167 13.09 13.6474 13.2622C13.4781 13.4343 13.3102 13.5 13.125 13.5H1.875C1.68985 13.5 1.52188 13.4343 1.35257 13.2622C1.18327 13.09 1.11523 12.9154 1.11523 12.7191V7.62553V7.12553H0.615234C0.56021 7.12553 0.528655 7.11954 0.512567 7.11483C0.507231 7.09772 0.5 7.06272 0.5 7V4.46809C0.5 4.03177 0.636645 3.70756 0.893631 3.45333C1.15751 3.19229 1.47382 3.0617 1.875 3.0617H4.36523H4.86523V2.5617V1.90638C4.86523 1.49547 4.99842 1.17139 5.2637 0.901671C5.52859 0.632346 5.84341 0.5 6.24023 0.5H8.75977C9.15658 0.5 9.47141 0.632346 9.7363 0.901671C10.0016 1.17139 10.1348 1.49547 10.1348 1.90638V2.5617ZM14.4818 7.12847C14.4818 7.12843 14.4821 7.12774 14.483 7.1265C14.4823 7.12789 14.4819 7.1285 14.4818 7.12847ZM14.4987 7.11077C14.5004 7.10965 14.5014 7.10921 14.5014 7.10927C14.5015 7.10933 14.5007 7.10989 14.4987 7.11077ZM0.498579 7.10927C0.498645 7.10921 0.499604 7.10965 0.501254 7.11077C0.499337 7.10989 0.498512 7.10933 0.498579 7.10927ZM0.517018 7.12651C0.517854 7.12773 0.518196 7.12843 0.518159 7.12847C0.518121 7.12851 0.517704 7.12789 0.517018 7.12651ZM9.375 3.0617H9.875V2.5617V1.90638C9.875 1.60655 9.77168 1.32857 9.55569 1.10897C9.33921 0.888864 9.06185 0.780851 8.75977 0.780851H6.24023C5.93815 0.780851 5.66079 0.888864 5.44431 1.10897C5.22832 1.32857 5.125 1.60655 5.125 1.90638V2.5617V3.0617H5.625H9.375ZM1.375 12.7191V13.2191H1.875H13.125H13.625V12.7191V7.62553V7.12553H13.125H9.375H8.875V7.62553V9.53192C8.875 9.76209 8.80177 9.93786 8.65231 10.0898C8.5032 10.2414 8.33422 10.3128 8.11523 10.3128H6.88477C6.66578 10.3128 6.4968 10.2414 6.34769 10.0898C6.19823 9.93786 6.125 9.76209 6.125 9.53192V7.62553V7.12553H5.625H1.875H1.375V7.62553V12.7191ZM6.38477 9.53192V10.0319H6.88477H8.11523H8.61523V9.53192V7.62553V7.12553H8.11523H6.88477H6.38477V7.62553V9.53192ZM13.7402 6.87447H14.2402V6.37447V4.46809C14.2402 4.18015 14.1733 3.87117 13.951 3.63437C13.7231 3.39163 13.4155 3.31277 13.125 3.31277H1.875C1.58449 3.31277 1.27693 3.39163 1.04905 3.63437C0.826732 3.87117 0.759766 4.18015 0.759766 4.46809V6.37447V6.87447H1.25977H13.7402Z"
            fill="white"
            :stroke="stroke_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        stroke_color: {
            type: String,
            default: "black",
        },
    },
};
</script>
