<template>
    <svg
        width="12"
        height="25"
        viewBox="0 0 12 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M3.06332 25V13.2693H0V9.04565H3.06332V5.43813C3.06332 2.6033 4.87284 0 9.04235 0C10.7305 0 11.9788 0.163875 11.9788 0.163875L11.8805 4.10803C11.8805 4.10803 10.6074 4.09548 9.21814 4.09548C7.71455 4.09548 7.47365 4.7971 7.47365 5.96163V9.04565H12L11.8031 13.2693H7.47365V25H3.06332Z"
            fill="white"
        />
    </svg>
</template>
