<template>
    <svg
        width="15"
        height="20"
        viewBox="0 0 15 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M10.151 0.399902L14.9058 5.1999V19.5999H0.641602V0.399902H10.151ZM1.83028 1.5999V2.7999H8.96236V1.5999H1.83028ZM10.151 5.1999H13.7171L10.151 1.5999V5.1999ZM1.83028 3.9999V5.1999H8.96236V3.9999H1.83028ZM13.7171 7.5999V6.3999H1.83028V7.5999H13.7171ZM1.83028 8.7999V9.9999H6.585V8.7999H1.83028ZM13.7171 12.3999V8.7999H7.77368V12.3999H13.7171ZM1.83028 11.1999V12.3999H6.585V11.1999H1.83028ZM13.7171 14.7999V13.5999H1.83028V14.7999H13.7171ZM10.151 17.1999V15.9999H1.83028V17.1999H10.151Z"
            fill="#16568B"
        />
    </svg>
</template>