<template>
    <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM7 12.8125C3.79063 12.8125 1.1875 10.2094 1.1875 7C1.1875 3.79063 3.79063 1.1875 7 1.1875C10.2094 1.1875 12.8125 3.79063 12.8125 7C12.8125 10.2094 10.2094 12.8125 7 12.8125Z"
            fill="#969696"
        />
        <path
            d="M9.72969 8.97812L7.50156 7.36719V3.5C7.50156 3.43125 7.44531 3.375 7.37656 3.375H6.625C6.55625 3.375 6.5 3.43125 6.5 3.5V7.80313C6.5 7.84375 6.51875 7.88125 6.55156 7.90469L9.13594 9.78906C9.19219 9.82969 9.27031 9.81719 9.31094 9.7625L9.75781 9.15312C9.79844 9.09531 9.78594 9.01719 9.72969 8.97812Z"
            fill="#969696"
        />
    </svg>
</template>

