<template>
    <svg
        width="20"
        height="19"
        viewBox="0 0 20 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M13.2 12.768L14.604 5.64C15.552 5.124 16.2 4.14 16.2 3C16.2 2.20435 15.8839 1.44129 15.3213 0.87868C14.7587 0.31607 13.9956 0 13.2 0C12.4043 0 11.6413 0.31607 11.0787 0.87868C10.5161 1.44129 10.2 2.20435 10.2 3C10.2 4.14 10.848 5.124 11.796 5.64L13.2 12.768ZM13.2 1.2C14.196 1.2 15 2.004 15 3C15 3.996 14.196 4.8 13.2 4.8C12.204 4.8 11.4 3.996 11.4 3C11.4 2.004 12.204 1.2 13.2 1.2ZM15.264 6.96L19.2 5.364V16.164L13.344 18.6L6 16.164L0 18.564V7.764L6 5.364L11.124 7.056L13.2 15.816L15.264 6.96Z"
            :fill="fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        fill_color: {
            type: String,
            default: "#16568B",
        },
    },
};
</script>