<template>
    <svg
        width="10"
        height="17"
        viewBox="0 0 10 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M7.26418 7.76567L3.51338 6.77817C3.07926 6.66567 2.77711 6.30005 2.77711 5.8938C2.77711 5.38442 3.23554 4.97192 3.80164 4.97192H6.10421C6.52792 4.97192 6.94467 5.08755 7.29197 5.30005C7.50382 5.42817 7.7886 5.39692 7.9692 5.23755L9.17779 4.17505C9.42437 3.95942 9.38964 3.60005 9.11528 3.40942C8.2644 2.80942 7.20167 2.47505 6.11116 2.47192V0.971924C6.11116 0.696924 5.8611 0.471924 5.55548 0.471924H4.44413C4.13851 0.471924 3.88846 0.696924 3.88846 0.971924V2.47192H3.80164C1.58935 2.47192 -0.188806 4.1813 0.0160996 6.20942C0.161964 7.65005 1.38445 8.82192 2.92645 9.22817L6.48624 10.1657C6.92036 10.2813 7.22251 10.6438 7.22251 11.05C7.22251 11.5594 6.76408 11.9719 6.19798 11.9719H3.89541C3.4717 11.9719 3.05495 11.8563 2.70765 11.6438C2.4958 11.5157 2.21102 11.5469 2.03042 11.7063L0.821828 12.7688C0.575247 12.9844 0.609977 13.3438 0.884342 13.5344C1.73522 14.1344 2.79795 14.4688 3.88846 14.4719V15.9719C3.88846 16.2469 4.13851 16.4719 4.44413 16.4719H5.55548C5.8611 16.4719 6.11116 16.2469 6.11116 15.9719V14.4657C7.72956 14.4375 9.24725 13.5719 9.78209 12.1938C10.5288 10.2688 9.27503 8.2938 7.26418 7.76567Z"
            :fill="fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        fill_color: {
            type: String,
            default: "#1C9508",
        },
    },
};
</script>
