<template>
    <svg
        width="35"
        height="32"
        viewBox="0 0 35 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M34.0784 14.5133C34.4616 14.2332 34.7458 13.8425 34.8912 13.396C35.0366 12.9494 35.036 12.4694 34.8893 12.0232C34.7427 11.577 34.4574 11.1871 34.0734 10.908C33.6895 10.6289 33.2262 10.4748 32.7485 10.4671L23.47 10.1232C23.4244 10.1201 23.3806 10.1041 23.3441 10.0772C23.3075 10.0503 23.2796 10.0136 23.2638 9.97146L20.0576 1.47448C19.8965 1.04219 19.6039 0.668903 19.2194 0.405172C18.835 0.141441 18.3772 0 17.9081 0C17.439 0 16.9812 0.141441 16.5967 0.405172C16.2122 0.668903 15.9197 1.04219 15.7586 1.47448L12.5626 10.0018C12.5468 10.0439 12.519 10.0806 12.4824 10.1076C12.4458 10.1345 12.4021 10.1504 12.3565 10.1535L3.07798 10.4975C2.60024 10.5051 2.13693 10.6593 1.753 10.9383C1.36908 11.2174 1.08378 11.6074 0.937133 12.0535C0.790481 12.4997 0.789823 12.9797 0.935251 13.4263C1.08068 13.8729 1.3649 14.2636 1.74806 14.5436L9.02651 20.1577C9.06294 20.1858 9.09016 20.2238 9.10482 20.267C9.11948 20.3101 9.12093 20.3565 9.10898 20.4005L6.6038 29.1099C6.47398 29.5534 6.48656 30.0254 6.63982 30.4616C6.79308 30.8979 7.07958 31.2772 7.46035 31.548C7.84112 31.8188 8.29768 31.9679 8.7679 31.9751C9.23813 31.9823 9.69919 31.8472 10.0884 31.5882L17.7792 26.5304C17.8171 26.5048 17.862 26.491 17.9081 26.491C17.9541 26.491 17.9991 26.5048 18.0369 26.5304L25.7278 31.5882C26.1117 31.8561 26.5711 32 27.0422 32C27.5133 32 27.9727 31.8561 28.3567 31.5882C28.7375 31.3199 29.0243 30.9424 29.1775 30.5077C29.3308 30.0729 29.3429 29.6023 29.2123 29.1605L26.6865 20.4207C26.6732 20.3768 26.6739 20.33 26.6887 20.2865C26.7034 20.2431 26.7315 20.2052 26.769 20.1779L34.0784 14.5133Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#C4C4C4",
        },
    },
};
</script>
