<template>
    <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M19.5999 19.5999V0.399902H14.7999V19.5999H19.5999ZM12.3999 19.5999V6.3999H7.5999V19.5999H12.3999ZM5.1999 19.5999V9.9999H0.399902V19.5999H5.1999Z"
            fill="#16568B"
        />
    </svg>
</template>