<template>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
    >
        <path
            :fill="path_fill_color"
            d="M0 3v18h24v-18h-24zm21.518 2l-9.518 7.713-9.518-7.713h19.036zm-19.518 14v-11.817l10 8.104 10-8.104v11.817h-20z"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#000000",
        },
    },
};
</script>
