<template>
    <svg
        width="19"
        height="15"
        viewBox="0 0 19 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M10.9667 6.16665L6.8 3.19165C6.21667 2.77498 5.44167 2.77498 4.86667 3.19165L0.7 6.16665C0.258333 6.48332 0 6.98332 0 7.52498V14.1666C0 14.625 0.375 15 0.833333 15H4.16667V9.99998H7.5V15H10.8333C11.2917 15 11.6667 14.625 11.6667 14.1666V7.52498C11.6667 6.98332 11.4083 6.48332 10.9667 6.16665Z"
            :fill="path_fill_color"
        />
        <path
            d="M16.6917 0H9.14167C8.23333 0 7.5 0.733333 7.5 1.64167L7.575 1.71667C7.64167 1.75833 7.70833 1.79167 7.775 1.83333L11.9417 4.80833C12.575 5.25833 13.025 5.925 13.225 6.66667H15V8.33333H13.3333V10H15V11.6667H13.3333V15H16.6917C17.6 15 18.3333 14.2667 18.3333 13.3583V1.64167C18.3333 0.733333 17.6 0 16.6917 0ZM15 5H13.3333V3.33333H15V5Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>
