<template>
    <svg
        width="14"
        height="15"
        viewBox="0 0 14 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M7 0.471924C7.92826 0.471924 8.8185 0.840673 9.47487 1.49705C10.1313 2.15343 10.5 3.04367 10.5 3.97192C10.5 4.90018 10.1313 5.79042 9.47487 6.4468C8.8185 7.10318 7.92826 7.47192 7 7.47192C6.07174 7.47192 5.1815 7.10318 4.52513 6.4468C3.86875 5.79042 3.5 4.90018 3.5 3.97192C3.5 3.04367 3.86875 2.15343 4.52513 1.49705C5.1815 0.840673 6.07174 0.471924 7 0.471924ZM7 9.22192C10.8675 9.22192 14 10.7882 14 12.7219V14.4719H0V12.7219C0 10.7882 3.1325 9.22192 7 9.22192Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>
