<template>
    <svg
        width="19"
        height="19"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M8.59066 15.871C12.6116 15.871 15.8713 12.6114 15.8713 8.59042C15.8713 4.56945 12.6116 1.30981 8.59066 1.30981C4.5697 1.30981 1.31006 4.56945 1.31006 8.59042C1.31006 12.6114 4.5697 15.871 8.59066 15.871Z"
            stroke="#16568B"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
        <path
            d="M13.7427 13.7422L18.0004 18"
            stroke="#16568B"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</template>