<template>
    <svg
        width="22"
        height="25"
        viewBox="0 0 22 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M19.8 0.179321H2.2C0.99 0.179321 0.011 1.25808 0.011 2.57656L0 24.1517L4.4 19.3573H19.8C21.01 19.3573 22 18.2785 22 16.96V2.57656C22 1.25808 21.01 0.179321 19.8 0.179321ZM4.4 14.5628V11.6022L11.968 3.35567C12.188 3.11594 12.529 3.11594 12.749 3.35567L14.696 5.47723C14.916 5.71695 14.916 6.08852 14.696 6.32825L7.117 14.5628H4.4ZM17.6 14.5628H9.35L11.55 12.1655H17.6V14.5628Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>
