<template>
    <svg
        width="7"
        height="13"
        viewBox="0 0 7 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M6.75968 0.254416C6.68401 0.17377 6.59412 0.109786 6.49515 0.0661288C6.39618 0.0224719 6.29008 0 6.18293 0C6.07578 0 5.96968 0.0224719 5.87071 0.0661288C5.77174 0.109786 5.68185 0.17377 5.60618 0.254416L0.190585 6.01149C0.13017 6.07558 0.0822396 6.15171 0.0495365 6.23552C0.0168334 6.31933 0 6.40917 0 6.49991C0 6.59064 0.0168334 6.68048 0.0495365 6.76429C0.0822396 6.8481 0.13017 6.92423 0.190585 6.98832L5.60618 12.7454C5.92551 13.0849 6.44035 13.0849 6.75968 12.7454C7.07901 12.4059 7.07901 11.8586 6.75968 11.5192L2.0414 6.49644L6.7662 1.47372C7.07901 1.14119 7.07901 0.586955 6.75968 0.254416Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>
