<template>
    <svg
        width="44"
        height="44"
        viewBox="0 0 44 44"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M22 0C27.8348 0 33.4306 2.31785 37.5564 6.44365C41.6822 10.5695 44 16.1652 44 22C44 27.8348 41.6822 33.4306 37.5564 37.5564C33.4306 41.6822 27.8348 44 22 44C16.1652 44 10.5695 41.6822 6.44365 37.5564C2.31785 33.4306 0 27.8348 0 22C0 16.1652 2.31785 10.5695 6.44365 6.44365C10.5695 2.31785 16.1652 0 22 0V0ZM12.375 20.625C12.0103 20.625 11.6606 20.7699 11.4027 21.0277C11.1449 21.2856 11 21.6353 11 22C11 22.3647 11.1449 22.7144 11.4027 22.9723C11.6606 23.2301 12.0103 23.375 12.375 23.375H28.3058L22.4015 29.2765C22.2737 29.4043 22.1722 29.5561 22.1031 29.7231C22.0339 29.8902 21.9983 30.0692 21.9983 30.25C21.9983 30.4308 22.0339 30.6098 22.1031 30.7769C22.1722 30.9439 22.2737 31.0957 22.4015 31.2235C22.5293 31.3513 22.6811 31.4528 22.8481 31.5219C23.0152 31.5911 23.1942 31.6267 23.375 31.6267C23.5558 31.6267 23.7348 31.5911 23.9019 31.5219C24.0689 31.4528 24.2207 31.3513 24.3485 31.2235L32.5985 22.9735C32.7265 22.8458 32.8281 22.694 32.8975 22.527C32.9668 22.3599 33.0025 22.1809 33.0025 22C33.0025 21.8191 32.9668 21.6401 32.8975 21.473C32.8281 21.306 32.7265 21.1542 32.5985 21.0265L24.3485 12.7765C24.2207 12.6487 24.0689 12.5472 23.9019 12.4781C23.7348 12.4089 23.5558 12.3733 23.375 12.3733C23.1942 12.3733 23.0152 12.4089 22.8481 12.4781C22.6811 12.5472 22.5293 12.6487 22.4015 12.7765C22.2737 12.9043 22.1722 13.0561 22.1031 13.2231C22.0339 13.3902 21.9983 13.5692 21.9983 13.75C21.9983 13.9308 22.0339 14.1098 22.1031 14.2769C22.1722 14.4439 22.2737 14.5957 22.4015 14.7235L28.3058 20.625H12.375Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>
