<template>
    <svg
        width="9"
        height="15"
        viewBox="0 0 9 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0.5 4.29289V0.5H8.5V4.29289L5.64645 7.14645L5.29289 7.5L5.64645 7.85355L8.5 10.7071V14.5H0.5V10.7071L3.35355 7.85355L3.70711 7.5L3.35355 7.14645L0.5 4.29289Z"
            :stroke="stroke_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        stroke_color: {
            type: String,
            default: "black",
        },
    },
};
</script>
