<template>
    <svg
        width="23"
        height="21"
        viewBox="0 0 23 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M19.5971 17.8933H16.1892V13.0204C16.1892 11.8584 16.1665 10.3626 14.4168 10.3626C12.6418 10.3626 12.3702 11.6286 12.3702 12.9358V17.8929H8.96245V7.87234H12.2339V9.24177H12.2798C12.6072 8.73064 13.0803 8.31015 13.6487 8.0251C14.2171 7.74004 14.8596 7.60109 15.5077 7.62305C18.9617 7.62305 19.5985 9.69745 19.5985 12.3961L19.5971 17.8933ZM5.11714 6.50267C4.02491 6.50283 3.13932 5.6945 3.13914 4.69724C3.13896 3.69999 4.02419 2.89141 5.11642 2.89124C6.20865 2.891 7.09424 3.69933 7.09442 4.69659C7.09452 5.17549 6.88625 5.63481 6.51544 5.97351C6.14463 6.31222 5.64165 6.50256 5.11714 6.50267ZM6.82112 17.8934H3.40966V7.87234H6.82103L6.82112 17.8934ZM21.296 0.0015284H1.69724C0.770949 -0.00798722 0.0113203 0.669509 0 1.51525V19.4844C0.0109609 20.3306 0.7705 21.0087 1.69715 20.9999H21.296C22.2246 21.0104 22.9872 20.3322 23 19.4844V1.51386C22.9868 0.666473 22.2242 -0.0109403 21.296 0.000133866"
            fill="white"
        />
    </svg>
</template>
