<template>
    <svg
        width="40"
        height="41"
        viewBox="0 0 40 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M32.0312 25.625C36.285 25.625 39.7188 29.0588 39.7188 33.3125C39.7188 37.5662 36.285 41 32.0312 41C27.7775 41 24.3438 37.5662 24.3438 33.3125C24.3438 32.6975 24.4206 32.1338 24.5744 31.5444L13.3506 25.6506C11.9412 27.2138 9.9425 28.1875 7.6875 28.1875C3.43375 28.1875 0 24.7537 0 20.5C0 16.2463 3.43375 12.8125 7.6875 12.8125C9.9425 12.8125 11.9412 13.8119 13.3506 15.3494L24.5744 9.45563C24.4206 8.86625 24.3438 8.3025 24.3438 7.6875C24.3438 3.43375 27.7775 0 32.0312 0C36.285 0 39.7188 3.43375 39.7188 7.6875C39.7188 11.9412 36.285 15.375 32.0312 15.375C29.7763 15.375 27.7775 14.3756 26.3681 12.8381L15.1444 18.7319C15.4547 19.8902 15.4547 21.1098 15.1444 22.2681L26.3681 28.1619C27.7775 26.5987 29.7763 25.625 32.0312 25.625Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#1A68A9",
        },
    },
};
</script>
