<template>
    <svg
        width="20"
        height="11"
        viewBox="0 0 20 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M1 9.47192L10.1385 2.47192L19 9.47192"
            :stroke="stroke_color"
            stroke-width="3"
        />
    </svg>
</template>

<script>
export default {
    props: {
        stroke_color: {
            type: String,
            default: "black",
        },
    },
};
</script>
