<template>
    <svg
        width="17"
        height="18"
        viewBox="0 0 17 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1.69997 2.33726C1.69997 2.26658 1.72982 2.1988 1.78295 2.14883C1.83609 2.09886 1.90815 2.07078 1.98329 2.07078H11.6164C11.6916 2.07078 11.7636 2.09886 11.8168 2.14883C11.8699 2.1988 11.8998 2.26658 11.8998 2.33726V10.5831C11.8998 10.7951 11.9893 10.9985 12.1487 11.1484C12.3081 11.2983 12.5243 11.3825 12.7497 11.3825C12.9752 11.3825 13.1914 11.2983 13.3508 11.1484C13.5102 10.9985 13.5997 10.7951 13.5997 10.5831V2.33726C13.5997 1.84254 13.3908 1.36809 13.0188 1.01827C12.6469 0.66845 12.1424 0.471924 11.6164 0.471924H1.98329C1.45729 0.471924 0.952833 0.66845 0.580893 1.01827C0.208954 1.36809 0 1.84254 0 2.33726V14.5952C0 15.6248 0.888516 16.4605 1.98329 16.4605H5.57589C5.80132 16.4605 6.01752 16.3763 6.17692 16.2264C6.33632 16.0764 6.42587 15.8731 6.42587 15.6611C6.42587 15.4491 6.33632 15.2457 6.17692 15.0958C6.01752 14.9459 5.80132 14.8616 5.57589 14.8616H1.98329C1.90815 14.8616 1.83609 14.8336 1.78295 14.7836C1.72982 14.7336 1.69997 14.6658 1.69997 14.5952V2.33726ZM4.24992 4.73554C4.02449 4.73554 3.80829 4.81977 3.64889 4.96969C3.48948 5.11961 3.39993 5.32295 3.39993 5.53497C3.39993 5.747 3.48948 5.95033 3.64889 6.10026C3.80829 6.25018 4.02449 6.3344 4.24992 6.3344H9.34982C9.57524 6.3344 9.79144 6.25018 9.95084 6.10026C10.1102 5.95033 10.1998 5.747 10.1998 5.53497C10.1998 5.32295 10.1102 5.11961 9.95084 4.96969C9.79144 4.81977 9.57524 4.73554 9.34982 4.73554H4.24992ZM3.39993 8.73269C3.39993 8.52067 3.48948 8.31733 3.64889 8.16741C3.80829 8.01749 4.02449 7.93326 4.24992 7.93326H6.51654C6.74197 7.93326 6.95816 8.01749 7.11757 8.16741C7.27697 8.31733 7.36652 8.52067 7.36652 8.73269C7.36652 8.94471 7.27697 9.14805 7.11757 9.29797C6.95816 9.44789 6.74197 9.53212 6.51654 9.53212H4.24992C4.02449 9.53212 3.80829 9.44789 3.64889 9.29797C3.48948 9.14805 3.39993 8.94471 3.39993 8.73269ZM16.7435 12.5028C16.8235 12.4294 16.8872 12.342 16.9312 12.2455C16.9752 12.149 16.9986 12.0452 16.9999 11.9402C17.0013 11.8352 16.9807 11.7309 16.9392 11.6334C16.8977 11.5359 16.8363 11.447 16.7583 11.3719C16.6803 11.2967 16.5873 11.2367 16.4847 11.1953C16.382 11.154 16.2718 11.132 16.1601 11.1307C16.0484 11.1294 15.9376 11.1488 15.8339 11.1878C15.7302 11.2268 15.6357 11.2847 15.5558 11.358L10.9931 15.5492L9.38495 14.0302C9.2241 13.8887 9.01114 13.8115 8.79092 13.8147C8.5707 13.818 8.36043 13.9015 8.2044 14.0477C8.04837 14.1939 7.95877 14.3914 7.95447 14.5985C7.95018 14.8056 8.03152 15.0062 8.18137 15.158L10.3834 17.2365C10.5413 17.3857 10.7555 17.4703 10.9794 17.4719C11.2032 17.4735 11.4187 17.392 11.579 17.245L16.7435 12.5017V12.5028Z"
            :fill="path_fill_color"
        />
    </svg>
</template>

<script>
export default {
    props: {
        path_fill_color: {
            type: String,
            default: "#065489",
        },
    },
};
</script>
